<h3 class="ecl-u-type-heading-3">Basic Blockquote</h3>
<figure class="ecl-blockquote">
    <div class="ecl-blockquote__body">
        <blockquote class="ecl-blockquote__quote">
            <p class="ecl-blockquote__citation" lang="en">Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do.</p>
            <footer class="ecl-blockquote__attribution">
                <cite class="ecl-blockquote__author">Mark Twain</cite>
            </footer>
        </blockquote>
    </div>
</figure>

<h3 class="ecl-u-type-heading-3">Blockquote with Image</h3>
<figure class="ecl-blockquote">
    <img src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image alternative text" class="ecl-blockquote__image">
    <div class="ecl-blockquote__body">
        <blockquote class="ecl-blockquote__quote">
            <p class="ecl-blockquote__citation" lang="en">The only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle.</p>
            <footer class="ecl-blockquote__attribution">
                <cite class="ecl-blockquote__author">Steve Jobs</cite>
            </footer>
        </blockquote>
    </div>
</figure>

<h3 class="ecl-u-type-heading-3">Blockquote with Different Language</h3>
<figure class="ecl-blockquote">
    <div class="ecl-blockquote__body">
        <blockquote class="ecl-blockquote__quote">
            <p class="ecl-blockquote__citation" lang="fr">La vie est ce qui arrive quand vous êtes occupé à faire d'autres projets.</p>
            <footer class="ecl-blockquote__attribution">
                <cite class="ecl-blockquote__author">John Lennon</cite>
            </footer>
        </blockquote>
    </div>
</figure>

<h3 class="ecl-u-type-heading-3">Blockquote with Color Mode</h3>
<figure class="ecl-blockquote ecl-color-mode--dark">
    <div class="ecl-blockquote__body">
        <blockquote class="ecl-blockquote__quote">
            <p class="ecl-blockquote__citation" lang="en">The best way to predict the future is to create it.</p>
            <footer class="ecl-blockquote__attribution">
                <cite class="ecl-blockquote__author">Peter Drucker</cite>
            </footer>
        </blockquote>
    </div>
</figure>