<!-- Default blockquote, no image -->
<figure class="ecl-blockquote">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">
        Twenty years from now you will be more disappointed by the things that
        you did not do than by the ones you did do.
      </p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Mark Twain</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<!-- Blockquote with responsive picture and decorative image -->
<figure class="ecl-blockquote">
  <picture class="ecl-picture ecl-blockquote__picture">
    <source
      srcset="
        https://inno-ecl.s3.amazonaws.com/media/examples/example-image5.jpg
      "
      media="(min-width: 1140px)"
    />
    <source
      srcset="
        https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg
      "
      media="(min-width: 996px)"
    />
    <source
      srcset="
        https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg
      "
      media="(min-width: 480px)"
    />
    <img
      class="ecl-blockquote__image"
      src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
      alt=""
    />
  </picture>
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales,
        nisl tincidunt hendrerit elementum, purus risus tempus dui.
      </p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Someone</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<!-- Blockquote with content-language marking -->
<figure class="ecl-blockquote">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="fr">
        La vie est ce qui arrive quand vous etes occupe a faire d'autres
        projets.
      </p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">John Lennon</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<!-- Extension hooks with extra class and root attributes -->
<figure
  class="ecl-blockquote custom-class custom-class--test"
  data-test="data-test-value"
  data-test-empty
>
  <picture class="ecl-picture ecl-blockquote__picture">
    <img
      class="ecl-blockquote__image"
      src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
      alt="Image alternative text"
    />
  </picture>
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">
        The only way to do great work is to love what you do.
      </p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Steve Jobs</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<!-- Tagged empty-input/root-only edge output -->
<figure class="ecl-blockquote">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en"></p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author"></cite>
      </footer>
    </blockquote>
  </div>
</figure>

<!-- EC color modes -->
<figure class="ecl-blockquote ecl-color-mode--blue">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Blue mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--blue-electric">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">
        Blue electric mode quote.
      </p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--blue-navy">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Blue navy mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--blue-ocean">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Blue ocean mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--green">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Green mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--green-dark">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Green dark mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--green-lemon">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Green lemon mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--green-pine">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Green pine mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--orange">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Orange mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--purple">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Purple mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--purple-violet">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">
        Purple violet mode quote.
      </p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--red-crayola">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Red crayola mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--red-tomato">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Red tomato mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--warm-grey">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Warm grey mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>

<figure class="ecl-blockquote ecl-color-mode--yellow-gold">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">Yellow gold mode quote.</p>
      <footer class="ecl-blockquote__attribution">
        <cite class="ecl-blockquote__author">Author</cite>
      </footer>
    </blockquote>
  </div>
</figure>
