<!-- Full card: picture, labels, meta, linked title, description, vertical secondary meta, and lists -->
<article class="ecl-card">
  <picture class="ecl-picture ecl-card__picture" data-ecl-picture-link>
    <source srcset="/example-image5.jpg" media="(min-width: 1140px)" />
    <source srcset="/example-image4.jpg" media="(min-width: 996px)" />
    <source srcset="/example-image3.jpg" media="(min-width: 768px)" />
    <source srcset="/example-image2.jpg" media="(min-width: 480px)" />
    <img
      class="ecl-card__image"
      src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
      alt="card image"
    />
  </picture>
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <ul class="ecl-content-block__label-container" aria-label="Labels">
        <li class="ecl-content-block__label-item">
          <span class="ecl-label ecl-label--highlight">Highlight</span>
        </li>
        <li class="ecl-content-block__label-item">
          <span class="ecl-label ecl-label--medium">Medium</span>
        </li>
      </ul>
      <ul class="ecl-content-block__primary-meta-container">
        <li class="ecl-content-block__primary-meta-item">Meta Info</li>
        <li class="ecl-content-block__primary-meta-item">DD Month YYYY</li>
      </ul>
      <div class="ecl-content-block__title">
        <a
          class="ecl-link ecl-link--standalone"
          href="/example"
          data-ecl-title-link
          >Title: Lorem ipsum dolor sit amet consectetur adipiscing. Lorem ipsum
          dolor sit amet consectetur adipiscing.</a
        >
      </div>
      <div class="ecl-content-block__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="ecl-content-block__secondary-meta-container">
        <div class="ecl-content-block__secondary-meta-item">
          <span
            aria-hidden="true"
            class="wt-icon--calendar ecl-icon ecl-icon--s ecl-content-block__secondary-meta-icon ecl-icon--calendar"
          ></span>
          <span class="ecl-content-block__secondary-meta-label"
            >List Icon Element</span
          >
        </div>
      </div>
      <div class="ecl-content-block__list-container">
        <dl class="ecl-description-list ecl-content-block__list">
          <dt class="ecl-description-list__term">Standalone links</dt>
          <dd
            class="ecl-description-list__definition ecl-description-list__definition--link"
          >
            <ul class="ecl-description-list__definition-list">
              <li class="ecl-description-list__definition-item">
                <a class="ecl-link ecl-link--standalone" href="/example"
                  >Lorem ipsum dolor</a
                >
              </li>
              <li class="ecl-description-list__definition-item">
                <a class="ecl-link ecl-link--standalone" href="/example"
                  >Lorem ipsum dolor</a
                >
              </li>
            </ul>
          </dd>
          <dt class="ecl-description-list__term">Standard text</dt>
          <dd class="ecl-description-list__definition">
            Lorem ipsum dolor sit amet,
            <a href="/example" class="ecl-link">consectetur adipiscing elit</a>.
          </dd>
          <dt class="ecl-description-list__term">Links inline</dt>
          <dd
            class="ecl-description-list__definition ecl-description-list__definition--inline"
          >
            <ul class="ecl-description-list__definition-list">
              <li class="ecl-description-list__definition-item">
                <a class="ecl-link ecl-link--standalone" href="/example"
                  >Lorem ipsum dolor</a
                >
              </li>
              <li class="ecl-description-list__definition-item">
                <a class="ecl-link ecl-link--standalone" href="/example"
                  >Lorem ipsum dolor</a
                >
              </li>
            </ul>
          </dd>
          <dt class="ecl-description-list__term">Taxonomy list</dt>
          <dd
            class="ecl-description-list__definition ecl-description-list__definition--taxonomy"
          >
            <ul class="ecl-description-list__definition-list">
              <li class="ecl-description-list__definition-item">
                Taxonomy item 1
              </li>
              <li class="ecl-description-list__definition-item">
                Taxonomy item 2
              </li>
              <li class="ecl-description-list__definition-item">
                Taxonomy item 3
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</article>

<!-- Compact card: no picture, single-item div branches, plain title, horizontal meta, and extension hooks -->
<article
  class="ecl-card card-example--compact"
  data-card-id="compact"
  data-card-flag
>
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__label-container">
        <div class="ecl-content-block__label-item">
          <span class="ecl-label ecl-label--low">Low</span>
        </div>
      </div>
      <div class="ecl-content-block__primary-meta-container">
        <div class="ecl-content-block__primary-meta-item">Briefing</div>
      </div>
      <div class="ecl-content-block__title">
        Interoperable open data services
      </div>
      <div class="ecl-content-block__description">
        Shared data pipelines simplify reporting.
      </div>
      <div
        class="ecl-content-block__secondary-meta-container ecl-content-block__secondary-meta-container--horizontal"
      >
        <div class="ecl-content-block__secondary-meta-item">
          <span
            aria-hidden="true"
            class="wt-icon--location ecl-icon ecl-icon--s ecl-content-block__secondary-meta-icon ecl-icon--location"
          ></span>
          <span class="ecl-content-block__secondary-meta-label">Brussels</span>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- Zoomed picture without title link: no picture link hook is emitted -->
<article class="ecl-card">
  <picture class="ecl-picture ecl-picture--zoom ecl-card__picture">
    <img
      class="ecl-card__image"
      src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
      alt=""
    />
  </picture>
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Decorative image card</div>
    </div>
  </div>
</article>

<!-- Missing image data: picture is omitted but content remains -->
<article class="ecl-card">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">
        <a
          class="ecl-link ecl-link--standalone"
          href="/example"
          data-ecl-title-link
          >Card with title only</a
        >
      </div>
    </div>
  </div>
</article>

<!-- Empty-input/root-only contract output -->
<article class="ecl-card">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    ></div>
  </div>
</article>

<!-- EC color mode examples -->
<article class="ecl-card ecl-color-mode--blue">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Blue card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--blue-electric">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Blue electric card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--blue-navy">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Blue navy card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--blue-ocean">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Blue ocean card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--green">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Green card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--green-dark">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Green dark card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--green-lemon">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Green lemon card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--green-pine">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Green pine card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--orange">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Orange card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--purple">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Purple card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--purple-violet">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Purple violet card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--red-crayola">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Red crayola card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--red-tomato">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Red tomato card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--warm-grey">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Warm grey card</div>
    </div>
  </div>
</article>
<article class="ecl-card ecl-color-mode--yellow-gold">
  <div class="ecl-card__body">
    <div
      class="ecl-content-block ecl-card__content-block"
      data-ecl-auto-init="ContentBlock"
      data-ecl-content-block
    >
      <div class="ecl-content-block__title">Yellow gold card</div>
    </div>
  </div>
</article>
