<h4 class="ecl-u-type-heading-4 ecl-u-mt-l">Default category filter</h4>
<nav class="ecl-category-filter" data-ecl-category-filter data-ecl-auto-init="CategoryFilter" aria-label="Category filter">
  <ul class="ecl-category-filter__list">
    <li class="ecl-category-filter__list-item">
      <a href="/example" class="ecl-category-filter__item ecl-category-filter__item--level-1" aria-current="true">
        Item 1
      </a>
    </li>
    <li class="ecl-category-filter__list-item">
      <button class="ecl-category-filter__item ecl-category-filter__item--level-1 ecl-category-filter__item--has-children" aria-expanded="false" aria-controls="unique-id-2">
        Item 2 label
        <span class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-category-filter__item-icon" aria-hidden="true"></span>
      </button>
      <ul class="ecl-category-filter__list" id="unique-id-2">
        <li class="ecl-category-filter__list-item">
          <a href="/example" class="ecl-category-filter__item ecl-category-filter__item--level-2">
            Item 2.1
          </a>
        </li>
        <li class="ecl-category-filter__list-item">
          <a href="/example" class="ecl-category-filter__item ecl-category-filter__item--level-2">
            Item 2.2
          </a>
        </li>
        <li class="ecl-category-filter__list-item">
          <a href="/example" class="ecl-category-filter__item ecl-category-filter__item--level-2">
            Item 2.3
          </a>
        </li>
      </ul>
    </li>
    <li class="ecl-category-filter__list-item">
      <a href="/example" class="ecl-category-filter__item ecl-category-filter__item--level-1">
        Item 3 with a very long label
      </a>
    </li>
  </ul>
</nav>

<h4 class="ecl-u-type-heading-4 ecl-u-mt-xl">Simple category filter</h4>
<nav class="ecl-category-filter" data-ecl-category-filter data-ecl-auto-init="CategoryFilter" aria-label="Simple category filter">
  <ul class="ecl-category-filter__list">
    <li class="ecl-category-filter__list-item">
      <a href="/example" class="ecl-category-filter__item ecl-category-filter__item--level-1">
        Simple Item 1
      </a>
    </li>
    <li class="ecl-category-filter__list-item">
      <a href="/example" class="ecl-category-filter__item ecl-category-filter__item--level-1">
        Simple Item 2
      </a>
    </li>
    <li class="ecl-category-filter__list-item">
      <a href="/example" class="ecl-category-filter__item ecl-category-filter__item--level-1">
        Simple Item 3
      </a>
    </li>
  </ul>
</nav>
