<h3 class="ecl-u-type-heading-3">Basic Checkboxes</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-checkbox">
    <input name="checkbox-basic" class="ecl-checkbox__input" type="checkbox" value="es" id="checkbox-basic-1" checked>
    <label for="checkbox-basic-1" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">Spain</span>
    </label>
  </div>
  <div class="ecl-checkbox">
    <input name="checkbox-basic" class="ecl-checkbox__input" type="checkbox" value="be" id="checkbox-basic-2">
    <label for="checkbox-basic-2" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">Belgium</span>
    </label>
  </div>
  <div class="ecl-checkbox ecl-checkbox--disabled">
    <input name="checkbox-basic" class="ecl-checkbox__input" type="checkbox" value="fr" id="checkbox-basic-3" disabled>
    <label for="checkbox-basic-3" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box ecl-checkbox__box--disabled">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">France (disabled)</span>
    </label>
  </div>
  <div class="ecl-checkbox">
    <input name="checkbox-basic" class="ecl-checkbox__input" type="checkbox" value="lorem" id="checkbox-basic-4">
    <label for="checkbox-basic-4" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">Lorem ipsum dolor sit amet, <a href="/example">consectetur adipiscing elit</a></span>
    </label>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Required Checkboxes</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-checkbox">
    <input name="checkbox-required" class="ecl-checkbox__input" type="checkbox" value="es" id="checkbox-required-1" required>
    <label for="checkbox-required-1" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">Spain</span>
      <span class="ecl-form-label__required">(required)</span>
    </label>
  </div>
  <div class="ecl-checkbox">
    <input name="checkbox-required" class="ecl-checkbox__input" type="checkbox" value="be" id="checkbox-required-2" required>
    <label for="checkbox-required-2" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">Belgium</span>
      <span class="ecl-form-label__required">(required)</span>
    </label>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Invalid Checkboxes</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-checkbox ecl-checkbox--invalid">
    <input name="checkbox-invalid" class="ecl-checkbox__input" type="checkbox" value="es" id="checkbox-invalid-1">
    <label for="checkbox-invalid-1" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box ecl-checkbox__box--invalid">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">Spain</span>
    </label>
  </div>
  <div class="ecl-checkbox ecl-checkbox--invalid">
    <input name="checkbox-invalid" class="ecl-checkbox__input" type="checkbox" value="be" id="checkbox-invalid-2">
    <label for="checkbox-invalid-2" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box ecl-checkbox__box--invalid">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">Belgium</span>
    </label>
  </div>
  <div class="ecl-feedback-message">
    <span class="wt-icon--error-outline ecl-icon ecl-icon--s ecl-feedback-message__icon" data-ecl-icon aria-hidden="true"></span>
    Error text
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Single Checkbox</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-checkbox ecl-checkbox--single">
    <input name="checkbox-single" class="ecl-checkbox__input" type="checkbox" value="agree" id="checkbox-single-1">
    <label for="checkbox-single-1" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">I agree to the terms and conditions</span>
    </label>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Checkbox with Helper Text</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-checkbox">
    <input name="checkbox-helper" class="ecl-checkbox__input" type="checkbox" value="yes" id="checkbox-helper-1">
    <label for="checkbox-helper-1" class="ecl-checkbox__label">
      <span class="ecl-checkbox__box">
        <span class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon" data-ecl-icon aria-hidden="true"></span>
      </span>
      <span class="ecl-checkbox__text">Subscribe to newsletter</span>
    </label>
    <div class="ecl-checkbox__help" id="checkbox-helper-1-helper">
      Optional help text
    </div>
  </div>
</div>
