<!-- Default content item: labels, meta, linked title, description, secondary meta, and description list -->
<article class="ecl-content-item ecl-u-mb-2xl">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <ul class="ecl-content-block__label-container" aria-label="Labels">
      <li class="ecl-content-block__label-item">
        <span class="ecl-label ecl-label--highlight">highlight</span>
      </li>
      <li class="ecl-content-block__label-item">
        <span class="ecl-label ecl-label--high">high importance</span>
      </li>
    </ul>
    <ul class="ecl-content-block__primary-meta-container">
      <li class="ecl-content-block__primary-meta-item">PRIMARY META</li>
      <li class="ecl-content-block__primary-meta-item">DD Month Year</li>
    </ul>
    <div class="ecl-content-block__title">
      <a
        class="ecl-link ecl-link--standalone"
        href="/example"
        data-ecl-title-link
        >Resilient digital public services</a
      >
    </div>
    <div class="ecl-content-block__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida
      ipsum ut lorem cursus, quis tincidunt sem viverra.
    </div>
    <ul class="ecl-content-block__secondary-meta-container">
      <li class="ecl-content-block__secondary-meta-item">
        <span
          aria-hidden="true"
          class="wt-icon--calendar ecl-icon ecl-icon--s ecl-content-block__secondary-meta-icon ecl-icon--calendar"
        ></span>
        <span class="ecl-content-block__secondary-meta-label">2018/10/22</span>
      </li>
      <li class="ecl-content-block__secondary-meta-item">
        <span
          aria-hidden="true"
          class="wt-icon--location ecl-icon ecl-icon--s ecl-content-block__secondary-meta-icon ecl-icon--location"
        ></span>
        <span class="ecl-content-block__secondary-meta-label">Luxembourg</span>
      </li>
      <li class="ecl-content-block__secondary-meta-item">
        <span class="ecl-content-block__secondary-meta-label"
          >No icon metadata</span
        >
      </li>
    </ul>
    <div class="ecl-content-block__list-container">
      <dl class="ecl-description-list ecl-content-block__list">
        <dt class="ecl-description-list__term">Standard text</dt>
        <dd class="ecl-description-list__definition">
          Guidance covers design rules and
          <a class="ecl-link" href="/example">implementation notes</a>.
        </dd>
        <dt class="ecl-description-list__term">Standalone links</dt>
        <dd
          class="ecl-description-list__definition ecl-description-list__definition--link"
        >
          <ul class="ecl-description-list__definition-list">
            <li class="ecl-description-list__definition-item">
              <a class="ecl-link ecl-link--standalone" href="/example"
                >Digital strategy update</a
              >
            </li>
            <li class="ecl-description-list__definition-item">
              <a class="ecl-link ecl-link--standalone" href="/example"
                >Funding opportunities</a
              >
            </li>
          </ul>
        </dd>
        <dt class="ecl-description-list__term">Links inline</dt>
        <dd
          class="ecl-description-list__definition ecl-description-list__definition--inline"
        >
          <ul class="ecl-description-list__definition-list">
            <li class="ecl-description-list__definition-item">
              <a class="ecl-link ecl-link--standalone" href="/example"
                >Roadmap</a
              >
            </li>
            <li class="ecl-description-list__definition-item">
              <a class="ecl-link ecl-link--standalone" href="/example"
                >Milestones</a
              >
            </li>
          </ul>
        </dd>
        <dt class="ecl-description-list__term">Taxonomy list</dt>
        <dd
          class="ecl-description-list__definition ecl-description-list__definition--taxonomy"
        >
          <ul class="ecl-description-list__definition-list">
            <li class="ecl-description-list__definition-item">
              Digital government
            </li>
            <li class="ecl-description-list__definition-item">
              User experience
            </li>
            <li class="ecl-description-list__definition-item">Accessibility</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</article>

<!-- Picture left, large, responsive sources, title link picture hook, and zoom -->
<article class="ecl-content-item ecl-u-mb-2xl">
  <picture
    class="ecl-picture ecl-picture--zoom ecl-content-item__picture ecl-content-item__picture--large ecl-content-item__picture--left"
    data-ecl-picture-link
  >
    <source
      srcset="
        https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg
      "
      media="(min-width: 480px)"
      type="image/jpg"
    />
    <img
      class="ecl-content-item__image"
      src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
      alt="Alt text of the image"
    />
  </picture>
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">
      <a
        class="ecl-link ecl-link--standalone"
        href="/example"
        data-ecl-title-link
        >EU innovation spotlight</a
      >
    </div>
    <div class="ecl-content-block__description">
      Image content item with a linked title.
    </div>
  </div>
</article>

<!-- Picture right, small, no linked title, no picture hook -->
<article
  class="ecl-content-item ecl-content-item--divider custom-content-item"
  data-test="content-item"
  data-ready
>
  <picture
    class="ecl-picture ecl-content-item__picture ecl-content-item__picture--small ecl-content-item__picture--right"
  >
    <img
      class="ecl-content-item__image"
      src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image-square.jpg"
      alt=""
    />
  </picture>
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__label-container">
      <div class="ecl-content-block__label-item">
        <span class="ecl-label ecl-label--medium">medium importance</span>
      </div>
    </div>
    <div class="ecl-content-block__primary-meta-container">
      <div class="ecl-content-block__primary-meta-item">Single meta item</div>
    </div>
    <div class="ecl-content-block__title">Plain title without link</div>
  </div>
</article>

<!-- Picture top stack and horizontal delegated content -->
<article class="ecl-content-item ecl-content-item--stack ecl-u-mb-2xl">
  <picture
    class="ecl-picture ecl-content-item__picture ecl-content-item__picture--large ecl-content-item__picture--top"
  >
    <img
      class="ecl-content-item__image"
      src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
      alt="Illustration for the highlighted topic"
    />
  </picture>
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Top image content item</div>
    <ul
      class="ecl-content-block__secondary-meta-container ecl-content-block__secondary-meta-container--horizontal"
    >
      <li class="ecl-content-block__secondary-meta-item">
        <span
          aria-hidden="true"
          class="wt-icon--calendar ecl-icon ecl-icon--s ecl-content-block__secondary-meta-icon ecl-icon--calendar"
        ></span>
        <span class="ecl-content-block__secondary-meta-label">2026/07/14</span>
      </li>
      <li class="ecl-content-block__secondary-meta-item">
        <span class="ecl-content-block__secondary-meta-label"
          >Horizontal metadata</span
        >
      </li>
    </ul>
    <div class="ecl-content-block__list-container">
      <dl
        class="ecl-description-list ecl-description-list--horizontal ecl-content-block__list"
      >
        <dt class="ecl-description-list__term">Topic</dt>
        <dd class="ecl-description-list__definition">Digital transition</dd>
        <dt class="ecl-description-list__term">Audience</dt>
        <dd class="ecl-description-list__definition">Public administrations</dd>
      </dl>
    </div>
  </div>
</article>

<!-- Event content item with delegated date block -->
<article class="ecl-content-item ecl-content-item--inline ecl-u-mb-2xl">
  <time
    class="ecl-date-block ecl-date-block--ongoing ecl-content-item__date"
    datetime="2019-09-26"
  >
    <span class="ecl-date-block__daytime">2019-09-26</span>
    <span class="ecl-date-block__day" aria-hidden="true">26</span>
    <abbr title="September" class="ecl-date-block__month" aria-hidden="true"
      >Sep</abbr
    >
    <span class="ecl-date-block__year" aria-hidden="true">2019</span>
  </time>
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">
      <a
        class="ecl-link ecl-link--standalone"
        href="/example"
        data-ecl-title-link
        >Urban mobility consultation</a
      >
    </div>
    <div class="ecl-content-block__description">
      Event content item with a date marker.
    </div>
  </div>
</article>

<!-- Empty input contract: tagged Twig still emits an empty content block -->
<article class="ecl-content-item ecl-u-mb-2xl">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  ></div>
</article>

<!-- Color mode coverage -->
<article class="ecl-content-item ecl-color-mode--blue">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Blue mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--blue-electric">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Blue electric mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--blue-navy">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Blue navy mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--blue-ocean">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Blue ocean mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--green">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Green mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--green-dark">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Green dark mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--green-lemon">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Green lemon mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--green-pine">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Green pine mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--orange">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Orange mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--purple">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Purple mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--purple-violet">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Purple violet mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--red-crayola">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Red crayola mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--red-tomato">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Red tomato mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--warm-grey">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Warm grey mode</div>
  </div>
</article>
<article class="ecl-content-item ecl-color-mode--yellow-gold">
  <div
    class="ecl-content-block ecl-content-item__content-block"
    data-ecl-auto-init="ContentBlock"
    data-ecl-content-block
  >
    <div class="ecl-content-block__title">Yellow gold mode</div>
  </div>
</article>
