<h3 class="ecl-u-type-heading-3">Basic Content Block</h3>
<div class="ecl-content-block" data-ecl-auto-init="ContentBlock" data-ecl-content-block>
    <div class="ecl-content-block__title">
        <a href="#" class="ecl-link ecl-link--standalone">Content Block Title</a>
    </div>
    <div class="ecl-content-block__description">
        This is a basic content block with a title and description. It can contain various types of content and metadata.
    </div>
    <div class="ecl-content-block__link-container">
        <ul class="ecl-content-block__link-list">
            <li class="ecl-content-block__link-item">
                <a href="#" class="ecl-link ecl-link--standalone">Primary Link 1</a>
            </li>
            <li class="ecl-content-block__link-item">
                <a href="#" class="ecl-link ecl-link--standalone">Primary Link 2</a>
            </li>
        </ul>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Content Block with Labels and Meta</h3>
<div class="ecl-content-block" data-ecl-auto-init="ContentBlock" data-ecl-content-block>
    <ul class="ecl-content-block__label-container" aria-label="Labels">
        <li class="ecl-content-block__label-item">
            <span class="ecl-label ecl-label--highlight">Highlight</span>
        </li>
        <li class="ecl-content-block__label-item">
            <span class="ecl-label ecl-label--high">High Importance</span>
        </li>
    </ul>
    <ul class="ecl-content-block__primary-meta-container">
        <li class="ecl-content-block__primary-meta-item">PRIMARY META</li>
        <li class="ecl-content-block__primary-meta-item">DD Month Year</li>
    </ul>
    <div class="ecl-content-block__title">
        <a href="#" class="ecl-link ecl-link--standalone">Content Block with Labels</a>
    </div>
    <div class="ecl-content-block__description">
        This content block includes labels and primary metadata to provide additional context and categorization.
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Content Block with Secondary Meta</h3>
<div class="ecl-content-block" data-ecl-auto-init="ContentBlock" data-ecl-content-block>
    <div class="ecl-content-block__title">
        <a href="#" class="ecl-link ecl-link--standalone">Event Information</a>
    </div>
    <div class="ecl-content-block__description">
        Detailed information about upcoming events and activities.
    </div>
    <ul class="ecl-content-block__secondary-meta-container">
        <li class="ecl-content-block__secondary-meta-item">
            <span class="wt-icon--calendar ecl-icon ecl-icon--s ecl-content-block__secondary-meta-icon" focusable="false" aria-hidden="true" data-ecl-icon></span>
            <span class="ecl-content-block__secondary-meta-label">2025/12/04</span>
        </li>
        <li class="ecl-content-block__secondary-meta-item">
            <span class="wt-icon--location ecl-icon ecl-icon--s ecl-content-block__secondary-meta-icon" focusable="false" aria-hidden="true" data-ecl-icon></span>
            <span class="ecl-content-block__secondary-meta-label">Brussels, Belgium</span>
        </li>
    </ul>
    <div class="ecl-content-block__link-container">
        <ul class="ecl-content-block__link-list">
            <li class="ecl-content-block__link-item">
                <a href="#" class="ecl-link ecl-link--standalone">Register Now</a>
            </li>
            <li class="ecl-content-block__link-item">
                <a href="#" class="ecl-link ecl-link--standalone">View Details</a>
            </li>
        </ul>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Content Block with List</h3>
<div class="ecl-content-block" data-ecl-auto-init="ContentBlock" data-ecl-content-block>
    <div class="ecl-content-block__title">
        <a href="#" class="ecl-link ecl-link--standalone">European Commission</a>
    </div>
    <div class="ecl-content-block__description">
        Information about the European Commission and related organizations.
    </div>
    <div class="ecl-content-block__list-container">
        <dl class="ecl-description-list ecl-content-block__list">
            <dt class="ecl-description-list__term">European Commission</dt>
            <dd class="ecl-description-list__definition">The executive body of the European Union formed in 1967, which initiates action in the EU and mediates between member governments.</dd>
            <dt class="ecl-description-list__term">European Union</dt>
            <dd class="ecl-description-list__definition">An association of European nations formed in 1993 for the purpose of achieving political and economic integration.</dd>
            <dt class="ecl-description-list__term">Citizen</dt>
            <dd class="ecl-description-list__definition">A native or naturalized member of a state or nation who owes allegiance to its government and is entitled to its protection.</dd>
        </dl>
    </div>
</div>