<h3 class="ecl-u-type-heading-3">Default Date Block</h3>
<time class="ecl-date-block" datetime="2024-09-26">
    <span class="ecl-date-block__daytime">2024-09-26</span>
    <span class="ecl-date-block__day" aria-hidden="true">26</span>
    <abbr class="ecl-date-block__month" title="September" aria-hidden="true">Sep</abbr>
    <span class="ecl-date-block__year" aria-hidden="true">2024</span>
</time>

<h3 class="ecl-u-type-heading-3">Ongoing Date Block</h3>
<time class="ecl-date-block ecl-date-block--ongoing" datetime="2024-09-26">
    <span class="ecl-date-block__daytime">2024-09-26</span>
    <span class="ecl-date-block__day" aria-hidden="true">26</span>
    <abbr class="ecl-date-block__month" title="September" aria-hidden="true">Sep</abbr>
    <span class="ecl-date-block__year" aria-hidden="true">2024</span>
</time>

<h3 class="ecl-u-type-heading-3">Past Date Block</h3>
<time class="ecl-date-block ecl-date-block--past" datetime="2024-09-26">
    <span class="ecl-date-block__daytime">2024-09-26</span>
    <span class="ecl-date-block__day" aria-hidden="true">26</span>
    <abbr class="ecl-date-block__month" title="September" aria-hidden="true">Sep</abbr>
    <span class="ecl-date-block__year" aria-hidden="true">2024</span>
</time>