<h3 class="ecl-u-type-heading-3">Default datepicker</h3>
<div
  class="ecl-datepicker ecl-datepicker--m"
  data-ecl-auto-init="Datepicker"
  data-value="2025-08-30 14:13:48 Europe/Brussels"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="example-input-id-1"
    name="example-input-name-1"
    first-day-of-week="1"
    min="2024-06-15"
    max="2026-08-30"
  ></duet-date-picker>
</div>

<h3 class="ecl-u-type-heading-3">Required datepicker</h3>
<div
  class="ecl-datepicker ecl-datepicker--m"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-required"
    name="datepicker-required-name"
    first-day-of-week="1"
    required
  ></duet-date-picker>
</div>

<h3 class="ecl-u-type-heading-3">Disabled small datepicker</h3>
<div
  class="ecl-datepicker ecl-datepicker--s"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-disabled"
    name="datepicker-disabled-name"
    first-day-of-week="1"
    disabled
  ></duet-date-picker>
</div>

<h3 class="ecl-u-type-heading-3">Invalid large datepicker</h3>
<div
  class="ecl-datepicker ecl-datepicker--l ecl-datepicker--invalid"
  data-ecl-auto-init="Datepicker"
  data-value="2025-08-30"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
  invalid
>
  <duet-date-picker
    identifier="datepicker-invalid"
    name="datepicker-invalid-name"
    first-day-of-week="1"
    required
  ></duet-date-picker>
</div>

<h3 class="ecl-u-type-heading-3">Custom root attributes</h3>
<div
  class="ecl-datepicker ecl-datepicker--m custom-datepicker custom-datepicker--test"
  data-test="data-test-value"
  data-test-flag
  data-placeholder="DD/MM/YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-custom"
    name="datepicker-custom-name"
    first-day-of-week="0"
    min="2024-01-01"
    max="2024-12-31"
  ></duet-date-picker>
</div>

<h3 class="ecl-u-type-heading-3">No default value or placeholder</h3>
<div
  class="ecl-datepicker ecl-datepicker--m"
  data-ecl-auto-init="Datepicker"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-no-placeholder"
    name="datepicker-no-placeholder-name"
    first-day-of-week="2"
  ></duet-date-picker>
</div>

<h3 class="ecl-u-type-heading-3">Color mode examples</h3>
<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--blue"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-blue"
    name="datepicker-blue-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--blue-electric"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-blue-electric"
    name="datepicker-blue-electric-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--blue-navy"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-blue-navy"
    name="datepicker-blue-navy-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--blue-ocean"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-blue-ocean"
    name="datepicker-blue-ocean-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--green"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-green"
    name="datepicker-green-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--green-dark"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-green-dark"
    name="datepicker-green-dark-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--green-lemon"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-green-lemon"
    name="datepicker-green-lemon-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--green-pine"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-green-pine"
    name="datepicker-green-pine-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--orange"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-orange"
    name="datepicker-orange-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--purple"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-purple"
    name="datepicker-purple-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--purple-violet"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-purple-violet"
    name="datepicker-purple-violet-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--red-crayola"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-red-crayola"
    name="datepicker-red-crayola-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--red-tomato"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-red-tomato"
    name="datepicker-red-tomato-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--warm-grey"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-warm-grey"
    name="datepicker-warm-grey-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>

<div
  class="ecl-datepicker ecl-datepicker--m ecl-color-mode--yellow-gold"
  data-ecl-auto-init="Datepicker"
  data-placeholder="DD-MM-YYYY"
  data-ecl-datepicker-toggle
>
  <duet-date-picker
    identifier="datepicker-yellow-gold"
    name="datepicker-yellow-gold-name"
    first-day-of-week="1"
  ></duet-date-picker>
</div>
