<h3 class="ecl-u-type-heading-3">Default Description List</h3>
<dl class="ecl-description-list" data-ecl-description-list data-ecl-description-list-more-label="Show more items" data-ecl-description-list-visible-items="2" data-ecl-auto-init="DescriptionList">
    <dt class="ecl-description-list__term">Label 01</dt>
    <dd class="ecl-description-list__definition">Descriptive text with <a href="/example" class="ecl-link">inline link</a></dd>
    <dt class="ecl-description-list__term">Label 02</dt>
    <dd class="ecl-description-list__definition ecl-description-list__definition--link">
        <ul class="ecl-description-list__definition-list" data-ecl-description-list-collapsible>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link</a>
            </li>
        </ul>
    </dd>
    <dt class="ecl-description-list__term">Label 03</dt>
    <dd class="ecl-description-list__definition">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</dd>
    <dt class="ecl-description-list__term">Label 04</dt>
    <dd class="ecl-description-list__definition ecl-description-list__definition--link">
        <ul class="ecl-description-list__definition-list" data-ecl-description-list-collapsible>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone ecl-link--icon">
                    <span class="ecl-link__label">Standalone link</span>
                    <span aria-hidden="false" class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" role="img" title="Link to an external domain"></span>
                </a>
            </li>
        </ul>
    </dd>
    <dt class="ecl-description-list__term">Label 05</dt>
    <dd class="ecl-description-list__definition ecl-description-list__definition--inline">
        <ul class="ecl-description-list__definition-list" data-ecl-description-list-collapsible>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link 1</a>
            </li>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link 2</a>
            </li>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link 3</a>
            </li>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link 4</a>
            </li>
        </ul>
    </dd>
</dl>

<h3 class="ecl-u-type-heading-3">Horizontal Description List</h3>
<dl class="ecl-description-list ecl-description-list--horizontal" data-ecl-description-list data-ecl-description-list-more-label="Show more items" data-ecl-description-list-visible-items="2" data-ecl-auto-init="DescriptionList">
    <dt class="ecl-description-list__term">Label 01</dt>
    <dd class="ecl-description-list__definition">Descriptive text with <a href="/example" class="ecl-link">inline link</a></dd>
    <dt class="ecl-description-list__term">Label 02</dt>
    <dd class="ecl-description-list__definition ecl-description-list__definition--link">
        <ul class="ecl-description-list__definition-list" data-ecl-description-list-collapsible>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link</a>
            </li>
        </ul>
    </dd>
    <dt class="ecl-description-list__term">Label 03</dt>
    <dd class="ecl-description-list__definition">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</dd>
    <dt class="ecl-description-list__term">Label 04</dt>
    <dd class="ecl-description-list__definition ecl-description-list__definition--link">
        <ul class="ecl-description-list__definition-list" data-ecl-description-list-collapsible>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone ecl-link--icon">
                    <span class="ecl-link__label">Standalone link</span>
                    <span aria-hidden="false" class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" role="img" title="Link to an external domain"></span>
                </a>
            </li>
        </ul>
    </dd>
    <dt class="ecl-description-list__term">Label 05</dt>
    <dd class="ecl-description-list__definition ecl-description-list__definition--inline">
        <ul class="ecl-description-list__definition-list" data-ecl-description-list-collapsible>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link 1</a>
            </li>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link 2</a>
            </li>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link 3</a>
            </li>
            <li class="ecl-description-list__definition-item">
                <a href="/example" class="ecl-link ecl-link--standalone">Standalone link 4</a>
            </li>
        </ul>
    </dd>
</dl>