<!-- Default vertical list with collapsible definition lists -->
<dl
  class="ecl-description-list"
  data-ecl-description-list
  data-ecl-description-list-more-label="Show more items"
  data-ecl-description-list-visible-items="2"
  data-ecl-auto-init="DescriptionList"
>
  <dt class="ecl-description-list__term">Label 01</dt>
  <dd class="ecl-description-list__definition">
    Descriptive text with <a class="ecl-link" href="/example">inline link</a>
  </dd>
  <dt class="ecl-description-list__term">Label 02</dt>
  <dd
    class="ecl-description-list__definition ecl-description-list__definition--link"
  >
    <ul
      class="ecl-description-list__definition-list"
      data-ecl-description-list-collapsible
    >
      <li class="ecl-description-list__definition-item">
        <a class="ecl-link ecl-link--standalone" href="/example"
          >Standalone link</a
        >
      </li>
    </ul>
  </dd>
  <dt class="ecl-description-list__term">Label 03</dt>
  <dd class="ecl-description-list__definition">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt.
  </dd>
  <dt class="ecl-description-list__term">Label 04</dt>
  <dd
    class="ecl-description-list__definition ecl-description-list__definition--link"
  >
    <ul
      class="ecl-description-list__definition-list"
      data-ecl-description-list-collapsible
    >
      <li class="ecl-description-list__definition-item">
        <a class="ecl-link ecl-link--standalone ecl-link--icon" href="/example">
          <span class="ecl-link__label">Standalone link</span>
          <span
            aria-hidden="false"
            class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external"
            role="img"
            title="Link to an external domain"
          ></span>
        </a>
      </li>
    </ul>
  </dd>
  <dt class="ecl-description-list__term">Label 05</dt>
  <dd
    class="ecl-description-list__definition ecl-description-list__definition--inline"
  >
    <ul
      class="ecl-description-list__definition-list"
      data-ecl-description-list-collapsible
    >
      <li class="ecl-description-list__definition-item">
        <a class="ecl-link ecl-link--standalone" href="/example"
          >Standalone link 1</a
        >
      </li>
      <li class="ecl-description-list__definition-item">
        <a class="ecl-link ecl-link--standalone" href="/example"
          >Standalone link 2</a
        >
      </li>
      <li class="ecl-description-list__definition-item">
        <a class="ecl-link ecl-link--standalone" href="/example"
          >Standalone link 3</a
        >
      </li>
      <li class="ecl-description-list__definition-item">
        <a class="ecl-link ecl-link--standalone" href="/example"
          >Standalone link 4</a
        >
      </li>
    </ul>
  </dd>
  <dt class="ecl-description-list__term">Label 06</dt>
  <dd
    class="ecl-description-list__definition ecl-description-list__definition--link"
  >
    <ul
      class="ecl-description-list__definition-list"
      data-ecl-description-list-collapsible
    >
      <li class="ecl-description-list__definition-item">
        <a class="ecl-link ecl-link--standalone ecl-link--icon" href="/example">
          <span
            aria-hidden="true"
            class="wt-icon--facebook ecl-icon ecl-icon--s ecl-link__icon ecl-icon--facebook"
          ></span>
          <span class="ecl-link__label">social network 1</span>
        </a>
      </li>
      <li class="ecl-description-list__definition-item">
        <a class="ecl-link ecl-link--standalone ecl-link--icon" href="/example">
          <span
            aria-hidden="true"
            class="wt-icon--twitter ecl-icon ecl-icon--s ecl-link__icon ecl-icon--twitter"
          ></span>
          <span class="ecl-link__label">social network 2</span>
        </a>
      </li>
    </ul>
  </dd>
  <dt class="ecl-description-list__term">Label 07</dt>
  <dd
    class="ecl-description-list__definition ecl-description-list__definition--tag"
  >
    <ul
      class="ecl-description-list__definition-list"
      data-ecl-description-list-collapsible
    >
      <li class="ecl-description-list__definition-item">
        <a class="ecl-tag" href="/example">Link tag</a>
      </li>
      <li class="ecl-description-list__definition-item">
        <a class="ecl-tag" href="/example">Long link tag</a>
      </li>
      <li class="ecl-description-list__definition-item">
        <a class="ecl-tag" href="/example">Link tag</a>
      </li>
    </ul>
  </dd>
  <dt class="ecl-description-list__term">Label 08</dt>
  <dd
    class="ecl-description-list__definition ecl-description-list__definition--taxonomy"
  >
    <ul
      class="ecl-description-list__definition-list"
      data-ecl-description-list-collapsible
    >
      <li class="ecl-description-list__definition-item">Taxonomy item</li>
      <li class="ecl-description-list__definition-item">
        <a class="ecl-link" href="/example">Taxonomy item</a>
      </li>
      <li class="ecl-description-list__definition-item">Taxonomy item</li>
    </ul>
  </dd>
</dl>

<!-- Horizontal variant with extension classes and attributes -->
<dl
  class="ecl-description-list ecl-description-list--horizontal custom-class custom-class--test"
  data-test="data-test-value"
  data-test-flag
>
  <dt class="ecl-description-list__term">Horizontal label</dt>
  <dd class="ecl-description-list__definition">Horizontal content</dd>
</dl>

<!-- Multiple terms for one definition and array text definitions without runtime hooks -->
<dl class="ecl-description-list">
  <dt class="ecl-description-list__term">First term</dt>
  <dt class="ecl-description-list__term">Second term</dt>
  <dd class="ecl-description-list__definition">Part one, part two.</dd>
</dl>

<!-- Optional omission branches: term-only, definition-only, and empty item output -->
<dl class="ecl-description-list">
  <dt class="ecl-description-list__term">Term without definition</dt>
  <dd class="ecl-description-list__definition">Definition without term</dd>
</dl>

<!-- Empty items array renders no description list in tagged Twig. -->

<!-- Compact color-mode roots -->
<dl class="ecl-description-list ecl-color-mode--blue">
  <dt class="ecl-description-list__term">Blue</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--blue-electric">
  <dt class="ecl-description-list__term">Blue electric</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--blue-navy">
  <dt class="ecl-description-list__term">Blue navy</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--blue-ocean">
  <dt class="ecl-description-list__term">Blue ocean</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--green">
  <dt class="ecl-description-list__term">Green</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--green-dark">
  <dt class="ecl-description-list__term">Green dark</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--green-lemon">
  <dt class="ecl-description-list__term">Green lemon</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--green-pine">
  <dt class="ecl-description-list__term">Green pine</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--orange">
  <dt class="ecl-description-list__term">Orange</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--purple">
  <dt class="ecl-description-list__term">Purple</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--purple-violet">
  <dt class="ecl-description-list__term">Purple violet</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--red-crayola">
  <dt class="ecl-description-list__term">Red crayola</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--red-tomato">
  <dt class="ecl-description-list__term">Red tomato</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--warm-grey">
  <dt class="ecl-description-list__term">Warm grey</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
<dl class="ecl-description-list ecl-color-mode--yellow-gold">
  <dt class="ecl-description-list__term">Yellow gold</dt>
  <dd class="ecl-description-list__definition">Color mode sample</dd>
</dl>
