<h3 class="ecl-u-type-heading-3">Basic Expandable</h3>
<div class="ecl-expandable" data-ecl-expandable="true" data-ecl-auto-init="Expandable">
    <button class="ecl-button ecl-button--tertiary ecl-expandable__toggle" type="button" aria-controls="expandable-example-content" data-ecl-expandable-toggle data-ecl-label-expanded="Expanded" data-ecl-label-collapsed="Collapsed" aria-expanded="false">
        <span class="ecl-button__container">
            <span class="ecl-button__label" data-ecl-label="true">Collapsed</span>
            <span class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow" data-ecl-icon aria-hidden="true"></span>
        </span>
    </button>
    <div id="expandable-example-content" class="ecl-expandable__content" hidden>
        <p class="ecl-u-type-paragraph-m">The EU is building an energy union that ensures Europe's energy supply is safe, viable and accessible to all. In doing so, it can boost the economy and attract investments that can create new jobs opportunities.</p>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Expandable with Rich Content</h3>
<div class="ecl-expandable" data-ecl-expandable="true" data-ecl-auto-init="Expandable">
    <button class="ecl-button ecl-button--tertiary ecl-expandable__toggle" type="button" aria-controls="expandable-rich-content" data-ecl-expandable-toggle data-ecl-label-expanded="Show less" data-ecl-label-collapsed="Show more" aria-expanded="false">
        <span class="ecl-button__container">
            <span class="ecl-button__label" data-ecl-label="true">Show more</span>
            <span class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow" data-ecl-icon aria-hidden="true"></span>
        </span>
    </button>
    <div id="expandable-rich-content" class="ecl-expandable__content" hidden>
        <p class="ecl-u-type-paragraph-m">The European Commission has identified key priorities for the coming years, focusing on sustainable growth, digital transformation, and strengthening the European social model.</p>
        <ul class="ecl-u-type-list-ul ecl-u-mt-m">
            <li class="ecl-u-type-list-ul__item">Cross-border e-commerce</li>
            <li class="ecl-u-type-list-ul__item">Digital content portability</li>
            <li class="ecl-u-type-list-ul__item">Consumer protection in digital services</li>
            <li class="ecl-u-type-list-ul__item">Digital skills and jobs</li>
        </ul>
        <p class="ecl-u-type-paragraph-m ecl-u-mt-m"><a href="#" class="ecl-link">Learn more about the Digital Single Market</a></p>
    </div>
</div>