<div class="ecl-u-mb-xl">
    <h3 class="ecl-u-type-heading-3">Fact figures (3 columns with icons and view all)</h3>
    <div class="ecl-fact-figures ecl-fact-figures--col-3">
        <div class="ecl-fact-figures__items">
            <div class="ecl-fact-figures__item is-first">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--infographic ecl-icon ecl-icon--l ecl-icon--infographic ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Lorem ipsum</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Nunc eu est nec orci rhoncus venenatis. Donec rutrum lacus eget lobortis eleifend. Duis cursus sapien ac felis bibendum, in sagittis turpis porttitor. Aliquam sed mauris et orci efficitur mollis. Donec eu dolor in turpis sollicitudin malesuada.
                </div>
            </div>
            <div class="ecl-fact-figures__item">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--spreadsheet ecl-icon ecl-icon--l ecl-icon--spreadsheet ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Sed hendrerit</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Turpis varius congue venenatis, erat dui feugiat felis.
                </div>
            </div>
            <div class="ecl-fact-figures__item">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--growth ecl-icon ecl-icon--l ecl-icon--growth ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Donec suscipit interdum augue</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Cras vestibulum efficitur mi, quis porta tellus rutrum ut. Quisque at pulvinar sem.
                </div>
            </div>
        </div>
        <div class="ecl-fact-figures__view-all">
            <!-- Sub component: link. Use the link component template; see link sub component for full markup guidance. -->
            <a href="/example" class="ecl-link ecl-link--standalone ecl-link--icon ecl-fact-figures__view-all-link">
                <span class="ecl-link__label">View all</span>
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--arrow-left ecl-icon ecl-icon--xs ecl-icon--arrow-left ecl-icon--flip-horizontal ecl-link__icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="ecl-u-mb-xl">
    <h3 class="ecl-u-type-heading-3">Fact figures (2 columns without icons)</h3>
    <div class="ecl-fact-figures ecl-fact-figures--col-2">
        <div class="ecl-fact-figures__items">
            <div class="ecl-fact-figures__item is-first">
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Lorem ipsum</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Nunc eu est nec orci rhoncus venenatis. Donec rutrum lacus eget lobortis eleifend.
                </div>
            </div>
            <div class="ecl-fact-figures__item">
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Sed hendrerit</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Turpis varius congue venenatis, erat dui feugiat felis.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ecl-u-mb-xl">
    <h3 class="ecl-u-type-heading-3">Centered fact figures (3 columns)</h3>
    <div class="ecl-fact-figures ecl-fact-figures--col-3 ecl-fact-figures--centered">
        <div class="ecl-fact-figures__items">
            <div class="ecl-fact-figures__item is-first">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--digital ecl-icon ecl-icon--l ecl-icon--digital ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Aenean dapibus</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Aliquam lacinia diam eu sem malesuada, in interdum ante bibendum.
                </div>
            </div>
            <div class="ecl-fact-figures__item">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--regulation ecl-icon ecl-icon--l ecl-icon--regulation ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Lorem ipsum</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Nunc condimentum sapien ut nibh finibus suscipit vitae at justo. Morbi quis odio faucibus, commodo tortor id, elementum libero.
                </div>
            </div>
            <div class="ecl-fact-figures__item">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--image ecl-icon ecl-icon--l ecl-icon--image ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Sed hendrerit</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Turpis varius congue venenatis, erat dui feugiat felis.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ecl-u-mb-xl">
    <h3 class="ecl-u-type-heading-3">Medium value sizing (4 columns)</h3>
    <div class="ecl-fact-figures ecl-fact-figures--col-4">
        <div class="ecl-fact-figures__items">
            <div class="ecl-fact-figures__item ecl-fact-figures__item--font-m is-first">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--image ecl-icon ecl-icon--2xl ecl-icon--image ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Sed hendrerit</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Turpis varius congue venenatis, erat dui feugiat felis.
                </div>
            </div>
            <div class="ecl-fact-figures__item ecl-fact-figures__item--font-m">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--global ecl-icon ecl-icon--2xl ecl-icon--global ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Donec suscipit interdum augue</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Cras vestibulum efficitur mi, quis porta tellus rutrum ut.
                </div>
            </div>
            <div class="ecl-fact-figures__item ecl-fact-figures__item--font-m">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--presentation ecl-icon ecl-icon--2xl ecl-icon--presentation ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Aenean dapibus</span>
                </div>
                <div class="ecl-fact-figures__description">
                    Aliquam lacinia diam eu sem malesuada.
                </div>
            </div>
            <div class="ecl-fact-figures__item ecl-fact-figures__item--font-m">
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span class="wt-icon--infographic ecl-icon ecl-icon--2xl ecl-icon--infographic ecl-fact-figures__icon" aria-hidden="true"></span>
                <div class="ecl-fact-figures__value">
                    00.0 million
                    <span class="ecl-fact-figures__title">Final item</span>
                </div>
                <div class="ecl-fact-figures__description">
                    This is the last item in the 4-column layout.
                </div>
            </div>
        </div>
    </div>
</div>
