<h3 class="ecl-u-type-heading-3">Default File</h3>
<div class="ecl-u-mb-l">
    <div class="ecl-file" data-ecl-file id="ecl-file-default">
        <div class="ecl-file__container">
            <span class="wt-icon--file ecl-icon ecl-icon--2xl ecl-file__icon" aria-hidden="true" data-ecl-icon></span>
            <div class="ecl-file__info">
                <ul class="ecl-file__detail-meta">
                    <li class="ecl-file__detail-meta-item">META INFO</li>
                    <li class="ecl-file__detail-meta-item">DD Month YYYY</li>
                </ul>
                <div class="ecl-file__title" id="ecl-file-default-title">State of the Union 2018 brochure</div>
            </div>
        </div>
        <div class="ecl-file__footer">
            <div class="ecl-file__language" id="ecl-file-default-lang">English</div>
            <div class="ecl-file__meta">(16.2 MB - PDF)</div>
            <div class="ecl-file__action">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-file__download" id="ecl-file-default-link" aria-labelledby="ecl-file-default-link-label ecl-file-default-title ecl-file-default-lang">
                    <span class="ecl-link__label" id="ecl-file-default-link-label">Download</span><span class="wt-icon--download ecl-icon ecl-icon--fluid ecl-link__icon" aria-hidden="true" data-ecl-icon></span>
                </a>
            </div>
        </div>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Default File with Translations</h3>
<div class="ecl-u-mb-l">
    <div class="ecl-file" data-ecl-file data-ecl-auto-init="FileDownload" id="ecl-file-translation">
        <div class="ecl-file__container">
            <span class="wt-icon--file ecl-icon ecl-icon--2xl ecl-file__icon" aria-hidden="true" data-ecl-icon></span>
            <div class="ecl-file__info">
                <div class="ecl-file__title" id="ecl-file-translation-title">State of the Union 2018 brochure</div>
            </div>
        </div>
        <div class="ecl-file__footer">
            <div class="ecl-file__language" id="ecl-file-translation-lang">English</div>
            <div class="ecl-file__meta">(16.2 MB - PDF)</div>
            <div class="ecl-file__action">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-file__download" id="ecl-file-translation-link" aria-labelledby="ecl-file-translation-link-label ecl-file-translation-title ecl-file-translation-lang">
                    <span class="ecl-link__label" id="ecl-file-translation-link-label">Download</span><span class="wt-icon--download ecl-icon ecl-icon--fluid ecl-link__icon" aria-hidden="true" data-ecl-icon></span>
                </a>
            </div>
        </div>
        <div class="ecl-file__translation-container" data-ecl-file-translation-container>
            <button class="ecl-button ecl-button--tertiary ecl-file__translation-toggle" type="button" data-ecl-file-translation-toggle aria-expanded="false">
                <span class="ecl-button__container">
                    <span class="ecl-button__label" data-ecl-label="true">Translations (3)</span>
                    <span class="ecl-button__icon-container">
                        <span class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon></span>
                    </span>
                </span>
            </button>
            <ul class="ecl-file__translation-list">
                <li class="ecl-file__translation-item">
                    <div class="ecl-file__translation-info">
                        <div class="ecl-file__translation-title" id="ecl-file-translation-translation-0-lang" lang="bg">български</div>
                        <div class="ecl-file__translation-meta">(15.7 MB - PDF)</div>
                    </div>
                    <div class="ecl-file__translation-action">
                        <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-file__translation-download" id="ecl-file-translation-translation-0-link" aria-labelledby="ecl-file-translation-translation-0-link-label ecl-file-translation-title ecl-file-translation-translation-0-lang" hreflang="bg">
                            <span class="ecl-link__label" id="ecl-file-translation-translation-0-link-label">Download</span><span class="wt-icon--download ecl-icon ecl-icon--fluid ecl-link__icon" aria-hidden="true" data-ecl-icon></span>
                        </a>
                    </div>
                </li>
                <li class="ecl-file__translation-item">
                    <div class="ecl-file__translation-info">
                        <div class="ecl-file__translation-title" id="ecl-file-translation-translation-1-lang" lang="es">español</div>
                        <div class="ecl-file__translation-meta">(15.8 MB - PDF)</div>
                    </div>
                    <div class="ecl-file__translation-action">
                        <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-file__translation-download" id="ecl-file-translation-translation-1-link" aria-labelledby="ecl-file-translation-translation-1-link-label ecl-file-translation-title ecl-file-translation-translation-1-lang" hreflang="es" download>
                            <span class="ecl-link__label" id="ecl-file-translation-translation-1-link-label">Download</span><span class="wt-icon--download ecl-icon ecl-icon--fluid ecl-link__icon" aria-hidden="true" data-ecl-icon></span>
                        </a>
                    </div>
                </li>
                <li class="ecl-file__translation-item">
                    <div class="ecl-file__translation-info">
                        <div class="ecl-file__translation-title" id="ecl-file-translation-translation-2-lang" lang="fr">français</div>
                        <div class="ecl-file__translation-meta">(15.4 MB - PDF)</div>
                    </div>
                    <div class="ecl-file__translation-action">
                        <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-file__translation-download" id="ecl-file-translation-translation-2-link" aria-labelledby="ecl-file-translation-translation-2-link-label ecl-file-translation-title ecl-file-translation-translation-2-lang" hreflang="fr">
                            <span class="ecl-link__label" id="ecl-file-translation-translation-2-link-label">Download</span><span class="wt-icon--download ecl-icon ecl-icon--fluid ecl-link__icon" aria-hidden="true" data-ecl-icon></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Thumbnail File</h3>
<div class="ecl-u-mb-l">
    <div class="ecl-file ecl-file--thumbnail" data-ecl-file id="ecl-file-thumbnail">
        <div class="ecl-file__container">
            <picture class="ecl-picture ecl-file__picture">
                <img class="ecl-file__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="">
            </picture>
            <div class="ecl-file__info">
                <div class="ecl-file__label">
                    <span class="ecl-label ecl-label--highlight">highlighted</span>
                </div>
                <ul class="ecl-file__detail-meta">
                    <li class="ecl-file__detail-meta-item">META INFO</li>
                    <li class="ecl-file__detail-meta-item">DD Month YYYY</li>
                </ul>
                <div class="ecl-file__title" id="ecl-file-thumbnail-title">
                    <a href="#" class="ecl-link ecl-link--standalone">State of the Union 2018 brochure</a>
                </div>
                <div class="ecl-file__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis lorem tellus. Nullam sollicitudin suscipit diam, ac blandit ipsum tempor consectetur. Duis vitae pulvinar turpis. Donec maximus pharetra ex a ultricies.</div>
            </div>
        </div>
        <div class="ecl-file__footer">
            <div class="ecl-file__language" id="ecl-file-thumbnail-lang">English</div>
            <div class="ecl-file__meta">(16.2 MB - PDF)</div>
            <div class="ecl-file__action">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-file__download ecl-u-d-inline-flex ecl-u-align-items-center" id="ecl-file-thumbnail-link" aria-labelledby="ecl-file-thumbnail-link-label ecl-file-thumbnail-title ecl-file-thumbnail-lang">
                    <span class="ecl-link__label" id="ecl-file-thumbnail-link-label">Download</span><span class="wt-icon--download ecl-icon ecl-icon--fluid ecl-link__icon" aria-hidden="true" data-ecl-icon></span>
                </a>
            </div>
        </div>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Thumbnail File with Taxonomy</h3>
<div class="ecl-u-mb-l">
    <div class="ecl-file ecl-file--thumbnail" data-ecl-file id="ecl-file-taxonomy">
        <div class="ecl-file__container">
            <picture class="ecl-picture ecl-file__picture">
                <img class="ecl-file__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="">
            </picture>
            <div class="ecl-file__info">
                <div class="ecl-file__label">
                    <span class="ecl-label ecl-label--highlight">highlighted</span>
                </div>
                <ul class="ecl-file__detail-meta">
                    <li class="ecl-file__detail-meta-item">META INFO</li>
                    <li class="ecl-file__detail-meta-item">DD Month YYYY</li>
                </ul>
                <div class="ecl-file__title" id="ecl-file-taxonomy-title">
                    <a href="#" class="ecl-link ecl-link--standalone">State of the Union 2018 brochure</a>
                </div>
                <div class="ecl-file__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis lorem tellus. Nullam sollicitudin suscipit diam, ac blandit ipsum tempor consectetur. Duis vitae pulvinar turpis. Donec maximus pharetra ex a ultricies.</div>
                <div class="ecl-file__taxonomy">
                    <dl class="ecl-description-list" data-ecl-description-list data-ecl-description-list-more-label="Show more items" data-ecl-description-list-visible-items="2" data-ecl-auto-init="DescriptionList">
                        <dt class="ecl-description-list__term">Taxonomy list</dt>
                        <dd class="ecl-description-list__definition ecl-description-list__definition--taxonomy">
                            <ul class="ecl-description-list__definition-list" data-ecl-description-list-collapsible>
                                <li class="ecl-description-list__definition-item">Taxonomy item 1</li>
                                <li class="ecl-description-list__definition-item">Taxonomy item 2</li>
                                <li class="ecl-description-list__definition-item">Taxonomy item 3</li>
                                <li class="ecl-description-list__definition-item">Taxonomy item 4</li>
                                <li class="ecl-description-list__definition-item">Taxonomy item 5</li>
                                <li class="ecl-description-list__definition-item">Taxonomy item 6</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="ecl-file__footer">
            <div class="ecl-file__language" id="ecl-file-taxonomy-lang">English</div>
            <div class="ecl-file__meta">(16.2 MB - PDF)</div>
            <div class="ecl-file__action">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-file__download ecl-u-d-inline-flex ecl-u-align-items-center" id="ecl-file-taxonomy-link" aria-labelledby="ecl-file-taxonomy-link-label ecl-file-taxonomy-title ecl-file-taxonomy-lang">
                    <span class="ecl-link__label" id="ecl-file-taxonomy-link-label">Download</span><span class="wt-icon--download ecl-icon ecl-icon--fluid ecl-link__icon" aria-hidden="true" data-ecl-icon></span>
                </a>
            </div>
        </div>
    </div>
</div>