<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Gallery</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-l">Use the gallery to showcase mixed media with overlay navigation, download, and share controls.</p>
<section class="ecl-gallery" data-ecl-auto-init="Gallery" data-ecl-gallery="" data-ecl-gallery-visible-items="8" aria-label="Open gallery items to view images in original size, watch videos and share them">
    <ul class="ecl-gallery__list">
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" id="ecl-gallery-item-gallery-id-0">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Image 1" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img alt="Image 1" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-0-title">EU in brief</span>
                        <span class="ecl-gallery__caption">The EU in brief, institutions and bodies, countries, symbols, history, facts and figures. [Image with thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 1</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-embed-audio="In the video below, there is no audiodescription available because all the content is in the captions and default audio track" data-ecl-gallery-item-embed-src="https://www.youtube.com/embed/fgi-GSCB6ho" data-ecl-gallery-item-video-title="New digital strategy - Video player" href="https://www.youtube.com/embed/fgi-GSCB6ho" id="ecl-gallery-item-gallery-id-1">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                        <span aria-hidden="true" class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon ecl-icon--play-filled"></span>
                    </div>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="New digital strategy - Video" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-external-video.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-1-title">New digital strategy</span>
                        <span class="ecl-gallery__caption">Digital technologies have greatly changed our daily life. Therefore, Europe wants to make sure, that the digital transformation works for all its citizens. [Embedded video (Youtube) with a thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for embedded media</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image2.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg" id="ecl-gallery-item-gallery-id-2">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Image 2" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <source media="(min-width: 996px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg" />
                        <source media="(min-width: 768px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg" />
                        <img alt="Image 2" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-2-title">Agriculture and culture</span>
                        <span class="ecl-gallery__caption">Information on agriculture, business, culture, health, etc. [Image with sources and thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 2</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-embed-audio="In the video below, there is no audiodescription available yet" data-ecl-gallery-item-embed-src="https://audiovisual.ec.europa.eu/embed/index.html?ref=I-223223&amp;lg=EN" data-ecl-gallery-item-share="/share#example-image3.jpg" data-ecl-gallery-item-video-title="In the EU - Video player" href="https://audiovisual.ec.europa.eu/embed/index.html?ref=I-223223&amp;lg=EN" id="ecl-gallery-item-gallery-id-3">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                        <span aria-hidden="true" class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon ecl-icon--play-filled"></span>
                    </div>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Image 3 - Video" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-3-title">In the EU</span>
                        <span class="ecl-gallery__caption">Living, working, travelling in the EU. [Embedded video (AV Portal) with picture instead of thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 3</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-embed-src="https://www.dailymotion.com/embed/video/x8m9tp1?" data-ecl-gallery-item-share="/share#example-image4.jpg" data-ecl-gallery-item-video-title="Taxes and business - Video player" href="https://www.dailymotion.com/embed/video/x8m9tp1?" id="ecl-gallery-item-gallery-id-4">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                        <span aria-hidden="true" class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon ecl-icon--play-filled"></span>
                    </div>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Image 4 - Video" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-4-title">Taxes and business</span>
                        <span class="ecl-gallery__caption">Information on taxes, customs, importing and exporting goods, financial support for businesses. [Embedded video (Dailymotion) with thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 4</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image5.jpg" data-ecl-gallery-item-video-title="Time lapse of the Arc de Triomphe in Paris from afar - Video player" href="https://assets.mixkit.co/videos/4025/4025-1080.mp4" id="ecl-gallery-item-gallery-id-5">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                        <span aria-hidden="true" class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon ecl-icon--play-filled"></span>
                    </div>
                    <!-- Sub component: video. Use the video component template; see video sub component for full markup guidance. -->
                    <video aria-label="Time lapse of the Arc de Triomphe in Paris from afar - Video" class="ecl-video ecl-gallery__image" playsinline="" poster="https://assets.mixkit.co/videos/4025/4025-thumb-1080-0.jpg">
                        <source src="https://assets.mixkit.co/videos/4025/4025-1080.mp4" type="video/mp4" />
                    </video>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-5-title">Time lapse of the Arc de Triomphe in Paris from afar</span>
                        <span class="ecl-gallery__caption">Time lapse of the Arc de Triomphe in Paris from afar during the day, city roofs, cars and clouds moving in the blue sky. [HTML video]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 5</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-embed-audio="In the video below, there is no audiodescription available because all the content is in the captions and default audio track" data-ecl-gallery-item-embed-src="https://player.vimeo.com/video/813227141?h=077b905b65" data-ecl-gallery-item-share="/share#example-image6.jpg" data-ecl-gallery-item-video-title="Lorem ipsum - Video player" href="https://player.vimeo.com/video/813227141?h=077b905b65" id="ecl-gallery-item-gallery-id-6">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                        <span aria-hidden="true" class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon ecl-icon--play-filled"></span>
                    </div>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Image 6 - Video" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-6-title">Lorem ipsum</span>
                        <span class="ecl-gallery__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a diam dignissim, suscipit augue in, fermentum nibh. Donec vestibulum justo cursus quam luctus, quis maximus nisi feugiat. Nullam lobortis tellus libero, vitae lobortis nisl suscipit ac. [Embedded video (Vimeo) with thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 6</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image11.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image7.jpg" id="ecl-gallery-item-gallery-id-7">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <source media="(min-width: 1140px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg" />
                        <img alt="Image 7" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image7.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <source media="(min-width: 1140px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg" />
                        <img alt="Image 7" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image7.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-7-title">Teaching material</span>
                        <span class="ecl-gallery__caption">Teaching material about the EU, including books and maps. [Image with sources and no thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 7</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image8.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image8.jpg" id="ecl-gallery-item-gallery-id-8">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Climate change and protect nature" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image8.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img alt="Climate change and protect nature" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image8.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-8-title">Climate change</span>
                        <span class="ecl-gallery__caption">Climate change and protect nature. [Image without thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for embedded media</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image9.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image9.jpg" id="ecl-gallery-item-gallery-id-9">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Image 9" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image9.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img alt="Image 9" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image9.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-9-title">About the EU</span>
                        <span class="ecl-gallery__caption">About the EU. [Image without thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 9</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image10.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" id="ecl-gallery-item-gallery-id-10">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Image 10" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img alt="Image 10" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-10-title">EU by topic</span>
                        <span class="ecl-gallery__caption">EU by topic. [Image without thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 10</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image10.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" id="ecl-gallery-item-gallery-id-11">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Lorem ipsum" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img alt="Lorem ipsum" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-11-title">12</span>
                        <span class="ecl-gallery__caption">Lorem ipsum</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for Lorem ipsum</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image10.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" id="ecl-gallery-item-gallery-id-12">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Lorem ipsum" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img alt="Lorem ipsum" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-12-title">13</span>
                        <span class="ecl-gallery__caption">Lorem ipsum</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for Lorem ipsum</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image10.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" id="ecl-gallery-item-gallery-id-13">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Lorem ipsum" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img alt="Lorem ipsum" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-13-title">14</span>
                        <span class="ecl-gallery__caption">Lorem ipsum</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for Lorem ipsum</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a class="ecl-gallery__item-link" data-ecl-gallery-item="" data-ecl-gallery-item-share="/share#example-image10.jpg" href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" id="ecl-gallery-item-gallery-id-14">
                <figure class="ecl-gallery__image-container">
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img alt="Lorem ipsum" class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img alt="Lorem ipsum" class="ecl-gallery__image" loading="lazy" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image10.jpg" />
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description="">
                        <span class="ecl-gallery__title" data-ecl-gallery-title="" id="ecl-gallery-item-gallery-id-14-title">15</span>
                        <span class="ecl-gallery__caption">Lorem ipsum</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for Lorem ipsum</span>
                    </figcaption>
                </figure>
            </a>
        </li>
    </ul>
    <div class="ecl-gallery__footer">
        <div class="ecl-gallery__info">
            <div class="ecl-gallery__info-total" id="gallery-id-info">
                <strong data-ecl-gallery-count="">0</strong>
                Media files in this gallery
            </div>
            <!-- Sub component: button. Use the button component template; see button sub component for full markup guidance. -->
            <button aria-describedby="gallery-id-info" class="ecl-button ecl-button--tertiary ecl-gallery__view-all" data-ecl-gallery-all="" data-ecl-gallery-collapsed-label="Show more items" data-ecl-gallery-expanded-label="Show less" type="submit">Show more items</button>
        </div>
        <hr class="ecl-gallery__footer-divider" />
        <div class="ecl-gallery__footer-link">
            <!-- Sub component: link. Use the link component template; see link sub component for full markup guidance. -->
            <a class="ecl-link ecl-link--standalone ecl-link--icon" href="/example">
                <span class="ecl-link__label">Further media items</span>
                <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                <span aria-hidden="false" class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" role="img" title="Link to an external domain"></span>
            </a>
        </div>
    </div>
    <dialog aria-label="Gallery overlay" class="ecl-gallery__overlay" data-ecl-gallery-overlay="">
        <header class="ecl-gallery__close" data-ecl-gallery-overlay-header="">
            <!-- Sub component: button. Use the button component template; see button sub component for full markup guidance. -->
            <button class="ecl-button ecl-button--tertiary ecl-button--inverted ecl-gallery__close-button ecl-button--icon-only" data-ecl-gallery-close="" type="submit">
                <span class="ecl-button__container">
                    <span class="ecl-button__label" data-ecl-label="true">Close</span>
                    <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                    <span aria-hidden="true" class="wt-icon--close ecl-icon ecl-icon--m ecl-button__icon ecl-icon--close" data-ecl-icon=""></span>
                </span>
            </button>
        </header>
        <section class="ecl-gallery__slider">
            <div class="ecl-gallery__slider-media-container" data-ecl-gallery-overlay-media=""></div>
        </section>
        <footer class="ecl-gallery__detail" data-ecl-gallery-overlay-footer="">
            <div class="ecl-container">
                <div class="ecl-gallery__detail-container">
                    <div class="ecl-gallery__pager">
                        <div class="ecl-gallery__detail-counter"><span data-ecl-gallery-overlay-counter-current="">0</span> of <span data-ecl-gallery-overlay-counter-max="">0</span></div>
                        <div class="ecl-gallery__controls">
                            <!-- Sub component: button. Use the button component template; see button sub component for full markup guidance. -->
                            <button class="ecl-button ecl-button--tertiary ecl-gallery__slider-previous ecl-button--icon-only" data-ecl-gallery-overlay-previous="" type="button">
                                <span class="ecl-button__container">
                                    <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                                    <span aria-hidden="true" class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow" data-ecl-icon=""></span>
                                    <span class="ecl-button__label" data-ecl-label="true">Previous</span>
                                </span>
                            </button>
                            <!-- Sub component: button. Use the button component template; see button sub component for full markup guidance. -->
                            <button class="ecl-button ecl-button--tertiary ecl-gallery__slider-next ecl-button--icon-only" data-ecl-gallery-overlay-next="" type="button">
                                <span class="ecl-button__container">
                                    <span class="ecl-button__label" data-ecl-label="true">Next</span>
                                    <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                                    <span aria-hidden="true" class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow" data-ecl-icon=""></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="ecl-gallery__detail-actions">
                        <!-- Sub component: link. Use the link component template; see link sub component for full markup guidance. -->
                        <a class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-gallery__download" data-ecl-gallery-overlay-download="" href="" target="_blank">
                            <span class="ecl-link__label">View original</span>
                            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                            <span aria-hidden="true" class="wt-icon--fullscreen ecl-icon ecl-icon--fluid ecl-link__icon ecl-icon--fullscreen"></span>
                        </a>
                        <!-- Sub component: link. Use the link component template; see link sub component for full markup guidance. -->
                        <a class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-gallery__share" data-ecl-gallery-overlay-share="" href="/example">
                            <span class="ecl-link__label">Share</span>
                            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
                            <span aria-hidden="true" class="wt-icon--share ecl-icon ecl-icon--fluid ecl-link__icon ecl-icon--share"></span>
                        </a>
                    </div>
                </div>
                <div class="ecl-gallery__detail-description" data-ecl-gallery-overlay-description="">The EU in brief, institutions and bodies, countries, symbols, history, facts and figures. [Image with thumbnail]</div>
            </div>
        </footer>
    </dialog>
</section>
