<section class="ecl-gallery" data-ecl-auto-init="Gallery" data-ecl-gallery-visible-items="8" data-ecl-gallery aria-label="Open gallery items to view images in original size, watch videos and share them">
    <ul class="ecl-gallery__list">
        <li class="ecl-gallery__item">
            <a href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-0">
                <figure class="ecl-gallery__image-container">
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image 1">
                    </picture>
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image 1" loading="lazy">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-0-title" data-ecl-gallery-title>EU in brief</span>
                        <span class="ecl-gallery__caption">The EU in brief, institutions and bodies, countries, symbols, history, facts and figures. [Image with thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 1</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://www.youtube.com/embed/fgi-GSCB6ho" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-1" data-ecl-gallery-item-embed-src="https://www.youtube.com/embed/fgi-GSCB6ho" data-ecl-gallery-item-embed-audio="In the video below, there is no audiodescription available because all the content is in the captions and default audio track" data-ecl-gallery-item-video-title="New digital strategy - Video player">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <span class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon" aria-hidden="true" data-ecl-icon></span>
                    </div>
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-external-video.jpg" alt="New digital strategy - Video">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-1-title" data-ecl-gallery-title>New digital strategy</span>
                        <span class="ecl-gallery__caption">Digital technologies have greatly changed our daily life. Therefore, Europe wants to make sure, that the digital transformation works for all its citizens. [Embedded video (Youtube) with a thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for embedded media</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-2">
                <figure class="ecl-gallery__image-container">
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <source srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg" media="(min-width: 768px)">
                        <source srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg" media="(min-width: 480px)">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg" alt="Image 2">
                    </picture>
                    <picture class="ecl-picture ecl-gallery__picture">
                        <source srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg" media="(min-width: 768px)">
                        <source srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg" media="(min-width: 480px)">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg" alt="Image 2" loading="lazy">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-2-title" data-ecl-gallery-title>Agriculture and culture</span>
                        <span class="ecl-gallery__caption">Information on agriculture, business, culture, health, etc. [Image with sources and thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 2</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://audiovisual.ec.europa.eu/embed/index.html?ref=I-223223&lg=EN" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-3" data-ecl-gallery-item-embed-src="https://audiovisual.ec.europa.eu/embed/index.html?ref=I-223223&lg=EN" data-ecl-gallery-item-embed-audio="In the video below, there is no audiodescription available yet" data-ecl-gallery-item-video-title="In the EU - Video player">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <span class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon" aria-hidden="true" data-ecl-icon></span>
                    </div>
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg" alt="Image 3">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-3-title" data-ecl-gallery-title>In the EU</span>
                        <span class="ecl-gallery__caption">Living, working, travelling in the EU. [Embedded video (AV Portal) with picture instead of thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 3</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://www.dailymotion.com/embed/video/x8m9tp1?" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-4" data-ecl-gallery-item-embed-src="https://www.dailymotion.com/embed/video/x8m9tp1?" data-ecl-gallery-item-video-title="Taxes and business - Video player">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <span class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon" aria-hidden="true" data-ecl-icon></span>
                    </div>
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg" alt="Image 4">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-4-title" data-ecl-gallery-title>Taxes and business</span>
                        <span class="ecl-gallery__caption">Information on taxes, customs, importing and exporting goods, financial support for businesses. [Embedded video (Dailymotion) with thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 4</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://assets.mixkit.co/videos/4025/4025-1080.mp4" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-5" data-ecl-gallery-item-video-title="Time lapse of the Arc de Triomphe in Paris from afar - Video player">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <span class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon" aria-hidden="true" data-ecl-icon></span>
                    </div>
                    <video class="ecl-gallery__image" poster="https://assets.mixkit.co/videos/4025/4025-thumb-1080-0.jpg" controls="false">
                        <source src="https://assets.mixkit.co/videos/4025/4025-1080.mp4" type="video/mp4">
                    </video>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-5-title" data-ecl-gallery-title>Time lapse of the Arc de Triomphe in Paris from afar</span>
                        <span class="ecl-gallery__caption">Time lapse of the Arc de Triomphe in Paris from afar during the day, city roofs, cars and clouds moving in the blue sky. [HTML video]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 5</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://player.vimeo.com/video/813227141?h=077b905b65" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-6" data-ecl-gallery-item-embed-src="https://player.vimeo.com/video/813227141?h=077b905b65" data-ecl-gallery-item-embed-audio="In the video below, there is no audiodescription available because all the content is in the captions and default audio track" data-ecl-gallery-item-video-title="Lorem ipsum - Video player">
                <figure class="ecl-gallery__image-container">
                    <div class="ecl-gallery__item-icon-wrapper">
                        <span class="wt-icon--play-filled ecl-icon ecl-icon--l ecl-icon--inverted ecl-gallery__item-icon" aria-hidden="true" data-ecl-icon></span>
                    </div>
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg" alt="Image 6">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-6-title" data-ecl-gallery-title>Lorem ipsum</span>
                        <span class="ecl-gallery__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a diam dignissim, suscipit augue in, fermentum nibh. Donec vestibulum justo cursus quam luctus, quis maximus nisi feugiat. Nullam lobortis tellus libero, vitae lobortis nisl suscipit ac. [Embedded video (Vimeo) with thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 6</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image7.jpg" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-7">
                <figure class="ecl-gallery__image-container">
                    <picture class="ecl-picture ecl-gallery__picture">
                        <source srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg" media="(min-width: 1140px)">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image7.jpg" alt="Image 7" loading="lazy">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-7-title" data-ecl-gallery-title>Teaching material</span>
                        <span class="ecl-gallery__caption">Teaching material about the EU, including books and maps. [Image with sources and no thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 7</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image8.jpg" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-8">
                <figure class="ecl-gallery__image-container">
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image8.jpg" alt="Climate change and protect nature">
                    </picture>
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image8.jpg" alt="Climate change and protect nature" loading="lazy">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-8-title" data-ecl-gallery-title>Climate change</span>
                        <span class="ecl-gallery__caption">Climate change and protect nature. [Image without thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for embedded media</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image9.jpg" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-9">
                <figure class="ecl-gallery__image-container">
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image9.jpg" alt="Image 9">
                    </picture>
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image9.jpg" alt="Image 9" loading="lazy">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-9-title" data-ecl-gallery-title>About the EU</span>
                        <span class="ecl-gallery__caption">About the EU. [Image without thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 9</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-10">
                <figure class="ecl-gallery__image-container">
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image 10">
                    </picture>
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image 10" loading="lazy">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-10-title" data-ecl-gallery-title>EU in brief 2</span>
                        <span class="ecl-gallery__caption">The EU in brief, institutions and bodies, countries, symbols, history, facts and figures. [Image with thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 10</span>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="ecl-gallery__item">
            <a href="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg" data-ecl-gallery-item class="ecl-gallery__item-link" id="ecl-gallery-item-gallery-demo-11">
                <figure class="ecl-gallery__image-container">
                    <picture class="ecl-picture ecl-gallery__thumbnail">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg" alt="Image 11">
                    </picture>
                    <picture class="ecl-picture ecl-gallery__picture">
                        <img class="ecl-gallery__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg" alt="Image 11" loading="lazy">
                    </picture>
                    <figcaption class="ecl-gallery__description" data-ecl-gallery-description>
                        <span class="ecl-gallery__title" id="ecl-gallery-item-gallery-demo-11-title" data-ecl-gallery-title>Agriculture and culture 2</span>
                        <span class="ecl-gallery__caption">Information on agriculture, business, culture, health, etc. [Image with sources and thumbnail]</span>
                        <span class="ecl-gallery__meta">Copyright, Author, Licence for image 11</span>
                    </figcaption>
                </figure>
            </a>
        </li>

        <div class="ecl-gallery__footer">
            <div class="ecl-gallery__info">
                <div class="ecl-gallery__info-total" id="gallery-demo-info">
                    <strong data-ecl-gallery-count>0</strong> Media files in this gallery
                </div>
                <button class="ecl-button ecl-button--tertiary ecl-gallery__view-all" type="submit" data-ecl-gallery-all data-ecl-gallery-collapsed-label="Show more items" data-ecl-gallery-expanded-label="Show less" aria-describedby="gallery-demo-info">
                    Show more items
                </button>
            </div>
        </div>
        <dialog class="ecl-gallery__overlay" data-ecl-gallery-overlay aria-label="Gallery overlay">
            <header class="ecl-gallery__close" data-ecl-gallery-overlay-header>
                <button class="ecl-button ecl-button--ghost ecl-button--inverted ecl-gallery__close-button" type="submit" data-ecl-gallery-close>
                    <span class="ecl-button__container">
                        <span class="ecl-button__icon-container">
                            <span class="wt-icon--close ecl-icon ecl-icon--m ecl-button__icon" aria-hidden="true" data-ecl-icon></span>
                        </span>
                    </span>
                </button>
            </header>
            <section class="ecl-gallery__slider">
                <div class="ecl-gallery__slider-media-container" data-ecl-gallery-overlay-media></div>
            </section>
            <footer class="ecl-gallery__detail" data-ecl-gallery-overlay-footer>
                <div class="ecl-container">
                    <div class="ecl-gallery__detail-container">
                        <div class="ecl-gallery__pager">
                            <div class="ecl-gallery__detail-counter">
                                <span data-ecl-gallery-overlay-counter-current>0</span> of <span data-ecl-gallery-overlay-counter-max>0</span>
                            </div>
                            <div class="ecl-gallery__controls">
                                <button class="ecl-button ecl-button--tertiary ecl-gallery__slider-previous" type="button" data-ecl-gallery-overlay-previous>
                                    <span class="ecl-button__container">
                                        <span class="ecl-button__icon-container">
                                            <span class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--rotate-270 ecl-button__icon" aria-hidden="true" data-ecl-icon></span>
                                        </span>
                                    </span>
                                </button>
                                <button class="ecl-button ecl-button--tertiary ecl-gallery__slider-next" type="button" data-ecl-gallery-overlay-next>
                                    <span class="ecl-button__container">
                                        <span class="ecl-button__icon-container">
                                            <span class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--rotate-90 ecl-button__icon" aria-hidden="true" data-ecl-icon></span>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="ecl-gallery__detail-actions">
                            <a href="#" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-gallery__download" target="_blank" data-ecl-gallery-overlay-download>
                                <span class="ecl-link__label">View original</span>
                                <span class="wt-icon--fullscreen ecl-icon ecl-icon--fluid ecl-link__icon" aria-hidden="true" data-ecl-icon></span>
                            </a>
                            <a href="/share#example-image.jpg" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-gallery__share" data-ecl-gallery-overlay-share>
                                <span class="ecl-link__label">Share</span>
                                <span class="wt-icon--share ecl-icon ecl-icon--fluid ecl-link__icon" aria-hidden="true" data-ecl-icon></span>
                            </a>
                        </div>
                    </div>
                    <div class="ecl-gallery__detail-description" data-ecl-gallery-overlay-description>
                        The EU in brief, institutions and bodies, countries, symbols, history, facts and figures. [Image with thumbnail]
                    </div>
                </div>
            </footer>
        </dialog>
</section>