<h3 class="ecl-u-type-heading-3">Icon Sizes</h3>
<div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-mb-l">
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--audio ecl-icon ecl-icon--xs" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">xs</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--audio ecl-icon ecl-icon--s" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">s</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--audio ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">m</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--audio ecl-icon ecl-icon--l" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">l</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--audio ecl-icon ecl-icon--xl" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">xl</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--audio ecl-icon ecl-icon--2xl" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">2xl</span>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Icon Colors</h3>
<div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-mb-l">
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--check ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">default</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s ecl-u-bg-black ecl-u-pa-s">
        <span class="wt-icon--check ecl-icon ecl-icon--m ecl-icon--inverted" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs ecl-u-type-color-white">inverted</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">primary</span>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Icon Transforms</h3>
<div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-mb-l">
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--arrow-left ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">none</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--arrow-left ecl-icon ecl-icon--m ecl-icon--rotate-90" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">rotate-90</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--arrow-left ecl-icon ecl-icon--m ecl-icon--rotate-180" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">rotate-180</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--arrow-left ecl-icon ecl-icon--m ecl-icon--rotate-270" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">rotate-270</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--arrow-left ecl-icon ecl-icon--m ecl-icon--flip-horizontal" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">flip-horizontal</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--arrow-left ecl-icon ecl-icon--m ecl-icon--flip-vertical" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">flip-vertical</span>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Various Icons</h3>
<div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-mb-l">
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--search ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">search</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--download ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">download</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--email ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">email</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--external ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">external</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--information ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">information</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--warning ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">warning</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--error ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">error</span>
    </div>
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--check ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">check</span>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">All Available Icons</h3>
<div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-mb-l">
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--arrow-left ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">arrow-left</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--audio ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">audio</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--book ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">book</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--brochure ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">brochure</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--budget ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">budget</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--calendar ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">calendar</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--camera ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">camera</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--chain ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">chain</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--check-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">check-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--check ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">check</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--clock-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">clock-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--clock ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">clock</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--close-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">close-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--close-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">close-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--close ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">close</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--copy ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">copy</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--corner-arrow ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">corner-arrow</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--data ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">data</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--digital ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">digital</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--document ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">document</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--download ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">download</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--edit ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">edit</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--email ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">email</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--energy ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">energy</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--error-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">error-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--error ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">error</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--euro ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">euro</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--event ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">event</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--external-events ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">external-events</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--external ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">external</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--eye ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">eye</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--faq ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">faq</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--feedback ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">feedback</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--file-blank ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">file-blank</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--file ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">file</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--folder ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">folder</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--fullscreen ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">fullscreen</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--global ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">global</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--growth ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">growth</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--hamburger ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">hamburger</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--image ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">image</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--infographic ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">infographic</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--information-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">information-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--information-round ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">information-round</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--information ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">information</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--laco-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">laco-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--laco ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">laco</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--list ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">list</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--livestreaming ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">livestreaming</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--location-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">location-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--location ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">location</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--log-in-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">log-in-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--log-in ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">log-in</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--logged-in ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">logged-in</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--minus-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">minus-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--minus ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">minus</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--move ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">move</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--multiple-files ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">multiple-files</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--notification-active ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">notification-active</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--notification ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">notification</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--organigram ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">organigram</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--package ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">package</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--pause-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">pause-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--pause-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">pause-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--pause ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">pause</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--play-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">play-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--play-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">play-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--play ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">play</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--plus-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">plus-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--plus-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">plus-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--plus ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">plus</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--presentation ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">presentation</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--print ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">print</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--refresh ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">refresh</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--regulation ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">regulation</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--rss ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">rss</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--search ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">search</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--settings ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">settings</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--share-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">share-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--share ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">share</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--shopping-bag ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">shopping-bag</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--solid-arrow ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">solid-arrow</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--sort-carets ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">sort-carets</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--spinner ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">spinner</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--spreadsheet ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">spreadsheet</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--star-filled ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">star-filled</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--star-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">star-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--tag ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">tag</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--trash ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">trash</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--upload ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">upload</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--warning-outline ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">warning-outline</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--warning-round ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">warning-round</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon--warning ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">warning</span>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">EU Member State Flags</h3>
<div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-mb-l">
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--at ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">at</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Austria</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--be ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">be</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Belgium</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--bg ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">bg</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Bulgaria</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--cy ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">cy</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Cyprus</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--cz ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">cz</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Czech Republic</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--de ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">de</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Germany</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--dk ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">dk</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Denmark</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--ee ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">ee</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Estonia</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--el ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">el</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Greece</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--es ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">es</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Spain</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--eu ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">eu</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">European Union</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--fi ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">fi</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Finland</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--fr ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">fr</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">France</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--hr ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">hr</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Croatia</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--hu ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">hu</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Hungary</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--ie ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">ie</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Ireland</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--it ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">it</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Italy</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--lt ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">lt</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Lithuania</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--lu ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">lu</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Luxembourg</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--lv ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">lv</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Latvia</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--mt ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">mt</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Malta</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--nl ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">nl</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Netherlands</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--pl ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">pl</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Poland</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--pt ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">pt</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Portugal</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--ro ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">ro</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Romania</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--se ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">se</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Sweden</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--si ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">si</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Slovenia</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-flags--sk ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">sk</span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">Slovakia</span>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Social Network Icons</h3>
<div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-mb-l">
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--blog ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">blog</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--bluesky ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">bluesky</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--chain ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">chain</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--email ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">email</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--facebook ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">facebook</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--flickr ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">flickr</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--foursquare ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">foursquare</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--gmail ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">gmail</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--instagram ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">instagram</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--linkedin ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">linkedin</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--mastodon ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">mastodon</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--messenger ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">messenger</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--pinterest ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">pinterest</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--qzone ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">qzone</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--reddit ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">reddit</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--rss ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">rss</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--skype ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">skype</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--sms ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">sms</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--spotify ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">spotify</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--telegram ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">telegram</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--threads ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">threads</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--twitter ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">twitter</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--typepad ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">typepad</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--vimeo ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">vimeo</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--weibo ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">weibo</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--whatsapp ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">whatsapp</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--yahoomail ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">yahoomail</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--yammer ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">yammer</span>
    </div>
    <div class="ecl-u-d-flex ecl-u-flex-column ecl-u-align-items-center ecl-u-mr-l ecl-u-mb-m">
        <span class="wt-icon-networks--youtube ecl-icon ecl-icon--m" aria-hidden="true"></span>
        <span class="ecl-u-type-xs ecl-u-mt-xs">youtube</span>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Icon with Accessibility (as image)</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-center ecl-u-mb-l">
    <div class="ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--information ecl-icon ecl-icon--m" role="img" title="Information icon" aria-hidden="false"></span>
        <span class="ecl-u-type-s ecl-u-ml-xs">with title</span>
    </div>
</div>