<!-- Default and empty icon output -->
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-center ecl-u-gap-m ecl-u-mb-l"
>
  <span
    class="wt-icon--audio ecl-icon ecl-icon--m ecl-icon--audio"
    aria-hidden="true"
  ></span>
  <span class="wt-icon ecl-icon ecl-icon--m" aria-hidden="true"></span>
</div>

<!-- Icon sizes -->
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-center ecl-u-gap-m ecl-u-mb-l"
>
  <span
    class="wt-icon--audio ecl-icon ecl-icon--2xs ecl-icon--audio"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--audio ecl-icon ecl-icon--xs ecl-icon--audio"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--audio ecl-icon ecl-icon--s ecl-icon--audio"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--audio ecl-icon ecl-icon--m ecl-icon--audio"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--audio ecl-icon ecl-icon--l ecl-icon--audio"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--audio ecl-icon ecl-icon--xl ecl-icon--audio"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--audio ecl-icon ecl-icon--2xl ecl-icon--audio"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--audio ecl-icon ecl-icon--fluid ecl-icon--audio"
    aria-hidden="true"
  ></span>
</div>

<!-- Icon colors -->
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-center ecl-u-gap-m ecl-u-mb-l"
>
  <span
    class="wt-icon--check ecl-icon ecl-icon--m ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--check ecl-icon ecl-icon--m ecl-icon--inverted ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
</div>

<!-- Icon transforms -->
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-center ecl-u-gap-m ecl-u-mb-l"
>
  <span
    class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--corner-arrow"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--rotate-0 ecl-icon--corner-arrow"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--rotate-90 ecl-icon--corner-arrow"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--rotate-180 ecl-icon--corner-arrow"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--rotate-270 ecl-icon--corner-arrow"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--flip-horizontal ecl-icon--corner-arrow"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--flip-vertical ecl-icon--corner-arrow"
    aria-hidden="true"
  ></span>
</div>

<!-- Accessibility and extension hooks -->
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-center ecl-u-gap-m ecl-u-mb-l"
>
  <span
    class="wt-icon--information ecl-icon ecl-icon--m ecl-icon--information"
    aria-hidden="false"
  ></span>
  <span
    class="wt-icon--warning ecl-icon ecl-icon--m ecl-icon--warning"
    aria-hidden="false"
    title="Warning"
    role="img"
    data-desc="Triangle with exclamation mark"
  ></span>
  <span
    class="wt-icon--success ecl-icon ecl-icon--m ecl-icon--success"
    aria-hidden="true"
    role="presentation"
  ></span>
  <span
    class="wt-icon--download ecl-icon ecl-icon--m custom-icon custom-icon--download ecl-icon--download"
    aria-hidden="true"
    data-test="icon-download"
    data-track
  ></span>
</div>

<!-- Family and style variants -->
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-center ecl-u-gap-m ecl-u-mb-l"
>
  <span
    class="wt-icon-phosphor--star ecl-icon ecl-icon--m ecl-icon-phosphor--star"
    aria-hidden="true"
  ></span>
  <span
    class="wt-icon--facebook wt-icon--monochrome ecl-icon ecl-icon--m ecl-icon--facebook"
    aria-hidden="true"
  ></span>
</div>

<!-- EC color modes -->
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-center ecl-u-gap-m">
  <span
    class="ecl-color-mode--blue wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--green-dark wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--orange wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--green wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--purple wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--blue-navy wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--blue-electric wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--blue-ocean wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--green-lemon wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--green-pine wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--warm-grey wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--red-crayola wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--yellow-gold wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--purple-violet wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
  <span
    class="ecl-color-mode--red-tomato wt-icon--check ecl-icon ecl-icon--m ecl-icon--primary ecl-icon--check"
    aria-hidden="true"
  ></span>
</div>
