<h3 class="ecl-u-type-heading-3">Indicator with numeric value</h3>
<div class="ecl-u-d-inline-flex ecl-u-mb-l" style="position: relative">
  <span class="ecl-indicator" data-ecl-indicator data-ecl-auto-init="Indicator">
    <span class="ecl-indicator__value">22</span>
  </span>
</div>

<h3 class="ecl-u-type-heading-3">Indicator with screen reader label</h3>
<div class="ecl-u-d-inline-flex ecl-u-mb-l" style="position: relative">
  <span class="ecl-indicator" data-ecl-indicator data-ecl-auto-init="Indicator">
    <span class="ecl-indicator__value">5</span>
    <span class="ecl-indicator__label">new notifications</span>
  </span>
</div>

<h3 class="ecl-u-type-heading-3">Indicator dot</h3>
<div class="ecl-u-d-inline-flex ecl-u-mb-l" style="position: relative">
  <span
    class="ecl-indicator"
    data-ecl-indicator
    data-ecl-auto-init="Indicator"
  ></span>
</div>

<h3 class="ecl-u-type-heading-3">Indicator with extension hooks</h3>
<div class="ecl-u-d-inline-flex ecl-u-mb-l" style="position: relative">
  <span
    class="ecl-indicator ecl-indicator--demo"
    data-ecl-indicator
    data-ecl-auto-init="Indicator"
    data-test="indicator-value"
    disabled
  >
    <span class="ecl-indicator__value">9</span>
  </span>
</div>

<h3 class="ecl-u-type-heading-3">Indicator with text value</h3>
<div class="ecl-u-d-inline-flex ecl-u-mb-l" style="position: relative">
  <span class="ecl-indicator" data-ecl-indicator data-ecl-auto-init="Indicator">
    <span class="ecl-indicator__value">New</span>
  </span>
</div>

<h3 class="ecl-u-type-heading-3">Indicator color modes</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap" style="gap: var(--s-m)">
  <div
    class="ecl-color-mode--blue ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">1</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--green-dark ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">2</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--orange ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">3</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--green ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">4</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--purple ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">5</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--blue-navy ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">6</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--blue-electric ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">7</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--blue-ocean ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">8</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--green-lemon ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">9</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--green-pine ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">10</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--warm-grey ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">11</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--red-crayola ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">12</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--yellow-gold ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">13</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--purple-violet ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">14</span>
    </span>
  </div>
  <div
    class="ecl-color-mode--red-tomato ecl-u-d-inline-flex"
    style="position: relative"
  >
    <span
      class="ecl-indicator"
      data-ecl-indicator
      data-ecl-auto-init="Indicator"
    >
      <span class="ecl-indicator__value">15</span>
    </span>
  </div>
</div>
