<!-- Default low importance label -->
<span class="ecl-label ecl-label--low">Label</span>

<!-- Standard variants -->
<span class="ecl-label ecl-label--medium">Medium</span>
<span class="ecl-label ecl-label--high">High</span>
<span class="ecl-label ecl-label--highlight">Highlight</span>

<!-- Extension hooks -->
<span
  class="ecl-label ecl-label--low custom-class custom-class--test"
  data-test="data-test-value"
  data-test-flag
  >Label with attributes</span
>

<!-- Empty label output -->
<span class="ecl-label ecl-label--low"></span>

<!-- EC color modes -->
<span class="ecl-label ecl-label--low ecl-color-mode--blue">Blue</span>
<span class="ecl-label ecl-label--low ecl-color-mode--blue-electric"
  >Blue electric</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--blue-navy"
  >Blue navy</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--blue-ocean"
  >Blue ocean</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--green">Green</span>
<span class="ecl-label ecl-label--low ecl-color-mode--green-dark"
  >Green dark</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--green-lemon"
  >Green lemon</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--green-pine"
  >Green pine</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--orange">Orange</span>
<span class="ecl-label ecl-label--low ecl-color-mode--purple">Purple</span>
<span class="ecl-label ecl-label--low ecl-color-mode--purple-violet"
  >Purple violet</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--red-crayola"
  >Red crayola</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--red-tomato"
  >Red tomato</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--warm-grey"
  >Warm grey</span
>
<span class="ecl-label ecl-label--low ecl-color-mode--yellow-gold"
  >Yellow gold</span
>
