<h3 class="ecl-u-type-heading-3">Low Importance</h3>
<div class="ecl-u-mb-l">
    <span class="ecl-label ecl-label--low">Label</span>
</div>

<h3 class="ecl-u-type-heading-3">Medium Importance</h3>
<div class="ecl-u-mb-l">
    <span class="ecl-label ecl-label--medium">Label</span>
</div>

<h3 class="ecl-u-type-heading-3">High Importance</h3>
<div class="ecl-u-mb-l">
    <span class="ecl-label ecl-label--high">Label</span>
</div>

<h3 class="ecl-u-type-heading-3">Highlight</h3>
<div class="ecl-u-mb-l">
    <span class="ecl-label ecl-label--highlight">Label</span>
</div>
