<h3 class="ecl-u-type-heading-3">Default Links</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <p class="ecl-u-type-paragraph ecl-u-mr-m ecl-u-mb-s">This is a <a href="#" class="ecl-link">default link</a> in a paragraph.</p>
</div>

<h3 class="ecl-u-type-heading-3">Standalone Links</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <a href="#" class="ecl-link ecl-link--standalone ecl-u-mr-m ecl-u-mb-s">Standalone Link</a>
</div>

<h3 class="ecl-u-type-heading-3">Primary Links</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <a href="#" class="ecl-link ecl-link--primary ecl-u-mr-m ecl-u-mb-s">Primary Link</a>
</div>

<h3 class="ecl-u-type-heading-3">Primary Highlight Links</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <a href="#" class="ecl-link ecl-link--primary-highlight ecl-u-mr-m ecl-u-mb-s">Primary Highlight Link</a>
</div>

<h3 class="ecl-u-type-heading-3">Secondary Links</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <a href="#" class="ecl-link ecl-link--secondary ecl-u-mr-m ecl-u-mb-s">Secondary Link</a>
</div>

<h3 class="ecl-u-type-heading-3">Links with Icons</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <a href="#" class="ecl-link ecl-link--icon ecl-u-mr-m ecl-u-mb-s">
        <span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon" focusable="false" aria-hidden="true" data-ecl-icon></span>
        <span class="ecl-link__label">Link with Icon Before</span>
    </a>
    <a href="#" class="ecl-link ecl-link--icon ecl-u-mr-m ecl-u-mb-s">
        <span class="ecl-link__label">Link with Icon After</span>
        <span class="wt-icon--download ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true" data-ecl-icon></span>
    </a>
    <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-only ecl-u-mr-m ecl-u-mb-s" aria-label="Download">
        <span class="wt-icon--download ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="false" data-ecl-icon></span>
    </a>
</div>

<h3 class="ecl-u-type-heading-3">External Links</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <a href="#" class="ecl-link ecl-u-mr-m ecl-u-mb-s">External Link</a>
    <a href="#" class="ecl-link ecl-link--standalone ecl-u-mr-m ecl-u-mb-s">Standalone External</a>
    <a href="#" class="ecl-link ecl-link--primary ecl-u-mr-m ecl-u-mb-s">Primary External</a>
</div>

<h3 class="ecl-u-type-heading-3">Inverted Links</h3>
<div class="ecl-u-bg-grey ecl-u-pa-m ecl-u-mb-l">
    <p class="ecl-u-type-paragraph ecl-u-mr-m ecl-u-mb-s">This is an <a href="#" class="ecl-link ecl-link--inverted">inverted link</a> on dark background.</p>
    <a href="#" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-u-mr-m ecl-u-mb-s">Inverted Standalone</a>
    <a href="#" class="ecl-link ecl-link--primary ecl-link--inverted ecl-u-mr-m ecl-u-mb-s">Inverted Primary</a>
</div>