<h3 class="ecl-u-type-heading-3">Inline link</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-l">
  The European Commission is the executive of
  <a class="ecl-link" href="/example">The European Union</a>
  and promotes its general interest.
</p>

<h3 class="ecl-u-type-heading-3">Standalone styles</h3>
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-start ecl-u-gap-m ecl-u-mb-l"
>
  <a class="ecl-link ecl-link--standalone" href="/example">Standalone link</a>
  <a class="ecl-link ecl-link--standalone ecl-link--brand" href="/example"
    >Branded standalone</a
  >
  <span class="ecl-u-bg-black ecl-u-type-color-white ecl-u-pa-m">
    <a class="ecl-link ecl-link--standalone ecl-link--inverted" href="/example"
      >Inverted standalone</a
    >
  </span>
</div>

<h3 class="ecl-u-type-heading-3">Button styles</h3>
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-start ecl-u-gap-m ecl-u-mb-l"
>
  <a class="ecl-link ecl-link--primary" href="/example">Primary link</a>
  <a class="ecl-link ecl-link--primary-highlight" href="/example"
    >Primary highlight link</a
  >
  <a class="ecl-link ecl-link--primary-neutral" href="/example"
    >Primary neutral link</a
  >
  <a class="ecl-link ecl-link--secondary" href="/example">Secondary link</a>
  <a class="ecl-link ecl-link--secondary-neutral" href="/example"
    >Secondary neutral link</a
  >
  <span class="ecl-u-bg-black ecl-u-type-color-white ecl-u-pa-m">
    <a class="ecl-link ecl-link--secondary-inverted" href="/example"
      >Secondary inverted link</a
    >
  </span>
  <span class="ecl-u-bg-black ecl-u-type-color-white ecl-u-pa-m">
    <a class="ecl-link ecl-link--primary-highlight-inverted" href="/example"
      >Primary highlight inverted link</a
    >
  </span>
</div>

<h3 class="ecl-u-type-heading-3">Icon links</h3>
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-start ecl-u-gap-m ecl-u-mb-l"
>
  <a class="ecl-link ecl-link--standalone ecl-link--icon" href="/example">
    <span class="ecl-link__label">Icon after</span>
    <span
      aria-hidden="true"
      class="wt-icon--external ecl-icon ecl-icon--fluid ecl-link__icon ecl-test-extra-class ecl-icon--external"
    ></span>
  </a>
  <a class="ecl-link ecl-link--standalone ecl-link--icon" href="/example">
    <span
      aria-hidden="true"
      class="wt-icon--external ecl-icon ecl-icon--fluid ecl-link__icon ecl-test-extra-class ecl-icon--external"
    ></span>
    <span class="ecl-link__label">Icon before</span>
  </a>
  <a class="ecl-link ecl-link--standalone ecl-link--icon" href="/example">
    <span class="ecl-link__label">Two icons after</span>
    <span
      aria-hidden="true"
      class="wt-icon--external ecl-icon ecl-icon--fluid ecl-link__icon ecl-icon--external"
    ></span>
    <span
      aria-hidden="true"
      class="wt-icon--download ecl-icon ecl-icon--fluid ecl-link__icon ecl-icon--download"
    ></span>
  </a>
  <a
    class="ecl-link ecl-link--primary-highlight ecl-link--icon"
    href="/example"
  >
    <span class="ecl-link__label">Call to action link</span>
    <span
      aria-hidden="true"
      class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-90 ecl-link__icon ecl-icon--corner-arrow"
    ></span>
  </a>
</div>

<h3 class="ecl-u-type-heading-3">External link</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-l">
  <a
    class="ecl-link ecl-link--standalone ecl-link--icon"
    href="https://europa.eu"
  >
    <span class="ecl-link__label">Visit europa.eu</span>
    <span
      aria-hidden="false"
      class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external"
      role="img"
      title="Links to an external url"
    ></span>
  </a>
</p>

<h3 class="ecl-u-type-heading-3">Attributes and hidden label</h3>
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-start ecl-u-gap-m ecl-u-mb-l"
>
  <a
    aria-label="Download file"
    class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-only"
    href="/example"
    id="download-file"
  >
    <span class="ecl-link__label" id="download-file-label">Download file</span>
    <span
      aria-hidden="true"
      class="wt-icon--download ecl-icon ecl-icon--fluid ecl-link__icon ecl-icon--download"
    ></span>
  </a>
  <a
    class="ecl-link ecl-link--standalone ecl-link--icon custom-class custom-class--test"
    data-test
    data-test-1="data-test-value-1"
    href="/example"
  >
    <span class="ecl-link__label">Extended attributes</span>
    <span
      aria-hidden="true"
      class="wt-icon--external ecl-icon ecl-icon--fluid ecl-link__icon ecl-test-extra-class ecl-icon--external"
    ></span>
  </a>
</div>

<h3 class="ecl-u-type-heading-3">Link with indicator</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-l">
  <a
    class="ecl-link ecl-link--primary-highlight ecl-link--icon ecl-link--icon-only"
    href="/example"
  >
    <span class="ecl-link__label">Call to action link</span>
    <span class="ecl-link__icon-container">
      <span
        aria-hidden="true"
        class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-90 ecl-link__icon ecl-icon--corner-arrow"
      ></span>
      <span
        class="ecl-indicator"
        data-ecl-auto-init="Indicator"
        data-ecl-indicator
      >
        <span class="ecl-indicator__value">10</span>
      </span>
    </span>
  </a>
</p>

<h3 class="ecl-u-type-heading-3">Color modes</h3>
<div
  class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-align-items-start ecl-u-gap-m ecl-u-mb-l"
>
  <a class="ecl-link ecl-link--standalone ecl-color-mode--blue" href="/example"
    >Blue mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--green-dark"
    href="/example"
    >Green dark mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--orange"
    href="/example"
    >Orange mode</a
  >
  <a class="ecl-link ecl-link--standalone ecl-color-mode--green" href="/example"
    >Green mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--purple"
    href="/example"
    >Purple mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--blue-navy"
    href="/example"
    >Blue navy mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--blue-electric"
    href="/example"
    >Blue electric mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--blue-ocean"
    href="/example"
    >Blue ocean mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--green-lemon"
    href="/example"
    >Green lemon mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--green-pine"
    href="/example"
    >Green pine mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--warm-grey"
    href="/example"
    >Warm grey mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--red-crayola"
    href="/example"
    >Red crayola mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--yellow-gold"
    href="/example"
    >Yellow gold mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--purple-violet"
    href="/example"
    >Purple violet mode</a
  >
  <a
    class="ecl-link ecl-link--standalone ecl-color-mode--red-tomato"
    href="/example"
    >Red tomato mode</a
  >
</div>
