<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Vertical image list</h3>
<ul class="ecl-list-illustration ecl-list-illustration--zebra ecl-u-mb-2xl">
  <li class="ecl-list-illustration__item">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__item-content--row"
    >
      <picture class="ecl-picture ecl-list-illustration__picture">
        <img
          class="ecl-list-illustration__image"
          src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
          alt="Image alternative text"
        />
      </picture>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__value">3.2 million</div>
          <div class="ecl-list-illustration__title">
            List with illustration item 1
          </div>
        </div>
        <div class="ecl-list-illustration__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          eleifend quam leo, at malesuada ex viverra vitae.
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__item-content--row"
    >
      <picture class="ecl-picture ecl-list-illustration__picture">
        <img
          class="ecl-list-illustration__image"
          src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
          alt=""
        />
      </picture>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">
            List with illustration item 2
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__item-content--row"
    >
      <picture class="ecl-picture ecl-list-illustration__picture">
        <img
          class="ecl-list-illustration__image"
          src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
          alt="Image alternative text"
        />
      </picture>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__description">
          Description-only item output.
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__item-content--row"
    >
      <picture class="ecl-picture ecl-list-illustration__picture">
        <img
          class="ecl-list-illustration__image"
          src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
          alt="Image alternative text"
        />
      </picture>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__value">42</div>
        </div>
      </div>
    </div>
  </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">
  Horizontal image list, square sizes and centered content
</h3>
<ul
  class="ecl-list-illustration ecl-list-illustration--col-4 ecl-list-illustration--centered ecl-u-mb-2xl"
>
  <li class="ecl-list-illustration__item">
    <div class="ecl-list-illustration__item-content">
      <picture
        class="ecl-picture ecl-list-illustration__picture ecl-list-illustration__picture--square"
      >
        <img
          class="ecl-list-illustration__image ecl-list-illustration__image--square ecl-list-illustration__image--s"
          src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
          alt="Small square image"
        />
      </picture>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__value">S</div>
          <div class="ecl-list-illustration__title">Small media</div>
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item">
    <div class="ecl-list-illustration__item-content">
      <picture
        class="ecl-picture ecl-list-illustration__picture ecl-list-illustration__picture--square"
      >
        <img
          class="ecl-list-illustration__image ecl-list-illustration__image--square ecl-list-illustration__image--m"
          src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
          alt="Medium square image"
        />
      </picture>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__value">M</div>
          <div class="ecl-list-illustration__title">Medium media</div>
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item">
    <div class="ecl-list-illustration__item-content">
      <picture
        class="ecl-picture ecl-list-illustration__picture ecl-list-illustration__picture--square"
      >
        <img
          class="ecl-list-illustration__image ecl-list-illustration__image--square ecl-list-illustration__image--l"
          src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
          alt="Large square image"
        />
      </picture>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__value">L</div>
          <div class="ecl-list-illustration__title">Large media</div>
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail"></div>
    </div>
  </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Horizontal icon list</h3>
<ul class="ecl-list-illustration ecl-list-illustration--col-3 ecl-u-mb-2xl">
  <li class="ecl-list-illustration__item">
    <div class="ecl-list-illustration__item-content">
      <span
        class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation"
        aria-hidden="true"
      ></span>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__value">3.2 million</div>
          <div class="ecl-list-illustration__title">Decorative icon</div>
        </div>
        <div class="ecl-list-illustration__description">
          Icon output uses the delegated icon component.
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item">
    <div class="ecl-list-illustration__item-content">
      <span
        class="wt-icon--information ecl-icon ecl-icon--2xl ecl-list-illustration__icon ecl-icon--information"
        role="img"
        aria-label="Information"
      ></span>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Accessible large icon</div>
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <span
        class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation"
        aria-hidden="true"
      ></span>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__description">
          Description without a title container.
        </div>
      </div>
    </div>
  </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Inline icon list</h3>
<ul
  class="ecl-list-illustration ecl-list-illustration--icon-inline ecl-list-illustration--font-m ecl-u-mb-2xl"
>
  <li
    class="ecl-list-illustration__item custom-item"
    data-item-id="inline-1"
    data-item-enabled
  >
    <div class="ecl-list-illustration__item-content">
      <span
        class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation"
        aria-hidden="true"
      ></span>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__value">14%</div>
          <div class="ecl-list-illustration__title">Inline icon item</div>
        </div>
        <div class="ecl-list-illustration__description">
          Extra item classes and attributes are passed through.
        </div>
      </div>
    </div>
  </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">
  Icon list with divider and two columns
</h3>
<ul
  class="ecl-list-illustration ecl-list-illustration--icon-list ecl-list-illustration--col-2 ecl-u-mb-2xl"
>
  <li class="ecl-list-illustration__item">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__divider"
    >
      <span
        class="wt-icon--check-bold ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--check-bold"
        aria-hidden="true"
      ></span>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Icon list item</div>
        </div>
        <div class="ecl-list-illustration__description">
          Divider appears on the item content wrapper.
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__divider"
    >
      <span
        class="wt-icon--check-bold ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--check-bold"
        aria-hidden="true"
      ></span>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Second item</div>
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__divider"
    >
      <span
        class="wt-icon--check-bold ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--check-bold"
        aria-hidden="true"
      ></span>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Last row A</div>
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__divider"
    >
      <span
        class="wt-icon--check-bold ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--check-bold"
        aria-hidden="true"
      ></span>
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Last row B</div>
        </div>
      </div>
    </div>
  </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Number list</h3>
<ol
  class="ecl-list-illustration ecl-list-illustration--number-list ecl-list-illustration--number-list-reset ecl-list-illustration--col-2 ecl-u-mb-2xl"
  start="5"
  style="--ecl-list-illustration-counter-start: 5"
>
  <li class="ecl-list-illustration__item">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__divider"
    >
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Numbered item</div>
        </div>
        <div class="ecl-list-illustration__description">
          Counter reset starts from the root start attribute.
        </div>
      </div>
    </div>
  </li>
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div
      class="ecl-list-illustration__item-content ecl-list-illustration__divider"
    >
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Last numbered item</div>
        </div>
      </div>
    </div>
  </li>
</ol>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Number list without reset</h3>
<ol
  class="ecl-list-illustration ecl-list-illustration--number-list ecl-u-mb-2xl"
  start="0"
>
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Counter continues</div>
        </div>
      </div>
    </div>
  </li>
</ol>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">
  Root extension attributes and color mode parameter
</h3>
<ul
  class="ecl-list-illustration ecl-color-mode--blue custom-list ecl-u-mb-2xl"
  data-list-id="root-extension"
  data-list-enabled
>
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">
            Blue color mode with root hooks
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Empty input edge-case contract</h3>
<!-- Tagged Twig renders no root when items is empty, missing, or not iterable. -->

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">EC color modes</h3>
<ul class="ecl-list-illustration ecl-color-mode--blue-electric ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Blue electric</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--blue-navy ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Blue navy</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--blue-ocean ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Blue ocean</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--green ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Green</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--green-dark ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Green dark</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--green-lemon ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Green lemon</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--green-pine ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Green pine</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--orange ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Orange</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--purple ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Purple</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--purple-violet ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Purple violet</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--red-crayola ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Red crayola</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--red-tomato ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Red tomato</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--warm-grey ecl-u-mb-m">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Warm grey</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="ecl-list-illustration ecl-color-mode--yellow-gold">
  <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
    <div class="ecl-list-illustration__item-content">
      <div class="ecl-list-illustration__detail">
        <div class="ecl-list-illustration__title-container">
          <div class="ecl-list-illustration__title">Yellow gold</div>
        </div>
      </div>
    </div>
  </li>
</ul>
