<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Vertical list with icons</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Use the default list with illustrations to present key figures alongside a short description.</p>
<ul class="ecl-list-illustration ecl-list-illustration--zebra ecl-u-mb-2xl">
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 1</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 2</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 3</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 4</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Horizontal list with icons</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Switch to a multi-column layout to highlight several illustrated items side by side.</p>
<ul class="ecl-list-illustration ecl-list-illustration--col-2 ecl-u-mb-2xl">
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 1</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 2</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 3</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--regulation ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--regulation" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 4</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Vertical list with images</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Pair each entry with an accompanying image while keeping the item content aligned in a single column.</p>
<ul class="ecl-list-illustration ecl-list-illustration--zebra ecl-u-mb-2xl">
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content ecl-list-illustration__item-content--row">
            <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
            <picture class="ecl-picture ecl-list-illustration__picture">
                <img class="ecl-list-illustration__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image alternative text">
            </picture>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 1</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content ecl-list-illustration__item-content--row">
            <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
            <picture class="ecl-picture ecl-list-illustration__picture">
                <img class="ecl-list-illustration__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image alternative text">
            </picture>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 2</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content ecl-list-illustration__item-content--row">
            <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
            <picture class="ecl-picture ecl-list-illustration__picture">
                <img class="ecl-list-illustration__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image alternative text">
            </picture>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 3</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
        <div class="ecl-list-illustration__item-content ecl-list-illustration__item-content--row">
            <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
            <picture class="ecl-picture ecl-list-illustration__picture">
                <img class="ecl-list-illustration__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image alternative text">
            </picture>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 4</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Horizontal list with images</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Display visual tiles across two columns to balance imagery and supporting copy.</p>
<ul class="ecl-list-illustration ecl-list-illustration--col-2 ecl-u-mb-2xl">
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
            <picture class="ecl-picture ecl-list-illustration__picture">
                <img class="ecl-list-illustration__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image alternative text">
            </picture>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 1</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
            <picture class="ecl-picture ecl-list-illustration__picture">
                <img class="ecl-list-illustration__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image alternative text">
            </picture>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 2</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
            <picture class="ecl-picture ecl-list-illustration__picture">
                <img class="ecl-list-illustration__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image alternative text">
            </picture>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 3</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: picture. Use the picture component template; see picture sub component for full markup guidance. -->
            <picture class="ecl-picture ecl-list-illustration__picture">
                <img class="ecl-list-illustration__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Image alternative text">
            </picture>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title-container">
                    <div class="ecl-list-illustration__value">3.2 million</div>
                    <div class="ecl-list-illustration__title">List with illustration item 4</div>
                </div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus. Fusce sit amet sem dui. In nec lacinia eros.</div>
            </div>
        </div>
    </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Icon list</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Use the icon list variant for short statements with a leading icon bullet.</p>
<ul class="ecl-list-illustration ecl-list-illustration--icon-list ecl-u-mb-2xl">
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--check-bold ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--check-bold" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title">List with illustration item 1</div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--check-bold ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--check-bold" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title">List with illustration item 2</div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--check-bold ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--check-bold" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title">List with illustration item 3</div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
        <div class="ecl-list-illustration__item-content">
            <!-- Sub component: icon. Use the icon component template; see icon sub component for full markup guidance. -->
            <span class="wt-icon--check-bold ecl-icon ecl-icon--l ecl-list-illustration__icon ecl-icon--check-bold" aria-hidden="true"></span>
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title">List with illustration item 4</div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus.</div>
            </div>
        </div>
    </li>
</ul>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Number list</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Use the numbered variant when the order of the items matters.</p>
<ul class="ecl-list-illustration ecl-list-illustration--number-list ecl-list-illustration--number-list-reset ecl-u-mb-2xl">
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title">List with illustration item 1</div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title">List with illustration item 2</div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item">
        <div class="ecl-list-illustration__item-content">
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title">List with illustration item 3</div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus.</div>
            </div>
        </div>
    </li>
    <li class="ecl-list-illustration__item ecl-list-illustration__item--is-last">
        <div class="ecl-list-illustration__item-content">
            <div class="ecl-list-illustration__detail">
                <div class="ecl-list-illustration__title">List with illustration item 4</div>
                <div class="ecl-list-illustration__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quam leo, at malesuada ex viverra vitae. Nullam id felis eu lorem condimentum rutrum vitae ut felis. Nam ultricies, metus vel aliquam euismod, lacus dolor sodales neque, in laoreet tellus erat posuere purus.</div>
            </div>
        </div>
    </li>
</ul>
