<h3 class="ecl-u-type-heading-3">Modal</h3>

<!-- Sub component: button. See the button sub component for full markup guidance. -->
<button class="ecl-button ecl-button--secondary ecl-button--m ecl-u-mb-m" id="modal-toggle" type="button">Modal toggle</button>

<dialog aria-describedby="modal-example-body-scroll" aria-labelledby="modal-example-header" aria-modal="true" class="ecl-modal ecl-modal--l" data-ecl-auto-init="Modal" data-ecl-modal-toggle="modal-toggle" id="modal-example">
  <div class="ecl-modal__container">
    <div class="ecl-modal__content ecl-container">
      <header class="ecl-modal__header">
        <div class="ecl-modal__header-content" id="modal-example-header">
          Modal title
        </div>
        <!-- Sub component: button. See the button sub component for full markup guidance. -->
        <button class="ecl-button ecl-button--tertiary ecl-button--m ecl-button--neutral ecl-button--icon-only ecl-modal__close" data-ecl-modal-close type="button">
          <span class="ecl-button__container">
            <span class="ecl-button__label" data-ecl-label="true">Close</span>
            <!-- Sub component: icon. See the icon sub component for full markup guidance. -->
            <span aria-hidden="true" class="wt-icon--close ecl-icon ecl-icon--m ecl-button__icon ecl-icon--close" data-ecl-icon></span>
          </span>
        </button>
      </header>
      <div class="ecl-modal__body">
        <div class="ecl-modal__body-scroll" data-ecl-modal-scroll id="modal-example-body-scroll">
          <p class="ecl-u-type-paragraph">Scrollable content: Sed quam augue, volutpat sed dapibus in, accumsan a arcu. Nulla quam enim, porttitor at neque a, egestas porttitor tortor. Nam tortor sem, elementum id augue quis, posuere vestibulum dui. Donec id posuere libero, sit amet egestas lorem.</p>
          <p class="ecl-u-type-paragraph ecl-u-mt-m">Aliquam finibus ipsum mauris, a molestie tortor laoreet. Morbi interdum orci arcu, tempor porta nisl elementum non. Morbi blandit risus sed turpis mollis mattis. Maecenas semper, risus nec sollicitudin aliquet, dui eros vehicula nulla, ac bibendum mauris mauris a lectus.</p>
        </div>
        <div aria-hidden="true" class="ecl-modal__body-overflow"></div>
        <div class="ecl-modal__body-fixed">
          <!-- Sub component: form-group. See the form-group sub component for full markup guidance. -->
          <fieldset class="ecl-form-group">
            <legend class="ecl-form-label" id="modal-consent-label">Stay informed</legend>
            <!-- Sub component: checkbox. See the checkbox sub component for full markup guidance. -->
            <div class="ecl-checkbox ecl-checkbox--single">
              <input class="ecl-checkbox__input" id="modal-consent" name="modal-consent" type="checkbox" value="updates" />
              <label class="ecl-checkbox__label" for="modal-consent">
                <span class="ecl-checkbox__box">
                  <!-- Sub component: icon. See the icon sub component for full markup guidance. -->
                  <span aria-hidden="true" class="wt-icon--check ecl-icon ecl-icon--xs ecl-checkbox__icon ecl-icon--check"></span>
                </span>
                <span class="ecl-checkbox__text">Receive follow-up updates</span>
              </label>
            </div>
          </fieldset>
        </div>
      </div>
      <footer class="ecl-modal__footer">
        <div class="ecl-modal__footer-content">
          <!-- Sub component: button. See the button sub component for full markup guidance. -->
          <button class="ecl-button ecl-button--secondary ecl-button--m ecl-modal__button" data-ecl-modal-close type="button">Cancel</button>
          <!-- Sub component: button. See the button sub component for full markup guidance. -->
          <button class="ecl-button ecl-button--primary ecl-button--m ecl-modal__button" type="submit">Confirm action</button>
        </div>
      </footer>
    </div>
  </div>
</dialog>
