<div class="ecl-notification ecl-notification--info ecl-u-mb-l" data-ecl-notification role="alert" data-ecl-auto-init="Notification">
    <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
    <span class="wt-icon--information-outline ecl-icon ecl-icon--l ecl-notification__icon ecl-icon--information-outline" aria-hidden="false" role="img" title="Information"></span>
    <div class="ecl-notification__content">
        <!-- Sub component: button. Use the button component template; see <code>button</code> sub component for full markup guidance. -->
        <button class="ecl-button ecl-button--tertiary ecl-button--m ecl-button--neutral ecl-notification__close ecl-button--icon-only" type="button" data-ecl-notification-close>
            <span class="ecl-button__container">
                <span class="ecl-button__label" data-ecl-label="true">Close</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--close ecl-icon ecl-icon--m ecl-button__icon ecl-icon--close" aria-hidden="true" data-ecl-icon></span>
            </span>
        </button>
        <div class="ecl-notification__title">Information notification</div>
        <div class="ecl-notification__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan semper lorem, ac mollis lacus tincidunt eu. Duis scelerisque diam eu tempus fringilla.</div>
        <div class="ecl-notification__link">
            <!-- Sub component: link. Use the link component template; see <code>link</code> sub component for full markup guidance. -->
            <a class="ecl-link ecl-link--icon ecl-notification__link-item" href="/example">
                <span class="ecl-link__label">Lorem ipsum</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" aria-hidden="false" role="img" title="External link"></span>
            </a>
        </div>
        <div class="ecl-notification__link">
            <!-- Sub component: link. Use the link component template; see <code>link</code> sub component for full markup guidance. -->
            <a class="ecl-link ecl-link--icon ecl-notification__link-item" href="/example">
                <span class="ecl-link__label">Nullam accumsan semper lorem</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" aria-hidden="false" role="img" title="External link"></span>
            </a>
        </div>
    </div>
</div>

<div class="ecl-notification ecl-notification--success ecl-u-mb-l" data-ecl-notification role="alert" data-ecl-auto-init="Notification">
    <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
    <span class="wt-icon--success-outline ecl-icon ecl-icon--l ecl-notification__icon ecl-icon--success-outline" aria-hidden="false" role="img" title="Success"></span>
    <div class="ecl-notification__content">
        <!-- Sub component: button. Use the button component template; see <code>button</code> sub component for full markup guidance. -->
        <button class="ecl-button ecl-button--tertiary ecl-button--m ecl-button--neutral ecl-notification__close ecl-button--icon-only" type="button" data-ecl-notification-close>
            <span class="ecl-button__container">
                <span class="ecl-button__label" data-ecl-label="true">Close</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--close ecl-icon ecl-icon--m ecl-button__icon ecl-icon--close" aria-hidden="true" data-ecl-icon></span>
            </span>
        </button>
        <div class="ecl-notification__title">Success notification</div>
        <div class="ecl-notification__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan semper lorem, ac mollis lacus tincidunt eu. Duis scelerisque diam eu tempus fringilla.</div>
        <div class="ecl-notification__link">
            <!-- Sub component: link. Use the link component template; see <code>link</code> sub component for full markup guidance. -->
            <a class="ecl-link ecl-link--icon ecl-notification__link-item" href="/example">
                <span class="ecl-link__label">Lorem ipsum</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" aria-hidden="false" role="img" title="External link"></span>
            </a>
        </div>
        <div class="ecl-notification__link">
            <!-- Sub component: link. Use the link component template; see <code>link</code> sub component for full markup guidance. -->
            <a class="ecl-link ecl-link--icon ecl-notification__link-item" href="/example">
                <span class="ecl-link__label">Nullam accumsan semper lorem</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" aria-hidden="false" role="img" title="External link"></span>
            </a>
        </div>
    </div>
</div>

<div class="ecl-notification ecl-notification--warning ecl-u-mb-l" data-ecl-notification role="alert" data-ecl-auto-init="Notification">
    <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
    <span class="wt-icon--warning-outline ecl-icon ecl-icon--l ecl-notification__icon ecl-icon--warning-outline" aria-hidden="false" role="img" title="Warning"></span>
    <div class="ecl-notification__content">
        <!-- Sub component: button. Use the button component template; see <code>button</code> sub component for full markup guidance. -->
        <button class="ecl-button ecl-button--tertiary ecl-button--m ecl-button--neutral ecl-notification__close ecl-button--icon-only" type="button" data-ecl-notification-close>
            <span class="ecl-button__container">
                <span class="ecl-button__label" data-ecl-label="true">Close</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--close ecl-icon ecl-icon--m ecl-button__icon ecl-icon--close" aria-hidden="true" data-ecl-icon></span>
            </span>
        </button>
        <div class="ecl-notification__title">Warning notification</div>
        <div class="ecl-notification__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan semper lorem, ac mollis lacus tincidunt eu. Duis scelerisque diam eu tempus fringilla.</div>
        <div class="ecl-notification__link">
            <!-- Sub component: link. Use the link component template; see <code>link</code> sub component for full markup guidance. -->
            <a class="ecl-link ecl-link--icon ecl-notification__link-item" href="/example">
                <span class="ecl-link__label">Lorem ipsum</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" aria-hidden="false" role="img" title="External link"></span>
            </a>
        </div>
        <div class="ecl-notification__link">
            <!-- Sub component: link. Use the link component template; see <code>link</code> sub component for full markup guidance. -->
            <a class="ecl-link ecl-link--icon ecl-notification__link-item" href="/example">
                <span class="ecl-link__label">Nullam accumsan semper lorem</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" aria-hidden="false" role="img" title="External link"></span>
            </a>
        </div>
    </div>
</div>

<div class="ecl-notification ecl-notification--error" data-ecl-notification role="alert" data-ecl-auto-init="Notification">
    <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
    <span class="wt-icon--error-outline ecl-icon ecl-icon--l ecl-notification__icon ecl-icon--error-outline" aria-hidden="false" role="img" title="Error"></span>
    <div class="ecl-notification__content">
        <!-- Sub component: button. Use the button component template; see <code>button</code> sub component for full markup guidance. -->
        <button class="ecl-button ecl-button--tertiary ecl-button--m ecl-button--neutral ecl-notification__close ecl-button--icon-only" type="button" data-ecl-notification-close>
            <span class="ecl-button__container">
                <span class="ecl-button__label" data-ecl-label="true">Close</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--close ecl-icon ecl-icon--m ecl-button__icon ecl-icon--close" aria-hidden="true" data-ecl-icon></span>
            </span>
        </button>
        <div class="ecl-notification__title">Error notification</div>
        <div class="ecl-notification__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan semper lorem, ac mollis lacus tincidunt eu. Duis scelerisque diam eu tempus fringilla.</div>
        <div class="ecl-notification__link">
            <!-- Sub component: link. Use the link component template; see <code>link</code> sub component for full markup guidance. -->
            <a class="ecl-link ecl-link--icon ecl-notification__link-item" href="/example">
                <span class="ecl-link__label">Lorem ipsum</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" aria-hidden="false" role="img" title="External link"></span>
            </a>
        </div>
        <div class="ecl-notification__link">
            <!-- Sub component: link. Use the link component template; see <code>link</code> sub component for full markup guidance. -->
            <a class="ecl-link ecl-link--icon ecl-notification__link-item" href="/example">
                <span class="ecl-link__label">Nullam accumsan semper lorem</span>
                <!-- Sub component: icon. Use the icon component template; see <code>icon</code> sub component for full markup guidance. -->
                <span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-link__icon ecl-icon--external" aria-hidden="false" role="img" title="External link"></span>
            </a>
        </div>
    </div>
</div>