<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Default stacked page header</h3>
<div class="ecl-u-mb-xl">
  <div
    class="ecl-page-header ecl-page-header--description-top ecl-page-header--picture-top custom-page-header"
    data-test="page-header"
    data-test-flag
  >
    <div
      class="ecl-page-header-expandable"
      data-ecl-auto-init="PageHeaderExpandable"
    >
      <div
        class="ecl-page-header-expandable__header"
        data-ecl-page-header-expandable-header
      >
        <div class="ecl-container ecl-page-header-expandable__container">
          <div class="ecl-page-header-expandable__header-text">
            <strong>LOREM IPSUM</strong> - dolor sit amet, consectetur
            <a class="ecl-link" href="/example">adipiscing</a> elit.
          </div>
          <button
            class="ecl-button ecl-button--tertiary ecl-button--neutral ecl-page-header-expandable__toggle ecl-button--icon-only"
            type="submit"
            aria-controls="page-header-expandable-panel-default"
            aria-expanded="false"
            data-test-custom-toggle-attribute
            data-ecl-page-header-expandable-toggle
          >
            <span class="ecl-button__container">
              <span class="ecl-button__label" data-ecl-label="true"
                >expandable button</span
              >
              <span
                class="wt-icon--corner-arrow ecl-icon ecl-icon--m ecl-icon--flip-vertical ecl-button__icon ecl-icon--corner-arrow"
                data-ecl-icon
                aria-hidden="true"
              ></span>
            </span>
          </button>
        </div>
      </div>
      <div
        class="ecl-page-header-expandable__panel"
        id="page-header-expandable-panel-default"
        hidden
      >
        <div class="ecl-container ecl-page-header-expandable__container">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>
              Morbi faucibus justo eget ante hendrerit sagittis
              <ul>
                <li>consectetur adipiscing</li>
                <li>Maecenas non convallis dolor</li>
              </ul>
            </li>
            <li>Integer dignissim imperdiet</li>
          </ul>
        </div>
      </div>
    </div>
    <picture class="ecl-picture ecl-page-header__picture-background">
      <img
        class="ecl-page-header__background"
        src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
        alt="Europe flag"
      />
    </picture>
    <div class="ecl-page-header__container">
      <div class="ecl-container">
        <nav
          class="ecl-breadcrumb ecl-page-header__breadcrumb"
          aria-label="You are here:"
          data-ecl-breadcrumb="true"
        >
          <ol class="ecl-breadcrumb__container">
            <li
              class="ecl-breadcrumb__segment"
              data-ecl-breadcrumb-item="static"
            >
              <a class="ecl-link ecl-breadcrumb__link" href="/example">Home</a>
              <span
                class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-breadcrumb__icon ecl-icon--corner-arrow"
                aria-hidden="true"
                role="presentation"
              ></span>
            </li>
            <li
              class="ecl-breadcrumb__segment"
              data-ecl-breadcrumb-item="static"
            >
              <a class="ecl-link ecl-breadcrumb__link" href="/example"
                >Parent Page label</a
              >
              <span
                class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-breadcrumb__icon ecl-icon--corner-arrow"
                aria-hidden="true"
                role="presentation"
              ></span>
            </li>
            <li
              class="ecl-breadcrumb__segment ecl-breadcrumb__current-page"
              data-ecl-breadcrumb-item="static"
              aria-current="page"
            >
              Current Page Label
            </li>
          </ol>
        </nav>
        <h1 class="ecl-page-header__title">Consectetur adipiscing elit</h1>
        <div class="ecl-page-header__description-top">
          <div class="ecl-page-header__description-container">
            <picture class="ecl-picture ecl-page-header__picture-thumbnail">
              <img
                class="ecl-page-header__description-thumbnail"
                src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
                alt="Europe flag"
              />
            </picture>
            <p class="ecl-page-header__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              nec ullamcorper mi. Morbi interdum fermentum tempus.
            </p>
          </div>
        </div>
        <ul class="ecl-page-header__meta">
          <li class="ecl-page-header__meta-item">News article</li>
          <li class="ecl-page-header__meta-item">10 March 2025</li>
          <li class="ecl-page-header__meta-item">
            <span
              class="wt-icon--location ecl-icon ecl-icon--2xs ecl-page-header__meta-icon ecl-icon--location"
              aria-hidden="true"
            ></span>
            Brussels
          </li>
          <li class="ecl-page-header__meta-item">
            <span
              class="wt-icon--clock ecl-icon ecl-icon--2xs ecl-page-header__meta-icon ecl-icon--clock"
              aria-hidden="true"
            ></span>
            1 minute read
          </li>
          <li class="ecl-page-header__meta-item">Research Center</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Hidden title without meta</h3>
<div class="ecl-u-mb-xl">
  <div class="ecl-page-header ecl-page-header--description-top">
    <div class="ecl-page-header__container">
      <div class="ecl-container">
        <h1 class="ecl-page-header__title ecl-page-header__title--hidden">
          Hidden page title
        </h1>
        <div class="ecl-page-header__description-top">
          <div class="ecl-page-header__description-container">
            <p class="ecl-page-header__description">
              The title remains available to assistive technology.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Description bottom</h3>
<div class="ecl-u-mb-xl">
  <div class="ecl-page-header ecl-page-header--description-bottom">
    <div class="ecl-page-header__container">
      <div class="ecl-container">
        <h1 class="ecl-page-header__title">Bottom introduction</h1>
        <ul class="ecl-page-header__meta">
          <li class="ecl-page-header__meta-item">Press release</li>
        </ul>
      </div>
    </div>
    <div class="ecl-page-header__description-bottom">
      <div class="ecl-container">
        <div class="ecl-page-header__description-container">
          <p class="ecl-page-header__description">
            This introduction is rendered in the bottom description section.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Picture bottom</h3>
<div class="ecl-u-mb-xl">
  <div
    class="ecl-page-header ecl-page-header--description-top ecl-page-header--picture-bottom"
  >
    <div class="ecl-page-header__container">
      <div class="ecl-container">
        <h1 class="ecl-page-header__title">Picture after content</h1>
        <div class="ecl-page-header__description-top">
          <div class="ecl-page-header__description-container">
            <p class="ecl-page-header__description">
              The background picture is placed at the end of the stacked
              content.
            </p>
          </div>
        </div>
        <picture class="ecl-picture ecl-page-header__picture-background">
          <img
            class="ecl-page-header__background"
            src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
            alt="Europe flag"
          />
        </picture>
      </div>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Picture beside</h3>
<div class="ecl-u-mb-xl">
  <div
    class="ecl-page-header ecl-page-header--description-top ecl-page-header--picture-beside"
  >
    <div class="ecl-page-header__container">
      <picture class="ecl-picture ecl-page-header__picture-background">
        <img
          class="ecl-page-header__background"
          src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
          alt="Europe flag"
        />
      </picture>
      <div class="ecl-page-header__section-info ecl-container">
        <div class="ecl-page-header__content-info">
          <h1 class="ecl-page-header__title">Picture beside title</h1>
          <div class="ecl-page-header__description-top">
            <div class="ecl-page-header__description-container">
              <p class="ecl-page-header__description">
                The picture and content are rendered as adjacent columns.
              </p>
            </div>
          </div>
        </div>
        <ul class="ecl-page-header__meta">
          <li class="ecl-page-header__meta-item">Policy area</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Background and color mode</h3>
<div class="ecl-u-mb-xl">
  <div
    class="ecl-page-header ecl-color-mode--blue ecl-page-header--background ecl-page-header--description-top"
  >
    <div class="ecl-page-header__container">
      <div class="ecl-container">
        <h1 class="ecl-page-header__title">Background page header</h1>
        <div class="ecl-page-header__description-top">
          <div class="ecl-page-header__description-container">
            <p class="ecl-page-header__description">
              A colored background can be combined with a color mode.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Expandable without panel</h3>
<div class="ecl-u-mb-xl">
  <div class="ecl-page-header">
    <div class="ecl-page-header-expandable ecl-page-header-no-toggle">
      <div
        class="ecl-page-header-expandable__header"
        data-ecl-page-header-expandable-header
      >
        <div class="ecl-container ecl-page-header-expandable__container">
          <div class="ecl-page-header-expandable__header-text">
            Static expandable header content.
          </div>
        </div>
      </div>
    </div>
    <div class="ecl-page-header__container">
      <div class="ecl-container">
        <h1 class="ecl-page-header__title">No toggle edge output</h1>
      </div>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Empty input output</h3>
<div class="ecl-u-mb-xl">
  <div class="ecl-page-header">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Color modes</h3>
<div class="ecl-u-mb-xl">
  <div class="ecl-page-header ecl-color-mode--blue-electric">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--blue-navy">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--blue-ocean">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--green">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--green-dark">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--green-lemon">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--green-pine">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--orange">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--purple">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--purple-violet">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--red-crayola">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--red-tomato">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--warm-grey">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
  <div class="ecl-page-header ecl-color-mode--yellow-gold">
    <div class="ecl-page-header__container">
      <div class="ecl-container"></div>
    </div>
  </div>
</div>
