<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Default page information</h3>
<div class="ecl-page-info ecl-u-mb-2xl">
  This page was last updated on 15 December 2025
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Empty page information</h3>
<div class="ecl-page-info ecl-u-mb-2xl"></div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Inline link content</h3>
<div class="ecl-page-info ecl-u-mb-2xl">
  Published on 10 November 2025 |
  <a class="ecl-link" href="/example">View publication details</a>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Extension hooks</h3>
<div
  class="ecl-page-info custom-class custom-class--test ecl-u-mb-2xl"
  data-test="data-test-value"
  data-test-flag
>
  Document reference: COM(2025) 123 final
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Blue color mode</h3>
<div class="ecl-color-mode--blue ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Green dark color mode</h3>
<div class="ecl-color-mode--green-dark ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Orange color mode</h3>
<div class="ecl-color-mode--orange ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Green color mode</h3>
<div class="ecl-color-mode--green ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Purple color mode</h3>
<div class="ecl-color-mode--purple ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Blue navy color mode</h3>
<div class="ecl-color-mode--blue-navy ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Blue electric color mode</h3>
<div class="ecl-color-mode--blue-electric ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Blue ocean color mode</h3>
<div class="ecl-color-mode--blue-ocean ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Green lemon color mode</h3>
<div class="ecl-color-mode--green-lemon ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Green pine color mode</h3>
<div class="ecl-color-mode--green-pine ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Warm grey color mode</h3>
<div class="ecl-color-mode--warm-grey ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Red crayola color mode</h3>
<div class="ecl-color-mode--red-crayola ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Yellow gold color mode</h3>
<div class="ecl-color-mode--yellow-gold ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Purple violet color mode</h3>
<div class="ecl-color-mode--purple-violet ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-s">Red tomato color mode</h3>
<div class="ecl-color-mode--red-tomato ecl-u-mb-2xl">
  <div class="ecl-page-info">
    This page was last updated on 15 December 2025
  </div>
</div>
