<h3 class="ecl-u-type-heading-3">Default Page Header</h3>
<div class="ecl-u-mb-xl">
  <div class="ecl-page-header">
    <picture class="ecl-picture ecl-page-header__picture-background">
      <img class="ecl-page-header__background" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Europe flag">
    </picture>
    <div class="ecl-container ecl-page-header__container">
      <nav class="ecl-breadcrumb ecl-page-header__breadcrumb" aria-label="You are here:" data-ecl-breadcrumb="true">
        <ol class="ecl-breadcrumb__container">
          <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="static">
            <a class="ecl-link ecl-link--standalone ecl-breadcrumb__link" href="/example">Home</a>
          <span class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-breadcrumb__icon" role="presentation" aria-hidden="true"></span>
        </li>
        <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="static">
          <a class="ecl-link ecl-link--standalone ecl-breadcrumb__link" href="/example">Parent Page label</a>
          <span class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-breadcrumb__icon" role="presentation" aria-hidden="true"></span>
          </li>
          <li class="ecl-breadcrumb__segment ecl-breadcrumb__current-page" data-ecl-breadcrumb-item="static" aria-current="page">
            Current Page Label
          </li>
        </ol>
      </nav>
      <h1 class="ecl-page-header__title">Consectetur adipiscing elit</h1>
      <div class="ecl-page-header__description-container">
        <p class="ecl-page-header__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec ullamcorper mi. Morbi interdum fermentum tempus. Nam nec rhoncus risus, <a class="ecl-link" href="/example">eget dictum elit</a>. Vestibulum gravida tincidunt venenatis.</p>
      </div>
      <ul class="ecl-page-header__meta">
        <li class="ecl-page-header__meta-item">News article</li>
        <li class="ecl-page-header__meta-item">10 March 2025</li>
        <li class="ecl-page-header__meta-item">
          <span class="wt-icon--location ecl-icon ecl-icon--2xs ecl-page-header__meta-icon" aria-hidden="true"></span>
          Brussels
        </li>
        <li class="ecl-page-header__meta-item">
          <span class="wt-icon--clock ecl-icon ecl-icon--2xs ecl-page-header__meta-icon" aria-hidden="true"></span>
          1 minute read
        </li>
        <li class="ecl-page-header__meta-item">Research Center</li>
      </ul>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">News Page Header</h3>
<div class="ecl-u-mb-xl">
  <div class="ecl-page-header ecl-page-header--news">
    <div class="ecl-container ecl-page-header__container">
      <nav class="ecl-breadcrumb ecl-page-header__breadcrumb" aria-label="You are here:" data-ecl-breadcrumb="true">
        <ol class="ecl-breadcrumb__container">
          <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="static">
            <a class="ecl-link ecl-link--standalone ecl-breadcrumb__link" href="/example">Home</a>
            <span class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-breadcrumb__icon" role="presentation" aria-hidden="true"></span>
          </li>
          <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="static">
            <a class="ecl-link ecl-link--standalone ecl-breadcrumb__link" href="/example">Parent Page label</a>
            <span class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-breadcrumb__icon" role="presentation" aria-hidden="true"></span>
          </li>
          <li class="ecl-breadcrumb__segment ecl-breadcrumb__current-page" data-ecl-breadcrumb-item="static" aria-current="page">
            Current Page Label
          </li>
        </ol>
      </nav>
      <h1 class="ecl-page-header__title">Consectetur adipiscing elit</h1>
      <ul class="ecl-page-header__meta">
        <li class="ecl-page-header__meta-item">News article</li>
        <li class="ecl-page-header__meta-item">10 March 2025</li>
        <li class="ecl-page-header__meta-item">
          <span class="wt-icon--location ecl-icon ecl-icon--2xs ecl-page-header__meta-icon" aria-hidden="true"></span>
          Brussels
        </li>
        <li class="ecl-page-header__meta-item">
          <span class="wt-icon--clock ecl-icon ecl-icon--2xs ecl-page-header__meta-icon" aria-hidden="true"></span>
          1 minute read
        </li>
        <li class="ecl-page-header__meta-item">Research Center</li>
      </ul>
    </div>
    <div class="ecl-page-header__section-description">
      <div class="ecl-container">
        <div class="ecl-page-header__description-container">
          <p class="ecl-page-header__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec ullamcorper mi. Morbi interdum fermentum tempus. Nam nec rhoncus risus, <a class="ecl-link" href="/example">eget dictum elit</a>. Vestibulum gravida tincidunt venenatis.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">50/50 Page Header</h3>
<div class="ecl-u-mb-xl">
  <div class="ecl-page-header ecl-page-header--50-50">
    <picture class="ecl-picture ecl-page-header__picture-background">
      <img class="ecl-page-header__background" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="Europe flag">
    </picture>
    <div class="ecl-page-header__container">
      <div class="ecl-page-header__section-info ecl-container">
        <nav class="ecl-breadcrumb ecl-page-header__breadcrumb" aria-label="You are here:" data-ecl-breadcrumb="true">
          <ol class="ecl-breadcrumb__container">
            <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="static">
              <a class="ecl-link ecl-link--standalone ecl-breadcrumb__link" href="/example">Home</a>
              <span class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-breadcrumb__icon" role="presentation" aria-hidden="true"></span>
            </li>
            <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="static">
              <a class="ecl-link ecl-link--standalone ecl-breadcrumb__link" href="/example">Parent Page label</a>
              <span class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-breadcrumb__icon" role="presentation" aria-hidden="true"></span>
            </li>
            <li class="ecl-breadcrumb__segment ecl-breadcrumb__current-page" data-ecl-breadcrumb-item="static" aria-current="page">
              Current Page Label
            </li>
          </ol>
        </nav>
        <div class="ecl-page-header__content-info">
          <h1 class="ecl-page-header__title">Consectetur adipiscing elit</h1>
          <div class="ecl-page-header__description-info">
            <div class="ecl-page-header__description-container">
              <p class="ecl-page-header__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec ullamcorper mi. Morbi interdum fermentum tempus. Nam nec rhoncus risus, <a class="ecl-link" href="/example">eget dictum elit</a>. Vestibulum gravida tincidunt venenatis.</p>
            </div>
          </div>
        </div>
        <ul class="ecl-page-header__meta">
          <li class="ecl-page-header__meta-item">News article</li>
          <li class="ecl-page-header__meta-item">10 March 2025</li>
          <li class="ecl-page-header__meta-item">
            <span class="wt-icon--location ecl-icon ecl-icon--2xs ecl-page-header__meta-icon" aria-hidden="true"></span>
            Brussels
          </li>
          <li class="ecl-page-header__meta-item">
            <span class="wt-icon--clock ecl-icon ecl-icon--2xs ecl-page-header__meta-icon" aria-hidden="true"></span>
            1 minute read
          </li>
          <li class="ecl-page-header__meta-item">Research Center</li>
        </ul>
      </div>
    </div>
    <div class="ecl-page-header__section-description">
      <div class="ecl-container">
        <div class="ecl-page-header__description-container">
          <p class="ecl-page-header__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec ullamcorper mi. Morbi interdum fermentum tempus. Nam nec rhoncus risus, <a class="ecl-link" href="/example">eget dictum elit</a>. Vestibulum gravida tincidunt venenatis.</p>
        </div>
      </div>
    </div>
  </div>
</div>