<!-- Default responsive picture -->
<picture class="ecl-picture">
  <source
    srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg"
    media="(min-width: 90rem)"
  />
  <source
    srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image5.jpg"
    media="(min-width: 1140px)"
  />
  <source
    srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg"
    media="(min-width: 996px)"
  />
  <source
    srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg"
    media="(min-width: 768px)"
  />
  <source
    srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg"
    media="(min-width: 480px)"
  />
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Image alternative text"
  />
</picture>

<!-- Source attributes and breakpoint aliases -->
<picture class="ecl-picture">
  <source
    srcset="/media/example-xs.webp"
    media="(min-width: 415px)"
    type="image/webp"
  />
  <source
    srcset="/media/example-xxl.avif"
    media="(min-width: 1368px)"
    type="image/avif"
  />
  <source srcset="/media/example-no-media.jpg" />
  <source media="(orientation: portrait)" />
  <source type="image/png" />
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Responsive image with source variations"
  />
</picture>

<!-- Zoom, lazy loading, image anchor, and image classes -->
<picture class="ecl-picture ecl-picture--zoom">
  <img
    style="--ecl-image-anchor: top left"
    class="custom-class custom-class--image"
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt=""
    loading="lazy"
  />
</picture>

<!-- Image without alt and image without src -->
<picture class="ecl-picture">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
  />
</picture>
<picture class="ecl-picture">
  <img alt="Image alternative text" />
</picture>

<!-- Extra classes and attributes -->
<picture
  class="ecl-picture custom-class custom-class--picture"
  data-test="data-test-value"
  data-test-1="data-test-value-1"
  data-flag
>
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Image alternative text"
  />
</picture>

<!-- Sources without image and empty source object -->
<picture class="ecl-picture">
  <source srcset="/media/example-source-only.jpg" media="(min-width: 768px)" />
  <source />
</picture>

<!-- Empty image object and empty input edge cases -->
<picture class="ecl-picture">
  <img />
</picture>
<picture class="ecl-picture"></picture>

<!-- EC color modes -->
<picture class="ecl-picture ecl-color-mode--blue">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Blue mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--blue-electric">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Blue electric mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--blue-navy">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Blue navy mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--blue-ocean">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Blue ocean mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--green">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Green mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--green-dark">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Green dark mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--green-lemon">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Green lemon mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--green-pine">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Green pine mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--orange">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Orange mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--purple">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Purple mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--purple-violet">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Purple violet mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--red-crayola">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Red crayola mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--red-tomato">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Red tomato mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--warm-grey">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Warm grey mode image"
  />
</picture>
<picture class="ecl-picture ecl-color-mode--yellow-gold">
  <img
    src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg"
    alt="Yellow gold mode image"
  />
</picture>
