<h3 class="ecl-u-type-heading-3">Basic Picture with Responsive Sources</h3>
<div class="ecl-u-mb-l">
    <picture class="ecl-picture">
        <source media="(min-width: 90rem)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg">
        <source media="(min-width: 1140px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image5.jpg">
        <source media="(min-width: 996px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg">
        <source media="(min-width: 768px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg">
        <source media="(min-width: 480px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg">
        <img alt="Image alternative text" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg">
    </picture>
</div>

<h3 class="ecl-u-type-heading-3">Picture with Zoom Effect</h3>
<div class="ecl-u-mb-l">
    <picture class="ecl-picture ecl-picture--zoom">
        <source media="(min-width: 90rem)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg">
        <source media="(min-width: 1140px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image5.jpg">
        <source media="(min-width: 996px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg">
        <source media="(min-width: 768px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg">
        <source media="(min-width: 480px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg">
        <img alt="Image alternative text" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg">
    </picture>
</div>

<h3 class="ecl-u-type-heading-3">Picture with Lazy Loading</h3>
<div class="ecl-u-mb-l">
    <picture class="ecl-picture">
        <source media="(min-width: 90rem)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg">
        <source media="(min-width: 1140px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image5.jpg">
        <source media="(min-width: 996px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg">
        <source media="(min-width: 768px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg">
        <source media="(min-width: 480px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg">
        <img alt="Image alternative text" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" loading="lazy">
    </picture>
</div>

<h3 class="ecl-u-type-heading-3">Simple Picture without Sources</h3>
<div class="ecl-u-mb-l">
    <picture class="ecl-picture">
        <img alt="Simple image alternative text" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg">
    </picture>
</div>

<h3 class="ecl-u-type-heading-3">Picture with Extra Classes</h3>
<div class="ecl-u-mb-l">
    <picture class="ecl-picture custom-class custom-class--picture">
        <source media="(min-width: 90rem)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg">
        <source media="(min-width: 1140px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image5.jpg">
        <source media="(min-width: 996px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg">
        <source media="(min-width: 768px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg">
        <source media="(min-width: 480px)" srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg">
        <img alt="Image alternative text" class="custom-class custom-class--image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg">
    </picture>
</div>