<h3 class="ecl-u-type-heading-3">Basic Rating Field</h3>
<fieldset class="ecl-form-group" role="radiogroup" aria-required="true">
    <legend class="ecl-form-label" id="rating-field-label">Please Rate<span class="ecl-form-label__required">(required)</span><div class="ecl-help-block--hidden">Optional help text</div></legend>
    <div class="ecl-help-block" id="rating-field-helper">Optional help text</div>
    <div class="ecl-rating-field">
        <input id="rating-field-5" name="rating-group" class="ecl-rating-field__input" type="radio" value="5" required>
        <label class="ecl-rating-field__label" for="rating-field-5">
            <span class="ecl-rating-field__sr-label">5 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-4" name="rating-group" class="ecl-rating-field__input" type="radio" value="4" required>
        <label class="ecl-rating-field__label" for="rating-field-4">
            <span class="ecl-rating-field__sr-label">4 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-3" name="rating-group" class="ecl-rating-field__input" type="radio" value="3" required>
        <label class="ecl-rating-field__label" for="rating-field-3">
            <span class="ecl-rating-field__sr-label">3 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-2" name="rating-group" class="ecl-rating-field__input" type="radio" value="2" required>
        <label class="ecl-rating-field__label" for="rating-field-2">
            <span class="ecl-rating-field__sr-label">2 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-1" name="rating-group" class="ecl-rating-field__input" type="radio" value="1" required>
        <label class="ecl-rating-field__label" for="rating-field-1">
            <span class="ecl-rating-field__sr-label">1 star</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
    </div>
</fieldset>

<h3 class="ecl-u-type-heading-3">Disabled Rating Field</h3>
<fieldset class="ecl-form-group" role="radiogroup" aria-required="true">
    <legend class="ecl-form-label ecl-form-label--disabled" id="rating-field-disabled-label">Please Rate<span class="ecl-form-label__required">(required)</span><div class="ecl-help-block--hidden">Optional help text</div></legend>
    <div class="ecl-help-block ecl-help-block--disabled" id="rating-field-disabled-helper" aria-hidden="true">Optional help text</div>
    <div class="ecl-rating-field ecl-rating-field--disabled">
        <input id="rating-field-disabled-5" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="5" required disabled>
        <label class="ecl-rating-field__label" for="rating-field-disabled-5">
            <span class="ecl-rating-field__sr-label">5 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-disabled-4" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="4" required disabled>
        <label class="ecl-rating-field__label" for="rating-field-disabled-4">
            <span class="ecl-rating-field__sr-label">4 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-disabled-3" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="3" required disabled>
        <label class="ecl-rating-field__label" for="rating-field-disabled-3">
            <span class="ecl-rating-field__sr-label">3 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-disabled-2" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="2" required disabled>
        <label class="ecl-rating-field__label" for="rating-field-disabled-2">
            <span class="ecl-rating-field__sr-label">2 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-disabled-1" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="1" required disabled>
        <label class="ecl-rating-field__label" for="rating-field-disabled-1">
            <span class="ecl-rating-field__sr-label">1 star</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
    </div>
</fieldset>

<h3 class="ecl-u-type-heading-3">Invalid Rating Field</h3>
<fieldset class="ecl-form-group" role="radiogroup" aria-required="true" aria-invalid="true">
    <legend class="ecl-form-label ecl-form-label--invalid" id="rating-field-invalid-label">Please Rate<span class="ecl-form-label__required">(required)</span><div class="ecl-help-block--hidden">Optional help text</div><div class="ecl-feedback-message--hidden">Error text</div></legend>
    <div class="ecl-help-block" id="rating-field-invalid-helper" aria-hidden="true">Optional help text</div>
    <div class="ecl-rating-field">
        <input id="rating-field-invalid-5" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="5" required>
        <label class="ecl-rating-field__label" for="rating-field-invalid-5">
            <span class="ecl-rating-field__sr-label">5 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-invalid-4" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="4" required>
        <label class="ecl-rating-field__label" for="rating-field-invalid-4">
            <span class="ecl-rating-field__sr-label">4 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-invalid-3" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="3" required>
        <label class="ecl-rating-field__label" for="rating-field-invalid-3">
            <span class="ecl-rating-field__sr-label">3 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-invalid-2" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="2" required>
        <label class="ecl-rating-field__label" for="rating-field-invalid-2">
            <span class="ecl-rating-field__sr-label">2 stars</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
        <input id="rating-field-invalid-1" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="1" required>
        <label class="ecl-rating-field__label" for="rating-field-invalid-1">
            <span class="ecl-rating-field__sr-label">1 star</span>
            <span class="wt-icon--star-filled ecl-icon ecl-icon--star-filled ecl-icon--l ecl-rating-field__icon-filled" aria-hidden="true"></span>
            <span class="wt-icon--star-outline ecl-icon ecl-icon--star-outline ecl-icon--l ecl-rating-field__icon-outline" aria-hidden="true"></span>
        </label>
    </div>
    <div class="ecl-feedback-message" id="rating-field-invalid" aria-hidden="true">
        <span class="wt-icon--error-outline ecl-icon ecl-icon--error-outline ecl-icon--xs ecl-feedback-message__icon" role="img" title="Error" aria-hidden="false"></span>
        Error text
    </div>
</fieldset>