<h3 class="ecl-u-type-heading-3">Rating field with form-group wrapper</h3>
<div class="ecl-u-mb-l">
  <!-- Sub component: form-group; see the form-group component for full markup guidance. -->
  <fieldset class="ecl-form-group" role="radiogroup" aria-required="true">
    <legend class="ecl-form-label" id="rating-field-label">Please Rate<span class="ecl-form-label__required">(required)</span><div class="ecl-help-block--hidden">Optional help text</div></legend>
    <div class="ecl-help-block" id="rating-field-helper" aria-hidden="true">Optional help text</div>

    <div class="ecl-rating-field">
      <input id="rating-field-5" name="rating-group" class="ecl-rating-field__input" type="radio" value="5" required>
      <label class="ecl-rating-field__label" for="rating-field-5">
        <span class="ecl-rating-field__sr-label">5 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-4" name="rating-group" class="ecl-rating-field__input" type="radio" value="4" required>
      <label class="ecl-rating-field__label" for="rating-field-4">
        <span class="ecl-rating-field__sr-label">4 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-3" name="rating-group" class="ecl-rating-field__input" type="radio" value="3" required>
      <label class="ecl-rating-field__label" for="rating-field-3">
        <span class="ecl-rating-field__sr-label">3 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-2" name="rating-group" class="ecl-rating-field__input" type="radio" value="2" required>
      <label class="ecl-rating-field__label" for="rating-field-2">
        <span class="ecl-rating-field__sr-label">2 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-1" name="rating-group" class="ecl-rating-field__input" type="radio" value="1" required>
      <label class="ecl-rating-field__label" for="rating-field-1">
        <span class="ecl-rating-field__sr-label">1 star</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
    </div>
  </fieldset>
</div>

<h3 class="ecl-u-type-heading-3">Disabled rating field</h3>
<div class="ecl-u-mb-l">
  <!-- Sub component: form-group; see the form-group component for full markup guidance. -->
  <fieldset class="ecl-form-group" role="radiogroup" aria-required="true">
    <legend class="ecl-form-label ecl-form-label--disabled" id="rating-field-disabled-label">Please Rate<span class="ecl-form-label__required">(required)</span><div class="ecl-help-block--hidden">Optional help text</div></legend>
    <div class="ecl-help-block ecl-help-block--disabled" id="rating-field-disabled-helper" aria-hidden="true">Optional help text</div>

    <div class="ecl-rating-field ecl-rating-field--disabled">
      <input id="rating-field-disabled-5" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="5" required disabled>
      <label class="ecl-rating-field__label" for="rating-field-disabled-5">
        <span class="ecl-rating-field__sr-label">5 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-disabled-4" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="4" required disabled>
      <label class="ecl-rating-field__label" for="rating-field-disabled-4">
        <span class="ecl-rating-field__sr-label">4 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-disabled-3" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="3" required disabled>
      <label class="ecl-rating-field__label" for="rating-field-disabled-3">
        <span class="ecl-rating-field__sr-label">3 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-disabled-2" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="2" required disabled>
      <label class="ecl-rating-field__label" for="rating-field-disabled-2">
        <span class="ecl-rating-field__sr-label">2 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-disabled-1" name="rating-group-disabled" class="ecl-rating-field__input" type="radio" value="1" required disabled>
      <label class="ecl-rating-field__label" for="rating-field-disabled-1">
        <span class="ecl-rating-field__sr-label">1 star</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
    </div>
  </fieldset>
</div>

<h3 class="ecl-u-type-heading-3">Invalid rating field with error message</h3>
<div class="ecl-u-mb-l">
  <!-- Sub component: form-group; see the form-group component for full markup guidance. -->
  <fieldset class="ecl-form-group" role="radiogroup" aria-required="true" aria-invalid="true">
    <legend class="ecl-form-label ecl-form-label--invalid" id="rating-field-invalid-label">Please Rate<span class="ecl-form-label__required">(required)</span><div class="ecl-help-block--hidden">Optional help text</div><div class="ecl-feedback-message--hidden">Error text</div></legend>
    <div class="ecl-help-block" id="rating-field-invalid-helper" aria-hidden="true">Optional help text</div>

    <div class="ecl-rating-field">
      <input id="rating-field-invalid-5" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="5" required>
      <label class="ecl-rating-field__label" for="rating-field-invalid-5">
        <span class="ecl-rating-field__sr-label">5 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-invalid-4" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="4" required>
      <label class="ecl-rating-field__label" for="rating-field-invalid-4">
        <span class="ecl-rating-field__sr-label">4 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-invalid-3" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="3" required>
      <label class="ecl-rating-field__label" for="rating-field-invalid-3">
        <span class="ecl-rating-field__sr-label">3 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-invalid-2" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="2" required>
      <label class="ecl-rating-field__label" for="rating-field-invalid-2">
        <span class="ecl-rating-field__sr-label">2 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-invalid-1" name="rating-group-invalid" class="ecl-rating-field__input" type="radio" value="1" required>
      <label class="ecl-rating-field__label" for="rating-field-invalid-1">
        <span class="ecl-rating-field__sr-label">1 star</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
    </div>

    <div class="ecl-feedback-message" id="rating-field-invalid-invalid" aria-hidden="true">
      <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--error-outline ecl-icon ecl-icon--xs ecl-feedback-message__icon ecl-icon--error-outline" aria-hidden="false" title="Error"></span>Error text
    </div>
  </fieldset>
</div>

<h3 class="ecl-u-type-heading-3">Optional rating field</h3>
<div class="ecl-u-mb-l">
  <!-- Sub component: form-group; see the form-group component for full markup guidance. -->
  <fieldset class="ecl-form-group" role="radiogroup">
    <legend class="ecl-form-label" id="rating-field-optional-label">Rate your experience<span class="ecl-form-label__optional">(optional)</span></legend>

    <div class="ecl-rating-field">
      <input id="rating-field-optional-5" name="rating-group-optional" class="ecl-rating-field__input" type="radio" value="5">
      <label class="ecl-rating-field__label" for="rating-field-optional-5">
        <span class="ecl-rating-field__sr-label">5 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-optional-4" name="rating-group-optional" class="ecl-rating-field__input" type="radio" value="4">
      <label class="ecl-rating-field__label" for="rating-field-optional-4">
        <span class="ecl-rating-field__sr-label">4 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-optional-3" name="rating-group-optional" class="ecl-rating-field__input" type="radio" value="3">
      <label class="ecl-rating-field__label" for="rating-field-optional-3">
        <span class="ecl-rating-field__sr-label">3 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-optional-2" name="rating-group-optional" class="ecl-rating-field__input" type="radio" value="2">
      <label class="ecl-rating-field__label" for="rating-field-optional-2">
        <span class="ecl-rating-field__sr-label">2 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-optional-1" name="rating-group-optional" class="ecl-rating-field__input" type="radio" value="1">
      <label class="ecl-rating-field__label" for="rating-field-optional-1">
        <span class="ecl-rating-field__sr-label">1 star</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
    </div>
  </fieldset>
</div>

<h3 class="ecl-u-type-heading-3">Rating field with pre-selected value</h3>
<div class="ecl-u-mb-l">
  <!-- Sub component: form-group; see the form-group component for full markup guidance. -->
  <fieldset class="ecl-form-group" role="radiogroup" aria-required="true">
    <legend class="ecl-form-label" id="rating-field-checked-label">Rate our service<span class="ecl-form-label__required">(required)</span><div class="ecl-help-block--hidden">Tell us how we did</div></legend>
    <div class="ecl-help-block" id="rating-field-checked-helper" aria-hidden="true">Tell us how we did</div>

    <div class="ecl-rating-field">
      <input id="rating-field-checked-5" name="rating-group-checked" class="ecl-rating-field__input" type="radio" value="5" required>
      <label class="ecl-rating-field__label" for="rating-field-checked-5">
        <span class="ecl-rating-field__sr-label">5 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-checked-4" name="rating-group-checked" class="ecl-rating-field__input" type="radio" value="4" required>
      <label class="ecl-rating-field__label" for="rating-field-checked-4">
        <span class="ecl-rating-field__sr-label">4 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-checked-3" name="rating-group-checked" class="ecl-rating-field__input" type="radio" value="3" required checked>
      <label class="ecl-rating-field__label" for="rating-field-checked-3">
        <span class="ecl-rating-field__sr-label">3 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-checked-2" name="rating-group-checked" class="ecl-rating-field__input" type="radio" value="2" required>
      <label class="ecl-rating-field__label" for="rating-field-checked-2">
        <span class="ecl-rating-field__sr-label">2 stars</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
      <input id="rating-field-checked-1" name="rating-group-checked" class="ecl-rating-field__input" type="radio" value="1" required>
      <label class="ecl-rating-field__label" for="rating-field-checked-1">
        <span class="ecl-rating-field__sr-label">1 star</span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-filled ecl-icon ecl-icon--l ecl-rating-field__icon-filled ecl-icon--star-filled" aria-hidden="true"></span>
        <!-- Sub component: icon; see the <code>icon</code> component for full markup guidance. --><span class="wt-icon--star-outline ecl-icon ecl-icon--l ecl-rating-field__icon-outline ecl-icon--star-outline" aria-hidden="true"></span>
      </label>
    </div>
  </fieldset>
</div>