<h3 class="ecl-u-type-heading-3">Search Form</h3>
<div class="ecl-u-mb-l">
<form class="ecl-search-form" role="search">
  <div class="ecl-form-group">
    <label class="ecl-form-label ecl-search-form__label" for="search-input-id" id="search-input-id-label">Search</label>
    <input id="search-input-id" class="ecl-text-input ecl-text-input--m ecl-search-form__text-input" name="search" type="search" placeholder="Placeholder text">
  </div>
  <button class="ecl-button ecl-button--tertiary ecl-button--neutral ecl-search-form__button ecl-button--icon-only" type="submit" aria-label="Search">
    <span class="ecl-button__icon-container">
      <span class="wt-icon--search ecl-icon ecl-icon--m ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon></span>
    </span>
  </button>
</form>
</div>
