<h3 class="ecl-u-type-heading-3 ecl-u-mt-none">Default select</h3>
<div class="ecl-form-group ecl-u-mb-l">
  <label class="ecl-form-label" for="select-default" id="select-default-label"
    >Select a country</label
  >
  <div class="ecl-help-block" id="select-default-helper">
    Optional help text
  </div>
  <div class="ecl-select__container ecl-select__container--m">
    <select
      class="ecl-select"
      data-ecl-auto-init="Select"
      id="select-default"
      name="country"
      aria-describedby="select-default-helper"
    >
      <optgroup label="European countries">
        <option value="1">Belgium</option>
        <option value="2">France</option>
        <option value="3" disabled>Luxembourg</option>
        <option value="4">Germany</option>
        <option value="5" selected>Bulgaria</option>
      </optgroup>
      <optgroup label="Non European countries">
        <option value="11">China</option>
      </optgroup>
      <option value="12">standalone option</option>
    </select>
    <div class="ecl-select__icon">
      <button
        class="ecl-button ecl-button--tertiary ecl-button--icon-only"
        tabindex="-1"
        type="button"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Toggle dropdown</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Required, disabled, and invalid states</h3>
<div class="ecl-form-group ecl-u-mb-l">
  <label
    class="ecl-form-label"
    for="select-required"
    id="select-required-label"
  >
    Select a country<span
      class="ecl-form-label__required"
      role="note"
      aria-label="required"
      >*</span
    >
  </label>
  <div class="ecl-select__container ecl-select__container--m">
    <select
      class="ecl-select"
      data-ecl-auto-init="Select"
      id="select-required"
      name="required-country"
      required
    >
      <option value="">Please select</option>
      <option value="be">Belgium</option>
      <option value="fr">France</option>
    </select>
    <div class="ecl-select__icon">
      <button
        class="ecl-button ecl-button--tertiary ecl-button--icon-only"
        tabindex="-1"
        type="button"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Toggle dropdown</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
  </div>
</div>

<div class="ecl-form-group ecl-u-mb-l">
  <label
    class="ecl-form-label ecl-form-label--disabled"
    for="select-disabled"
    id="select-disabled-label"
    >Disabled select</label
  >
  <div
    class="ecl-select__container ecl-select__container--disabled ecl-select__container--m"
  >
    <select
      class="ecl-select"
      data-ecl-auto-init="Select"
      id="select-disabled"
      name="disabled-country"
      disabled
    >
      <option value="be">Belgium</option>
      <option value="fr" selected>France</option>
    </select>
    <div class="ecl-select__icon">
      <button
        class="ecl-button ecl-button--tertiary ecl-button--icon-only"
        tabindex="-1"
        type="button"
        disabled
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Toggle dropdown</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
  </div>
</div>

<div class="ecl-form-group ecl-u-mb-l">
  <label
    class="ecl-form-label ecl-form-label--invalid"
    for="select-invalid"
    id="select-invalid-label"
    >Invalid select</label
  >
  <div
    class="ecl-select__container ecl-select__container--invalid ecl-select__container--m"
  >
    <select
      class="ecl-select"
      data-ecl-auto-init="Select"
      id="select-invalid"
      name="invalid-country"
      aria-invalid="true"
      aria-describedby="select-invalid-message"
    >
      <option value="">Please select</option>
      <option value="be">Belgium</option>
      <option value="fr">France</option>
    </select>
    <div class="ecl-select__icon">
      <button
        class="ecl-button ecl-button--tertiary ecl-button--icon-only"
        tabindex="-1"
        type="button"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Toggle dropdown</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
  </div>
  <div class="ecl-feedback-message" id="select-invalid-message">
    <span
      class="wt-icon--error-outline ecl-icon ecl-icon--xs ecl-feedback-message__icon"
      aria-hidden="true"
    ></span
    >Error text
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Widths and extension hooks</h3>
<div class="ecl-form-group ecl-u-mb-l">
  <label class="ecl-form-label" for="select-small" id="select-small-label"
    >Small select</label
  >
  <div class="ecl-select__container ecl-select__container--s">
    <select
      class="ecl-select custom-select custom-select--demo"
      data-ecl-auto-init="Select"
      data-demo="small"
      data-flag
      id="select-small"
      name="small"
    >
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
    </select>
    <div class="ecl-select__icon">
      <button
        class="ecl-button ecl-button--tertiary ecl-button--icon-only"
        tabindex="-1"
        type="button"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Toggle dropdown</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
  </div>
</div>

<div class="ecl-form-group ecl-u-mb-l">
  <label class="ecl-form-label" for="select-large" id="select-large-label"
    >Large select</label
  >
  <div class="ecl-select__container ecl-select__container--l">
    <select
      class="ecl-select"
      data-ecl-auto-init="Select"
      id="select-large"
      name="large"
    >
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
    </select>
    <div class="ecl-select__icon">
      <button
        class="ecl-button ecl-button--tertiary ecl-button--icon-only"
        tabindex="-1"
        type="button"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Toggle dropdown</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Multiple select</h3>
<div class="ecl-form-group ecl-u-mb-l">
  <label class="ecl-form-label" for="select-multiple" id="select-multiple-label"
    >Select countries</label
  >
  <div class="ecl-help-block" id="select-multiple-helper">
    Select one or more options
  </div>
  <div class="ecl-select__container ecl-select__container--m">
    <select
      class="ecl-select"
      data-ecl-auto-init="Select"
      multiple
      data-ecl-select-multiple
      data-ecl-select-default="Choose options"
      data-ecl-select-clear-all="Clear all"
      data-ecl-select-close="Apply"
      data-ecl-select-counter="Selected:"
      data-ecl-select-all="Select all"
      data-ecl-select-submit
      data-ecl-select-search="Enter filter keyword"
      data-ecl-select-no-results="No results found"
      id="select-multiple"
      name="country"
      aria-describedby="select-multiple-helper"
    >
      <optgroup label="European countries">
        <option value="1">Belgium</option>
        <option value="2">France</option>
        <option value="3" disabled>Luxembourg</option>
        <option value="4">Germany</option>
      </optgroup>
      <optgroup label="Non European countries">
        <option value="11">China</option>
      </optgroup>
      <option value="12">standalone option</option>
    </select>
    <div class="ecl-select__icon">
      <button
        class="ecl-button ecl-button--tertiary ecl-button--icon-only"
        tabindex="-1"
        type="button"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Toggle dropdown</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">
  Multiple select without search or select all
</h3>
<div class="ecl-form-group ecl-u-mb-l">
  <label
    class="ecl-form-label"
    for="select-multiple-compact"
    id="select-multiple-compact-label"
    >Compact multiple select</label
  >
  <div class="ecl-select__container ecl-select__container--m">
    <select
      class="ecl-select"
      data-ecl-auto-init="Select"
      multiple
      data-ecl-select-multiple
      data-ecl-select-default="Choose options"
      data-ecl-select-clear-all=""
      data-ecl-select-close=""
      data-ecl-select-counter=""
      id="select-multiple-compact"
      name="compact-country"
    >
      <option value="be" selected>Belgium</option>
      <option value="fr">France</option>
    </select>
    <div class="ecl-select__icon">
      <button
        class="ecl-button ecl-button--tertiary ecl-button--icon-only"
        tabindex="-1"
        type="button"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Toggle dropdown</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Edge output</h3>
<select
  class="ecl-select"
  data-ecl-auto-init="Select"
  id="select-empty"
></select>
<div class="ecl-select__icon">
  <button
    class="ecl-button ecl-button--tertiary ecl-button--icon-only"
    tabindex="-1"
    type="button"
  >
    <span class="ecl-button__container">
      <span class="ecl-button__label" data-ecl-label="true"
        >Toggle dropdown</span
      >
      <span
        class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
        aria-hidden="true"
        data-ecl-icon
      ></span>
    </span>
  </button>
</div>

<h3 class="ecl-u-type-heading-3">Color modes</h3>
<div class="ecl-form-group ecl-color-mode--blue">
  <select class="ecl-select" data-ecl-auto-init="Select" id="select-mode-blue">
    <option value="blue">Blue</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--blue-electric">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-blue-electric"
  >
    <option value="blue-electric">Blue electric</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--blue-navy">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-blue-navy"
  >
    <option value="blue-navy">Blue navy</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--blue-ocean">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-blue-ocean"
  >
    <option value="blue-ocean">Blue ocean</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--green">
  <select class="ecl-select" data-ecl-auto-init="Select" id="select-mode-green">
    <option value="green">Green</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--green-dark">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-green-dark"
  >
    <option value="green-dark">Green dark</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--green-lemon">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-green-lemon"
  >
    <option value="green-lemon">Green lemon</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--green-pine">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-green-pine"
  >
    <option value="green-pine">Green pine</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--orange">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-orange"
  >
    <option value="orange">Orange</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--purple">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-purple"
  >
    <option value="purple">Purple</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--purple-violet">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-purple-violet"
  >
    <option value="purple-violet">Purple violet</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--red-crayola">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-red-crayola"
  >
    <option value="red-crayola">Red crayola</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--red-tomato">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-red-tomato"
  >
    <option value="red-tomato">Red tomato</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--warm-grey">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-warm-grey"
  >
    <option value="warm-grey">Warm grey</option>
  </select>
</div>
<div class="ecl-form-group ecl-color-mode--yellow-gold">
  <select
    class="ecl-select"
    data-ecl-auto-init="Select"
    id="select-mode-yellow-gold"
  >
    <option value="yellow-gold">Yellow gold</option>
  </select>
</div>
