<h3 class="ecl-u-type-heading-3">Basic separator</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">The separator is a horizontal rule element used to divide content sections.</p>

<ul class="ecl-unordered-list">
  <li class="ecl-unordered-list__item">Unordered list item 1</li>
  <li class="ecl-unordered-list__item">Unordered list item 2
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">Nested unordered list item</li>
      <li class="ecl-unordered-list__item">Nested unordered list item</li>
    </ul>
  </li>
</ul>

<hr class="ecl-separator">

<ol class="ecl-ordered-list">
  <li class="ecl-ordered-list__item">Ordered list item 1</li>
  <li class="ecl-ordered-list__item">Ordered list item 2
    <ol class="ecl-ordered-list">
      <li class="ecl-ordered-list__item">Nested ordered list item</li>
      <li class="ecl-ordered-list__item">Nested ordered list item</li>
    </ol>
  </li>
</ol>

<hr class="ecl-separator">

<dl class="ecl-description-list">
  <dt class="ecl-description-list__term">Description term 1</dt>
  <dd class="ecl-description-list__definition">Description definition 1</dd>
  <dt class="ecl-description-list__term">Description term 2</dt>
  <dd class="ecl-description-list__definition">Description definition 2</dd>
</dl>

<h3 class="ecl-u-type-heading-3 ecl-u-mt-xl">Separator with spacing utilities</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Separators can be combined with ECL utility classes for custom spacing.</p>

<p class="ecl-u-type-paragraph">Content above separator</p>

<hr class="ecl-separator ecl-u-my-l">

<p class="ecl-u-type-paragraph">Content below separator with large vertical margins</p>
