<footer class="ecl-site-footer">
  <div class="ecl-site-footer__main">
    <div class="ecl-container ecl-site-footer__container">
      <div class="ecl-site-footer__row ecl-site-footer__row--specific">

        <!-- Site information section -->
        <div class="ecl-site-footer__section ecl-site-footer__section--site-info">
          <!-- Sub-component: Link with Picture (Logo) - See <code>link</code> and <code>picture</code> components for full markup guidance -->
          <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__logo-link">
            <!-- Sub-component: Picture - See <code>picture</code> component for full markup guidance -->
            <picture class="ecl-picture ecl-site-footer__picture">
              <img class="ecl-site-footer__logo-image" src="assets/logo-ec-negative-en.svg" alt="European Commission">
            </picture>
          </a>
          <div class="ecl-site-footer__description">This site is managed by: Directorate-General for Communication</div>
        </div>

        <!-- Core links section -->
        <div class="ecl-site-footer__section ecl-site-footer__section--core">
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">About us</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Contact us</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Priorities</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Topics</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Funding and tenders</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Jobs</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Press corner</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Events</a>
            </li>
          </ul>
        </div>

      </div>

      <!-- Common section with social media and legal links -->
      <div class="ecl-site-footer__row ecl-site-footer__row--common">
        <div class="ecl-site-footer__section ecl-site-footer__section--common">

          <!-- Sub-component: Social Media Follow - See <code>social-media-follow</code> component for full markup guidance -->
          <div class="ecl-social-media-follow ecl-social-media-follow--left ecl-social-media-follow--description_inline ecl-site-footer__social-media">
            <p class="ecl-social-media-follow__description">Follow the European Commission</p>
            <ul class="ecl-social-media-follow__list">
              <li class="ecl-social-media-follow__item">
                <!-- Sub-component: Link with Icon - See <code>link</code> and <code>icon</code> components for full markup guidance -->
                <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-link--icon-only ecl-social-media-follow__link">
                  <!-- Sub-component: Icon - See <code>icon</code> component for full markup guidance -->
                  <span class="wt-icon-networks--facebook wt-icon--inverted ecl-icon ecl-icon-networks--facebook ecl-icon--s ecl-link__icon ecl-social-media-follow__icon" aria-hidden="true"></span>
                  <span class="ecl-link__label">Facebook</span>
                </a>
              </li>
              <li class="ecl-social-media-follow__item">
                <!-- Sub-component: Link with Icon - See <code>link</code> and <code>icon</code> components for full markup guidance -->
                <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-link--icon-only ecl-social-media-follow__link">
                  <!-- Sub-component: Icon - See <code>icon</code> component for full markup guidance -->
                  <span class="wt-icon-networks--instagram wt-icon--inverted ecl-icon ecl-icon-networks--instagram ecl-icon--s ecl-link__icon ecl-social-media-follow__icon" aria-hidden="true"></span>
                  <span class="ecl-link__label">Instagram</span>
                </a>
              </li>
              <li class="ecl-social-media-follow__item">
                <!-- Sub-component: Link with Icon - See <code>link</code> and <code>icon</code> components for full markup guidance -->
                <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-link--icon-only ecl-social-media-follow__link">
                  <!-- Sub-component: Icon - See <code>icon</code> component for full markup guidance -->
                  <span class="wt-icon-networks--x wt-icon--inverted ecl-icon ecl-icon-networks--x ecl-icon--s ecl-link__icon ecl-social-media-follow__icon" aria-hidden="true"></span>
                  <span class="ecl-link__label">X</span>
                </a>
              </li>
              <li class="ecl-social-media-follow__item">
                <!-- Sub-component: Link with Icon - See <code>link</code> and <code>icon</code> components for full markup guidance -->
                <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-link--icon-only ecl-social-media-follow__link">
                  <!-- Sub-component: Icon - See <code>icon</code> component for full markup guidance -->
                  <span class="wt-icon-networks--chain wt-icon--inverted ecl-icon ecl-icon-networks--chain ecl-icon--s ecl-link__icon ecl-social-media-follow__icon" aria-hidden="true"></span>
                  <span class="ecl-link__label">Other networks</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- Legal and policy links -->
          <ul class="ecl-site-footer__list ecl-site-footer__list--inline">
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="https://commission.europa.eu/cookies_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Cookies</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="https://commission.europa.eu/privacy-policy_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Privacy policy</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="https://commission.europa.eu/legal-notice_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Legal notice</a>
            </li>
            <li class="ecl-site-footer__list-item">
              <!-- Sub-component: Link - See <code>link</code> component for full markup guidance -->
              <a href="/example" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Accessibility</a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</footer>