<!-- EC core footer: co-owner, feedback, site info, core links, common social links, extension hooks -->
<footer
  class="ecl-site-footer custom-site-footer"
  data-test="site-footer-ec"
  data-ready
>
  <div class="ecl-site-footer__co-owner">
    <div class="ecl-container ecl-site-footer__co-owner-container">
      <div class="ecl-site-footer__co-owner-title">
        This page is managed by:
      </div>
      <ul class="ecl-site-footer__co-owner-list">
        <li class="ecl-site-footer__co-owner-item is-first">
          <a
            class="ecl-link ecl-link--brand ecl-site-footer__co-owner-link"
            href="/example"
            >Directorate-General for Communication</a
          >
        </li>
        <li class="ecl-site-footer__co-owner-item">
          <a
            class="ecl-link ecl-link--brand ecl-site-footer__co-owner-link"
            href="/example"
            >Directorate-General for Digital Services</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="ecl-site-footer__main">
    <div class="ecl-container ecl-site-footer__container">
      <div class="ecl-site-footer__row">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--feedback"
        >
          <div class="ecl-site-footer__description">
            Help us improve our website
          </div>
          <a
            class="ecl-link ecl-link--primary-highlight-inverted ecl-link--icon ecl-site-footer__action-button ecl-button--m"
            href="/example"
          >
            <span class="ecl-link__label">Fill in survey</span>
            <span
              class="wt-icon-phosphor--arrow-up-right ecl-icon ecl-icon--m ecl-link__icon ecl-icon-phosphor--arrow-up-right"
              aria-hidden="true"
            ></span>
          </a>
        </div>
      </div>
      <div class="ecl-site-footer__row ecl-site-footer__row--specific">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--site-info"
        >
          <a
            class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__logo-link"
            href="/example"
          >
            <picture class="ecl-picture ecl-site-footer__picture">
              <img
                class="ecl-site-footer__logo-image"
                src="assets/logo-ec-negative-en.svg"
                alt="European Commission"
              />
            </picture>
          </a>
          <div class="ecl-site-footer__description">
            This site is managed by:<span
              class="ecl-site-footer__description-name"
              >Directorate-General for Communication</span
            >
          </div>
          <a
            class="ecl-link ecl-link--secondary-inverted ecl-link--icon ecl-site-footer__action-button ecl-button--m"
            href="/example"
          >
            <span class="ecl-link__label">Subscribe for updates</span>
            <span
              class="wt-icon-phosphor--envelope-simple wt-icon--inverted ecl-icon ecl-icon--m ecl-link__icon ecl-icon-phosphor--envelope-simple"
              aria-hidden="true"
            ></span>
          </a>
        </div>
        <div class="ecl-site-footer__section ecl-site-footer__section--core">
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                href="https://commission.europa.eu/about-european-commission_en"
                >About us</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                href="https://commission.europa.eu/about-european-commission/contact_en"
                >Contact us</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                href="/example"
                >Priorities</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="ecl-site-footer__row ecl-site-footer__row--common">
        <div class="ecl-site-footer__section ecl-site-footer__section--common">
          <div class="ecl-site-footer__extra-links-container">
            <div
              class="ecl-social-media-follow ecl-social-media-follow--left ecl-social-media-follow--description_inline ecl-site-footer__social-media"
            >
              <p class="ecl-social-media-follow__description">Follow us</p>
              <ul class="ecl-social-media-follow__list">
                <li class="ecl-social-media-follow__item">
                  <a
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-social-media-follow__link ecl-link--icon-only"
                    href="/example"
                  >
                    <span
                      class="wt-icon-networks--mastodon wt-icon--inverted ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--mastodon"
                      aria-hidden="true"
                    ></span>
                    <span class="ecl-link__label">Mastodon</span>
                  </a>
                </li>
                <li class="ecl-social-media-follow__item">
                  <a
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-social-media-follow__link ecl-link--icon-only"
                    href="/example"
                  >
                    <span
                      class="wt-icon-networks--linkedin wt-icon--inverted ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--linkedin"
                      aria-hidden="true"
                    ></span>
                    <span class="ecl-link__label">LinkedIn</span>
                  </a>
                </li>
              </ul>
            </div>
            <ul class="ecl-site-footer__list ecl-site-footer__list--inline">
              <li class="ecl-site-footer__list-item">
                <a
                  class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                  href="https://commission.europa.eu/about-european-commission/contact_en"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
          <ul class="ecl-site-footer__list ecl-site-footer__list--inline">
            <li class="ecl-site-footer__list-item">
              <a
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                href="https://commission.europa.eu/cookies_en"
                >Cookies</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                href="https://commission.europa.eu/privacy-policy_en"
                >Privacy policy</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- EC harmonised footer: title link, fallback link sections, custom batches, section extension hooks -->
<footer class="ecl-site-footer">
  <div class="ecl-site-footer__main">
    <div class="ecl-container ecl-site-footer__container">
      <div class="ecl-site-footer__row ecl-site-footer__row--specific">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--site-info"
        >
          <div class="ecl-site-footer__title">
            <a
              class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-link--icon-before ecl-site-footer__title-link"
              href="/example"
            >
              <span
                class="wt-icon--inverted wt-icon--flip-horizontal wt-icon--xs wt-icon-phosphor--arrow-left ecl-icon ecl-icon--xs ecl-link__icon ecl-icon-phosphor--arrow-left"
                aria-hidden="true"
              ></span>
              <span class="ecl-link__label">Site name</span>
            </a>
          </div>
          <div class="ecl-site-footer__description">
            This site is managed by: Directorate-General
          </div>
        </div>
        <div class="ecl-site-footer__section ecl-site-footer__section--links">
          <div class="ecl-site-footer__row">
            <div
              class="ecl-site-footer__section ecl-site-footer__section--contact custom-section"
              data-section="contact"
              data-active
            >
              <div class="ecl-site-footer__title">Contact us</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    href="/example"
                    >Contact information of the DG</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="ecl-site-footer__section ecl-site-footer__section--about"
            >
              <div class="ecl-site-footer__title">About us</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    href="/example"
                    >Information about the DG</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="ecl-site-footer__row">
            <div
              class="ecl-site-footer__section ecl-site-footer__section--more"
            >
              <div class="ecl-site-footer__title">More information on</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    href="/example"
                    >Class name 1</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="ecl-site-footer__section ecl-site-footer__section--related"
            >
              <div class="ecl-site-footer__title">Related links</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    href="/example"
                    >Related link 1</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="ecl-site-footer__row">
            <div
              class="ecl-site-footer__section ecl-site-footer__section--custom-1"
            >
              <div class="ecl-site-footer__title">Custom links</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    href="/example"
                    >Custom link</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="ecl-site-footer__section ecl-site-footer__section--custom-2"
            >
              <div class="ecl-site-footer__title">Custom links</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    href="/example"
                    >Custom link</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="ecl-site-footer__row">
            <div
              class="ecl-site-footer__section ecl-site-footer__section--custom-3"
            >
              <div class="ecl-site-footer__title">Custom links</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    href="/example"
                    >Custom link</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- EU harmonised footer: rows, columns, section separators, logo, title link, content and action button branches -->
<footer
  class="ecl-site-footer ecl-site-footer--split-columns custom-eu-footer"
  data-test="site-footer-eu"
  data-ready
>
  <div class="ecl-site-footer__co-owner">
    <div class="ecl-container ecl-site-footer__co-owner-container">
      <div class="ecl-site-footer__co-owner-title">
        This page is managed by:
      </div>
      <ul class="ecl-site-footer__co-owner-list">
        <li class="ecl-site-footer__co-owner-item is-first">
          <a
            class="ecl-link ecl-link--standalone ecl-site-footer__co-owner-link"
            href="/example"
            >Directorate-General for [DG role]</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="ecl-site-footer__main">
    <div class="ecl-container ecl-site-footer__container">
      <div class="ecl-site-footer__row">
        <div class="ecl-site-footer__column">
          <div
            class="ecl-site-footer__section ecl-site-footer__section--feedback"
          >
            <div class="ecl-site-footer__description">
              Help us improve our website
            </div>
            <a
              class="ecl-link ecl-link--primary-highlight-inverted ecl-link--icon ecl-site-footer__action-button ecl-button--m"
              href="/example"
            >
              <span class="ecl-link__label">Fill in survey</span>
              <span
                class="wt-icon-phosphor--arrow-up-right ecl-icon ecl-icon--m ecl-link__icon ecl-icon-phosphor--arrow-up-right"
                aria-hidden="true"
              ></span>
            </a>
          </div>
        </div>
      </div>
      <div class="ecl-site-footer__row">
        <div class="ecl-site-footer__column">
          <div
            class="ecl-site-footer__section ecl-site-footer__section--site-info"
          >
            <div class="ecl-site-footer__title">
              <a
                class="ecl-link ecl-link--standalone ecl-site-footer__title-link"
                href="/example"
                >Site name</a
              >
            </div>
            <div class="ecl-site-footer__content">
              Managed by the European Union
            </div>
            <div class="ecl-site-footer__description">
              This site is managed by: [name of the manager of the site]
            </div>
            <ul class="ecl-site-footer__list">
              <li class="ecl-site-footer__list-item">
                <a
                  class="ecl-link ecl-link--standalone ecl-site-footer__link"
                  href="/example"
                  >Accessibility statement</a
                >
              </li>
            </ul>
            <a
              class="ecl-link ecl-link--secondary-neutral ecl-link--icon ecl-site-footer__action-button ecl-button--m"
              href="/example"
            >
              <span class="ecl-link__label">Subscribe for updates</span>
              <span
                class="wt-icon-phosphor--envelope-simple wt-icon--inverted ecl-icon ecl-icon--m ecl-link__icon ecl-icon-phosphor--envelope-simple"
                aria-hidden="true"
              ></span>
            </a>
          </div>
        </div>
        <div class="ecl-site-footer__column">
          <div class="ecl-site-footer__section">
            <div
              class="ecl-site-footer__title ecl-site-footer__title--separator"
            >
              Contact site name
            </div>
            <ul class="ecl-site-footer__list">
              <li class="ecl-site-footer__list-item">
                Before
                <a
                  class="ecl-link ecl-link--standalone ecl-site-footer__link"
                  href="/example"
                  >Link</a
                >
                after
              </li>
            </ul>
          </div>
          <div
            class="ecl-site-footer__section ecl-site-footer__section--separator"
          >
            <div
              class="ecl-site-footer__title ecl-site-footer__title--separator"
            >
              Follow us
            </div>
            <ul class="ecl-site-footer__list ecl-site-footer__list--columns">
              <li class="ecl-site-footer__list-item">
                <a
                  class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before ecl-site-footer__link"
                  href="/example"
                >
                  <span
                    class="wt-icon-networks--mastodon ecl-icon ecl-icon--xs ecl-link__icon ecl-icon-networks--mastodon"
                    aria-hidden="true"
                  ></span>
                  <span class="ecl-link__label">Mastodon</span>
                </a>
              </li>
              <li class="ecl-site-footer__list-item">
                <a
                  class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before ecl-site-footer__link"
                  href="/example"
                >
                  <span
                    class="wt-icon-networks--linkedin ecl-icon ecl-icon--xs ecl-link__icon ecl-icon-networks--linkedin"
                    aria-hidden="true"
                  ></span>
                  <span class="ecl-link__label">LinkedIn</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ecl-site-footer__column">
          <div class="ecl-site-footer__section">
            <div
              class="ecl-site-footer__title ecl-site-footer__title--separator"
            >
              Optional links
            </div>
            <ul
              class="ecl-site-footer__list ecl-site-footer__list--inline ecl-site-footer__list--separator"
            >
              <li class="ecl-site-footer__list-item">
                <a
                  class="ecl-link ecl-link--standalone ecl-site-footer__link"
                  href="/example"
                  >Link 1</a
                >
              </li>
              <li class="ecl-site-footer__list-item">
                <a
                  class="ecl-link ecl-link--standalone ecl-site-footer__link"
                  href="/example"
                  >Link 2</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ecl-site-footer__row">
        <div class="ecl-site-footer__column">
          <div class="ecl-site-footer__section">
            <a
              class="ecl-link ecl-link--standalone ecl-site-footer__logo-link"
              href="/example"
            >
              <picture class="ecl-picture ecl-site-footer__picture">
                <source
                  srcset="assets/logo-ec-positive-en.svg"
                  media="(min-width: 996px)"
                />
                <img
                  class="ecl-site-footer__logo-image"
                  src="assets/logo-ec-positive-en.svg"
                  alt="European Union"
                  title="European Union"
                />
              </picture>
            </a>
            <ul class="ecl-site-footer__list">
              <li class="ecl-site-footer__list-item">
                <a
                  class="ecl-link ecl-link--standalone ecl-site-footer__link"
                  href="/example"
                  >Discover more on europa.eu</a
                >
              </li>
            </ul>
            <a
              class="ecl-link ecl-link--secondary-neutral ecl-link--icon ecl-site-footer__action-button"
              href="/example"
            >
              <span class="ecl-link__label">Large action</span>
              <span
                class="wt-icon-phosphor--arrow-up-right ecl-icon ecl-icon--m ecl-link__icon ecl-icon-phosphor--arrow-up-right"
                aria-hidden="true"
              ></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Tagged empty EC output -->
<footer class="ecl-site-footer">
  <div class="ecl-site-footer__main">
    <div class="ecl-container ecl-site-footer__container">
      <div class="ecl-site-footer__row ecl-site-footer__row--specific"></div>
    </div>
  </div>
</footer>

<!-- Tagged empty EU output -->
<footer class="ecl-site-footer">
  <div class="ecl-site-footer__main">
    <div class="ecl-container ecl-site-footer__container"></div>
  </div>
</footer>

<!-- EC color mode roots -->
<footer class="ecl-site-footer ecl-color-mode--blue"></footer>
<footer class="ecl-site-footer ecl-color-mode--blue-electric"></footer>
<footer class="ecl-site-footer ecl-color-mode--blue-navy"></footer>
<footer class="ecl-site-footer ecl-color-mode--blue-ocean"></footer>
<footer class="ecl-site-footer ecl-color-mode--green"></footer>
<footer class="ecl-site-footer ecl-color-mode--green-dark"></footer>
<footer class="ecl-site-footer ecl-color-mode--green-lemon"></footer>
<footer class="ecl-site-footer ecl-color-mode--green-pine"></footer>
<footer class="ecl-site-footer ecl-color-mode--orange"></footer>
<footer class="ecl-site-footer ecl-color-mode--purple"></footer>
<footer class="ecl-site-footer ecl-color-mode--purple-violet"></footer>
<footer class="ecl-site-footer ecl-color-mode--red-crayola"></footer>
<footer class="ecl-site-footer ecl-color-mode--red-tomato"></footer>
<footer class="ecl-site-footer ecl-color-mode--warm-grey"></footer>
<footer class="ecl-site-footer ecl-color-mode--yellow-gold"></footer>
