<header class="ecl-site-header ecl-site-header-with-logo-l" data-ecl-auto-init="SiteHeader">
  <div class="ecl-site-header__inner">
    <div class="ecl-site-header__header">
      <div class="ecl-site-header__container ecl-container">
        <div class="ecl-site-header__top" data-ecl-site-header-top>
          <a class="ecl-link ecl-link--standalone ecl-site-header__logo-link" href="#" aria-label="Home - European Commission">
            <picture class="ecl-picture ecl-site-header__picture" title="European Commission">
              <source srcset="assets/logo-ec-positive-en.svg" media="(min-width: 996px)">
              <img class="ecl-site-header__logo-image ecl-site-header__logo-image--l" src="assets/logo-ec-positive-en.svg" alt="European Commission logo">
            </picture>
          </a>
          <div class="ecl-site-header__action">
            <div class="ecl-site-header__login-container">
              <a class="ecl-button ecl-button--tertiary ecl-button--neutral ecl-site-header__login-toggle" href="#" data-ecl-login-toggle>
                <span class="wt-icon--log-in ecl-icon ecl-icon--m ecl-site-header__icon ecl-icon--log-in" role="img" title="Log in" aria-hidden="false"></span>
                Log in
              </a>
            </div>
            <div class="ecl-site-header__language">
              <a aria-controls="language-list-overlay" aria-label="Change language, current language is English - EN" class="ecl-button ecl-button--tertiary ecl-button--neutral ecl-site-header__language-selector" href="#" data-ecl-language-selector role="button">
                <span class="ecl-site-header__language-icon">
                  <span class="wt-icon--global ecl-icon ecl-icon--m ecl-site-header__icon ecl-icon--global" role="img" title="EN" aria-hidden="false"></span>
                </span>
                EN
              </a>
              <div aria-labelledby="ecl-site-header__language-title" class="ecl-site-header__language-container" data-ecl-language-list-overlay hidden id="language-list-overlay" role="dialog">
                <div class="ecl-site-header__language-header">
                  <div class="ecl-site-header__language-title" id="ecl-site-header__language-title">Select your language</div>
                  <button class="ecl-button ecl-button--tertiary ecl-button--neutral ecl-site-header__language-close ecl-button--icon-only" data-ecl-language-list-close type="submit">
                    <span class="ecl-button__container">
                      <span class="ecl-button__label" data-ecl-label="true">Close</span>
                      <span class="wt-icon--close ecl-icon ecl-icon--m ecl-button__icon ecl-icon--close" aria-hidden="true" data-ecl-icon></span>
                    </span>
                  </button>
                </div>
                <div class="ecl-site-header__language-content" data-ecl-language-list-content>
                  <div class="ecl-site-header__language-category" data-ecl-language-list-eu>
                    <div class="ecl-site-header__language-category-title">Official EU languages:</div>
                    <ul class="ecl-site-header__language-list" translate="no">
                      <li class="ecl-site-header__language-item">
                        <a class="ecl-link ecl-link--standalone ecl-site-header__language-link" href="#" hreflang="en">
                          <span class="ecl-site-header__language-link-code">en</span>
                          <span class="ecl-site-header__language-link-label" lang="en">English</span>
                        </a>
                      </li>
                      <li class="ecl-site-header__language-item">
                        <a class="ecl-link ecl-link--standalone ecl-site-header__language-link" href="#" hreflang="fr">
                          <span class="ecl-site-header__language-link-code">fr</span>
                          <span class="ecl-site-header__language-link-label" lang="fr">français</span>
                        </a>
                      </li>
                      <li class="ecl-site-header__language-item">
                        <a class="ecl-link ecl-link--standalone ecl-site-header__language-link" href="#" hreflang="de">
                          <span class="ecl-site-header__language-link-code">de</span>
                          <span class="ecl-site-header__language-link-label" lang="de">Deutsch</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="ecl-site-header__search-container" role="search">
              <a aria-controls="search-form-id" aria-expanded="false" class="ecl-button ecl-button--tertiary ecl-button--neutral ecl-site-header__search-toggle" href="#" data-ecl-search-toggle="true">
                <span class="wt-icon--search ecl-icon ecl-icon--s ecl-site-header__icon ecl-icon--search" role="img" aria-hidden="true"></span>
              </a>
              <form class="ecl-search-form ecl-site-header__search" data-ecl-search-form id="search-form-id" role="search">
                <div class="ecl-form-group">
                  <label for="edit-keys" class="ecl-form-label ecl-search-form__label">Search</label>
                  <input id="edit-keys" class="ecl-text-input ecl-text-input--m ecl-search-form__text-input" name="keys" type="search">
                </div>
                <button class="ecl-button ecl-button--tertiary ecl-search-form__button ecl-button--icon-only" type="submit">
                  <span class="ecl-button__container">
                    <span class="wt-icon--search ecl-icon ecl-icon--m ecl-button__icon ecl-icon--search" aria-hidden="true" data-ecl-icon></span>
                    <span class="ecl-button__label" data-ecl-label="true">Search</span>
                  </span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ecl-site-header__banner">
      <div class="ecl-container">
        <div class="ecl-site-header__site-name">News, policies, information and services</div>
      </div>
    </div>
  </div>
</header>
