<!-- Default skip link -->
<a class="ecl-link ecl-link--primary ecl-skip-link" href="#top"
  >Skip to main content</a
>

<!-- Skip link with extra classes -->
<a
  class="ecl-link ecl-link--primary ecl-skip-link custom-class custom-class--test"
  href="#top"
  >Skip to main content</a
>

<!-- Skip link with valued and valueless extra attributes -->
<a
  class="ecl-link ecl-link--primary ecl-skip-link"
  data-test="data-test-value"
  data-test-flag
  href="#top"
  >Skip to main content</a
>

<!-- Empty skip link output -->
<a class="ecl-link ecl-link--primary ecl-skip-link" href=""></a>

<!-- Skip link color modes -->
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--blue"
  href="#top"
  >Blue</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--blue-electric"
  href="#top"
  >Blue electric</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--blue-navy"
  href="#top"
  >Blue navy</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--blue-ocean"
  href="#top"
  >Blue ocean</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--green"
  href="#top"
  >Green</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--green-dark"
  href="#top"
  >Green dark</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--green-lemon"
  href="#top"
  >Green lemon</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--green-pine"
  href="#top"
  >Green pine</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--orange"
  href="#top"
  >Orange</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--purple"
  href="#top"
  >Purple</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--purple-violet"
  href="#top"
  >Purple violet</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--red-crayola"
  href="#top"
  >Red crayola</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--red-tomato"
  href="#top"
  >Red tomato</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--warm-grey"
  href="#top"
  >Warm grey</a
>
<a
  class="ecl-link ecl-link--primary ecl-skip-link ecl-color-mode--yellow-gold"
  href="#top"
  >Yellow gold</a
>
