<!-- Default horizontal -->
<div class="ecl-social-media-follow ecl-social-media-follow--left">
  <p class="ecl-social-media-follow__description">Follow us</p>
  <ul class="ecl-social-media-follow__list">
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--mastodon wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--mastodon"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">Mastodon</span>
      </a>
    </li>
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--linkedin wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--linkedin"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">LinkedIn</span>
      </a>
    </li>
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--bluesky wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--bluesky"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">Bluesky</span>
      </a>
    </li>
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--facebook wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--facebook"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">Facebook</span>
      </a>
    </li>
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--youtube wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--youtube"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">YouTube</span>
      </a>
    </li>
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--chain wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--chain"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">Other</span>
      </a>
    </li>
  </ul>
</div>

<!-- Vertical -->
<div
  class="ecl-social-media-follow ecl-social-media-follow--vertical ecl-social-media-follow--left"
>
  <p class="ecl-social-media-follow__description">Follow us</p>
  <ul class="ecl-social-media-follow__list">
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--mastodon wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--mastodon"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">Mastodon</span>
      </a>
    </li>
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--linkedin wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--linkedin"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">LinkedIn</span>
      </a>
    </li>
  </ul>
</div>

<!-- Right aligned with inline description and no other link -->
<div
  class="ecl-social-media-follow ecl-social-media-follow--right ecl-social-media-follow--description_inline"
>
  <p class="ecl-social-media-follow__description">Follow us</p>
  <ul class="ecl-social-media-follow__list">
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--mastodon wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--mastodon"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">Mastodon</span>
      </a>
    </li>
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--linkedin wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--linkedin"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">LinkedIn</span>
      </a>
    </li>
  </ul>
</div>

<!-- Hidden labels -->
<div class="ecl-social-media-follow ecl-social-media-follow--left">
  <p class="ecl-social-media-follow__description">Follow us</p>
  <ul class="ecl-social-media-follow__list">
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link ecl-link--icon-only"
      >
        <span
          class="wt-icon-networks--mastodon wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--mastodon"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">Mastodon</span>
      </a>
    </li>
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link ecl-link--icon-only"
      >
        <span
          class="wt-icon-networks--linkedin wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--linkedin"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">LinkedIn</span>
      </a>
    </li>
  </ul>
</div>

<!-- Extension hooks -->
<div
  class="ecl-social-media-follow ecl-social-media-follow--left custom-class custom-class--test"
  data-test="data-test-value"
  data-empty
>
  <p class="ecl-social-media-follow__description">Follow us</p>
  <ul class="ecl-social-media-follow__list">
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link custom-link-class"
        data-link-test
      >
        <span
          class="wt-icon-networks--mastodon wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon custom-icon-class ecl-icon-networks--mastodon"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">Mastodon</span>
      </a>
    </li>
  </ul>
</div>

<!-- No description -->
<div class="ecl-social-media-follow ecl-social-media-follow--left">
  <ul class="ecl-social-media-follow__list">
    <li class="ecl-social-media-follow__item">
      <a
        href="/example"
        class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link"
      >
        <span
          class="wt-icon-networks--mastodon wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--mastodon"
          aria-hidden="true"
        ></span>
        <span class="ecl-link__label">Mastodon</span>
      </a>
    </li>
  </ul>
</div>

<!-- Empty links -->
<div class="ecl-social-media-follow ecl-social-media-follow--left">
  <p class="ecl-social-media-follow__description">Follow us</p>
</div>

<!-- Empty output -->
<div class="ecl-social-media-follow ecl-social-media-follow--left"></div>

<!-- EC color modes -->
<div class="ecl-color-mode--blue">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--green-dark">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--orange">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--green">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--purple">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--blue-navy">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--blue-electric">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--blue-ocean">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--green-lemon">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--green-pine">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--warm-grey">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--red-crayola">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--yellow-gold">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--purple-violet">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
<div class="ecl-color-mode--red-tomato">
  <div class="ecl-social-media-follow ecl-social-media-follow--left">
    <p class="ecl-social-media-follow__description">Follow us</p>
  </div>
</div>
