<h3 class="ecl-u-type-heading-3">Horizontal</h3>
<div class="ecl-u-mb-l">
    <div class="ecl-social-media-follow">
        <p class="ecl-social-media-follow__description ecl-u-type-paragraph">Follow us</p>
        <ul class="ecl-social-media-follow__list">
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--facebook wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--facebook" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Facebook</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--instagram wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--instagram" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Instagram</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--mastodon wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--mastodon" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Mastodon</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--linkedin wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--linkedin" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Linkedin</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--telegram wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--telegram" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Telegram</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--chain wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--chain" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Other</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Vertical</h3>
<div class="ecl-u-mb-l">
    <div class="ecl-social-media-follow ecl-social-media-follow--vertical">
        <p class="ecl-social-media-follow__description ecl-u-type-paragraph">Follow us</p>
        <ul class="ecl-social-media-follow__list">
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--facebook wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--facebook" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Facebook</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--instagram wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--instagram" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Instagram</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--mastodon wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--mastodon" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Mastodon</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--linkedin wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--linkedin" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Linkedin</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--telegram wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--telegram" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Telegram</span>
                </a>
            </li>
            <li class="ecl-social-media-follow__item">
                <a href="#" class="ecl-link ecl-link--standalone ecl-link--icon ecl-social-media-follow__link">
                    <span class="ecl-link__icon-container">
                        <span class="wt-icon-networks--chain wt-icon--monochrome ecl-icon ecl-icon--s ecl-link__icon ecl-social-media-follow__icon ecl-icon-networks--chain" aria-hidden="true"></span>
                    </span>
                    <span class="ecl-link__label">Other</span>
                </a>
            </li>
        </ul>
    </div>
</div>