<h3 class="ecl-u-type-heading-3">Primary Spinner</h3>
<div class="ecl-u-mb-l">
    <div class="ecl-spinner ecl-spinner--primary ecl-spinner--m ecl-spinner--visible" role="alert">
        <svg class="ecl-spinner__loader" viewBox="25 25 50 50">
            <circle class="ecl-spinner__circle" cx="50" cy="50" r="20" fill="none" stroke-width="4px" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></circle>
        </svg>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Inverted Spinner</h3>
<div class="ecl-u-bg-grey ecl-u-bg-dark ecl-u-p-l ecl-u-mb-l">
    <div class="ecl-spinner ecl-spinner--inverted ecl-spinner--m ecl-spinner--visible" role="alert">
        <svg class="ecl-spinner__loader" viewBox="25 25 50 50">
            <circle class="ecl-spinner__circle" cx="50" cy="50" r="20" fill="none" stroke-width="4px" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></circle>
        </svg>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Spinner Sizes</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <div class="ecl-u-mr-l ecl-u-mb-m">
        <p class="ecl-u-type-paragraph ecl-u-mb-s">Small</p>
        <div class="ecl-spinner ecl-spinner--primary ecl-spinner--s ecl-spinner--visible" role="alert">
            <svg class="ecl-spinner__loader" viewBox="25 25 50 50">
                <circle class="ecl-spinner__circle" cx="50" cy="50" r="20" fill="none" stroke-width="4px" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></circle>
            </svg>
        </div>
    </div>
    <div class="ecl-u-mr-l ecl-u-mb-m">
        <p class="ecl-u-type-paragraph ecl-u-mb-s">Medium</p>
        <div class="ecl-spinner ecl-spinner--primary ecl-spinner--m ecl-spinner--visible" role="alert">
            <svg class="ecl-spinner__loader" viewBox="25 25 50 50">
                <circle class="ecl-spinner__circle" cx="50" cy="50" r="20" fill="none" stroke-width="4px" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></circle>
            </svg>
        </div>
    </div>
    <div class="ecl-u-mr-l ecl-u-mb-m">
        <p class="ecl-u-type-paragraph ecl-u-mb-s">Large</p>
        <div class="ecl-spinner ecl-spinner--primary ecl-spinner--l ecl-spinner--visible" role="alert">
            <svg class="ecl-spinner__loader" viewBox="25 25 50 50">
                <circle class="ecl-spinner__circle" cx="50" cy="50" r="20" fill="none" stroke-width="4px" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></circle>
            </svg>
        </div>
    </div>
</div>

<h3 class="ecl-u-type-heading-3">Spinner with Text</h3>
<div class="ecl-u-mb-l">
    <div class="ecl-spinner ecl-spinner--primary ecl-spinner--m ecl-spinner--visible" role="alert">
        <svg class="ecl-spinner__loader" viewBox="25 25 50 50">
            <circle class="ecl-spinner__circle" cx="50" cy="50" r="20" fill="none" stroke-width="4px" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></circle>
        </svg>
        <div class="ecl-spinner__text">Loading</div>
    </div>
</div>