<section class="ecl-spotlight ecl-spotlight--anchor ecl-spotlight--font-l">
  <div class="ecl-spotlight__header">
    <div class="ecl-container">
      In focus
    </div>
  </div>
  <a href="#" class="ecl-spotlight__link">
    <figure class="ecl-spotlight__picture-container">
      <picture class="ecl-picture ecl-spotlight__picture">
        <source srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image6.jpg" media="all and (min-width: 1368px)">
        <source srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image4.jpg" media="all and (min-width: 1140px)">
        <source srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image3.jpg" media="all and (min-width: 996px)">
        <source srcset="https://inno-ecl.s3.amazonaws.com/media/examples/example-image2.jpg" media="all and (min-width: 768px)">
        <img class="ecl-spotlight__image" src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="alternative text" data-ecl-spotlight-image>
      </picture>
    </figure>
    <div class="ecl-spotlight__container" data-ecl-spotlight-container>
      <div class="ecl-container">
        <div class="ecl-spotlight__title">Proin molestie sapien ut blandit</div>
        <div class="ecl-spotlight__anchor" aria-hidden="true"></div>
      </div>
      <footer class="ecl-spotlight__credit">Copyright</footer>
    </div>
  </a>
</section>
