<h3 class="ecl-u-type-heading-3">Basic Table</h3>
<div class="ecl-table-responsive">
  <table class="ecl-table" id="table-basic">
    <caption class="ecl-table__caption">Table caption</caption>
    <thead class="ecl-table__head">
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-basic-header-1" scope="col">Job title</th>
        <th class="ecl-table__header" id="table-basic-header-2" scope="col">EFSI finance approved by EIB</th>
        <th class="ecl-table__header" id="table-basic-header-3" scope="col">Location</th>
        <th class="ecl-table__header" id="table-basic-header-4" scope="col">Organization</th>
        <th class="ecl-table__header" id="table-basic-header-5" scope="col">Type of contract</th>
      </tr>
    </thead>
    <tbody class="ecl-table__body">
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-basic-header-1">Administators in Competition Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-basic-header-2">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-basic-header-3">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization" headers="table-basic-header-4">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract" headers="table-basic-header-5">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-basic-header-1">Administators in Economic and Monetary Union Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-basic-header-2">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-basic-header-3">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization" headers="table-basic-header-4">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract" headers="table-basic-header-5">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-basic-header-1">Corporate Support Officer</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-basic-header-2">FG IV</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-basic-header-3">Prague (Czech Republic)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization" headers="table-basic-header-4">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract" headers="table-basic-header-5">Permanent official</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="ecl-u-type-heading-3">Zebra Table</h3>
<div class="ecl-table-responsive">
  <table class="ecl-table ecl-table--zebra" id="table-zebra">
    <caption class="ecl-table__caption">Table caption</caption>
    <thead class="ecl-table__head">
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-zebra-header-1" scope="col">Job title</th>
        <th class="ecl-table__header" id="table-zebra-header-2" scope="col">EFSI finance approved by EIB</th>
        <th class="ecl-table__header" id="table-zebra-header-3" scope="col">Location</th>
        <th class="ecl-table__header" id="table-zebra-header-4" scope="col">Organization</th>
        <th class="ecl-table__header" id="table-zebra-header-5" scope="col">Type of contract</th>
      </tr>
    </thead>
    <tbody class="ecl-table__body">
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-zebra-header-1">Administators in Competition Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-zebra-header-2">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-zebra-header-3">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization" headers="table-zebra-header-4">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract" headers="table-zebra-header-5">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-zebra-header-1">Administators in Economic and Monetary Union Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-zebra-header-2">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-zebra-header-3">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization" headers="table-zebra-header-4">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract" headers="table-zebra-header-5">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-zebra-header-1">Corporate Support Officer</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-zebra-header-2">FG IV</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-zebra-header-3">Prague (Czech Republic)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization" headers="table-zebra-header-4">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract" headers="table-zebra-header-5">Permanent official</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="ecl-u-type-heading-3">Multi-Header Table</h3>
<div class="ecl-table-responsive">
  <table class="ecl-table" id="table-multi">
    <caption class="ecl-table__caption">Table caption</caption>
    <thead class="ecl-table__head">
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-multi-header-1" rowspan="2" scope="col">Job title</th>
        <th class="ecl-table__header" id="table-multi-header-2" rowspan="2" scope="col">EFSI finance approved by EIB</th>
        <th class="ecl-table__header" id="table-multi-header-3" colspan="2" scope="colgroup">Extra information</th>
        <th class="ecl-table__header" id="table-multi-header-4" rowspan="2" scope="col">Location</th>
      </tr>
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-multi-header-5" headers="table-multi-header-3" scope="col">Organization</th>
        <th class="ecl-table__header" id="table-multi-header-6" headers="table-multi-header-3" scope="col">Type of contract</th>
      </tr>
    </thead>
    <tbody class="ecl-table__body">
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-multi-header-1">Administators in Competition Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-multi-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-multi-header-3 table-multi-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-multi-header-3 table-multi-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-multi-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-multi-header-1">Administators in Economic and Monetary Union Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-multi-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-multi-header-3 table-multi-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-multi-header-3 table-multi-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-multi-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-multi-header-1">Corporate Support Officer</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-multi-header-2">FG IV</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-multi-header-3 table-multi-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-multi-header-3 table-multi-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-multi-header-4">Prague (Czech Republic)</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="ecl-u-type-heading-3">Sortable Table</h3>
<div class="ecl-table-responsive">
  <table class="ecl-table" id="table-sortable" data-ecl-table data-ecl-auto-init="Table" data-ecl-table-sort-label-asc="Sort ascending" data-ecl-table-sort-label-desc="Sort descending" data-ecl-table-sort-label-default="Sort default">
    <caption class="ecl-table__caption">Table caption</caption>
    <thead class="ecl-table__head">
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-sortable-header-1" rowspan="2" scope="col" data-ecl-table-sort-toggle>Job title</th>
        <th class="ecl-table__header" id="table-sortable-header-2" rowspan="2" scope="col" data-ecl-table-sort-toggle>EFSI finance approved by EIB</th>
        <th class="ecl-table__header" id="table-sortable-header-3" colspan="2" scope="colgroup">Extra information</th>
        <th class="ecl-table__header" id="table-sortable-header-4" rowspan="2" scope="col" data-ecl-table-sort-toggle>Location</th>
      </tr>
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-sortable-header-5" headers="table-sortable-header-3" scope="col" data-ecl-table-sort-toggle>Organization</th>
        <th class="ecl-table__header" id="table-sortable-header-6" headers="table-sortable-header-3" scope="col" data-ecl-table-sort-toggle>Type of contract</th>
      </tr>
    </thead>
    <tbody class="ecl-table__body">
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-sortable-header-1">Administators in Competition Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-sortable-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-sortable-header-3 table-sortable-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-sortable-header-3 table-sortable-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-sortable-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-sortable-header-1">Administators in Economic and Monetary Union Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-sortable-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-sortable-header-3 table-sortable-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-sortable-header-3 table-sortable-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-sortable-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-sortable-header-1">Corporate Support Officer</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-sortable-header-2">FG IV</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-sortable-header-3 table-sortable-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-sortable-header-3 table-sortable-header-6">Temporary</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-sortable-header-4">Prague (Czech Republic)</td>
      </tr>
    </tbody>
  </table>
</div>
