<!-- Basic Table -->
<h3 class="ecl-u-type-heading-3 ecl-u-mt-xl">Default table</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Basic table structure with header row and data rows. All tables must be wrapped in the <code>ecl-table-responsive</code> container for responsive behavior.</p>

<div class="ecl-table-responsive">
  <table class="ecl-table" id="table-default">
    <caption class="ecl-table__caption">Table caption</caption>
    <thead class="ecl-table__head">
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-default-header-1" scope="col">Job title</th>
        <th class="ecl-table__header" id="table-default-header-2" scope="col">EFSI finance approved by EIB</th>
        <th class="ecl-table__header" id="table-default-header-3" scope="col">Location</th>
        <th class="ecl-table__header" id="table-default-header-4" scope="col">Organization</th>
        <th class="ecl-table__header" id="table-default-header-5" scope="col">Type of contract</th>
      </tr>
    </thead>
    <tbody class="ecl-table__body">
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Administators in Competition Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Administators in Economic and Monetary Union Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Administators in Financial rules appliable to the EU budget</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Corporate Support Officer</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">FG IV</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Prague (Czech Republic)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Policy Officer - Clean Energy For All Europeans</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">FG II, FG III, FG IV</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Vigo (Spain)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">EU-LISA</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Seconded National Expert (SNE)</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Zebra Table -->
<h3 class="ecl-u-type-heading-3 ecl-u-mt-xl">Zebra striped table</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Add the <code>ecl-table--zebra</code> modifier class for alternating row background colors.</p>

<div class="ecl-table-responsive">
  <table class="ecl-table ecl-table--zebra" id="table-zebra">
    <caption class="ecl-table__caption">Jobs at European institutions</caption>
    <thead class="ecl-table__head">
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-zebra-header-1" scope="col">Job title</th>
        <th class="ecl-table__header" id="table-zebra-header-2" scope="col">EFSI finance approved by EIB</th>
        <th class="ecl-table__header" id="table-zebra-header-3" scope="col">Location</th>
        <th class="ecl-table__header" id="table-zebra-header-4" scope="col">Organization</th>
        <th class="ecl-table__header" id="table-zebra-header-5" scope="col">Type of contract</th>
      </tr>
    </thead>
    <tbody class="ecl-table__body">
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Administators in Competition Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Administators in Economic and Monetary Union Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Administators in Financial rules appliable to the EU budget</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Corporate Support Officer</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">FG IV</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Prague (Czech Republic)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Policy Officer - Clean Energy For All Europeans</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">FG II, FG III, FG IV</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Vigo (Spain)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">EU-LISA</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Seconded National Expert (SNE)</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Multi-Header Table -->
<h3 class="ecl-u-type-heading-3 ecl-u-mt-xl">Multi-header table</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Tables can have multiple header rows with <code>colspan</code> and <code>rowspan</code> attributes. Use <code>scope="colgroup"</code> for headers spanning multiple columns. Cells in grouped columns need the <code>ecl-table__cell--group</code> modifier class and proper <code>data-ecl-table-header-group</code> attribute.</p>

<div class="ecl-table-responsive">
  <table class="ecl-table" id="table-multi">
    <caption class="ecl-table__caption">Table with multi-level headers</caption>
    <thead class="ecl-table__head">
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-multi-header-1" rowspan="2" scope="col">Job title</th>
        <th class="ecl-table__header" id="table-multi-header-2" rowspan="2" scope="col">EFSI finance approved by EIB</th>
        <th class="ecl-table__header" id="table-multi-header-3" colspan="2" scope="colgroup">Extra information</th>
        <th class="ecl-table__header" id="table-multi-header-4" rowspan="2" scope="col">Location</th>
      </tr>
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-multi-header-5" headers="table-multi-header-3" scope="col">Organization</th>
        <th class="ecl-table__header" id="table-multi-header-6" headers="table-multi-header-3" scope="col">Type of contract</th>
      </tr>
    </thead>
    <tbody class="ecl-table__body">
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-multi-header-1">Administators in Competition Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-multi-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-multi-header-3 table-multi-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-multi-header-3 table-multi-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-multi-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-multi-header-1">Administators in Economic and Monetary Union Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-multi-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-multi-header-3 table-multi-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-multi-header-3 table-multi-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-multi-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-multi-header-1">Administators in Financial rules appliable to the EU budget</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-multi-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-multi-header-3 table-multi-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-multi-header-3 table-multi-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-multi-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-multi-header-1">Corporate Support Officer</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-multi-header-2">FG IV</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-multi-header-3 table-multi-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-multi-header-3 table-multi-header-6">Temporary</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-multi-header-4">Prague (Czech Republic)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-multi-header-1">Policy Officer - Clean Energy For All Europeans</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-multi-header-2">FG II, FG III, FG IV</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-multi-header-3 table-multi-header-5">EU-LISA</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-multi-header-3 table-multi-header-6">Seconded National Expert (SNE)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-multi-header-4">Vigo (Spain)</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Sortable Table -->
<h3 class="ecl-u-type-heading-3 ecl-u-mt-xl">Sortable table</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Enable table sorting with JavaScript by adding <code>data-ecl-table</code>, <code>data-ecl-auto-init="Table"</code>, and sorting label attributes to the table element. Add <code>data-ecl-table-sort-toggle</code> to sortable header cells (not to headers with <code>colspan</code>).</p>

<div class="ecl-table-responsive">
  <table class="ecl-table" id="table-sortable" data-ecl-table data-ecl-auto-init="Table" data-ecl-table-sort-label-asc="Sort ascending" data-ecl-table-sort-label-desc="Sort descending" data-ecl-table-sort-label-default="Sort default">
    <caption class="ecl-table__caption">Sortable jobs table</caption>
    <thead class="ecl-table__head">
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-sortable-header-1" rowspan="2" scope="col" data-ecl-table-sort-toggle>Job title</th>
        <th class="ecl-table__header" id="table-sortable-header-2" rowspan="2" scope="col" data-ecl-table-sort-toggle>EFSI finance approved by EIB</th>
        <th class="ecl-table__header" id="table-sortable-header-3" colspan="2" scope="colgroup">Extra information</th>
        <th class="ecl-table__header" id="table-sortable-header-4" rowspan="2" scope="col" data-ecl-table-sort-toggle>Location</th>
      </tr>
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-sortable-header-5" headers="table-sortable-header-3" scope="col" data-ecl-table-sort-toggle>Organization</th>
        <th class="ecl-table__header" id="table-sortable-header-6" headers="table-sortable-header-3" scope="col" data-ecl-table-sort-toggle>Type of contract</th>
      </tr>
    </thead>
    <tbody class="ecl-table__body">
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-sortable-header-1">Administators in Competition Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-sortable-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-sortable-header-3 table-sortable-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-sortable-header-3 table-sortable-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-sortable-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-sortable-header-1">Administators in Economic and Monetary Union Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-sortable-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-sortable-header-3 table-sortable-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-sortable-header-3 table-sortable-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-sortable-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-sortable-header-1">Administators in Financial rules appliable to the EU budget</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-sortable-header-2">AD7</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-sortable-header-3 table-sortable-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-sortable-header-3 table-sortable-header-6">Permanent official</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-sortable-header-4">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-sortable-header-1">Corporate Support Officer</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-sortable-header-2">FG IV</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-sortable-header-3 table-sortable-header-5">European Commission</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-sortable-header-3 table-sortable-header-6">Temporary</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-sortable-header-4">Prague (Czech Republic)</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title" headers="table-sortable-header-1">Policy Officer - Clean Energy For All Europeans</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB" headers="table-sortable-header-2">FG II, FG III, FG IV</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Organization" data-ecl-table-header-group="Extra information" headers="table-sortable-header-3 table-sortable-header-5">EU-LISA</td>
        <td class="ecl-table__cell ecl-table__cell--group" data-ecl-table-header="Type of contract" headers="table-sortable-header-3 table-sortable-header-6">Seconded National Expert (SNE)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location" headers="table-sortable-header-4">Vigo (Spain)</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Simple Table -->
<h3 class="ecl-u-type-heading-3 ecl-u-mt-xl">Simple table (mobile behavior)</h3>
<p class="ecl-u-type-paragraph ecl-u-mb-m">Add the <code>ecl-table--simple</code> modifier class to use horizontal scrolling on mobile instead of the default ECL responsive table behavior.</p>

<div class="ecl-table-responsive">
  <table class="ecl-table ecl-table--simple" id="table-simple">
    <caption class="ecl-table__caption">Simple table with horizontal scroll</caption>
    <thead class="ecl-table__head">
      <tr class="ecl-table__row">
        <th class="ecl-table__header" id="table-simple-header-1" scope="col">Job title</th>
        <th class="ecl-table__header" id="table-simple-header-2" scope="col">EFSI finance approved by EIB</th>
        <th class="ecl-table__header" id="table-simple-header-3" scope="col">Location</th>
        <th class="ecl-table__header" id="table-simple-header-4" scope="col">Organization</th>
        <th class="ecl-table__header" id="table-simple-header-5" scope="col">Type of contract</th>
      </tr>
    </thead>
    <tbody class="ecl-table__body">
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Administators in Competition Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Administators in Economic and Monetary Union Law</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">AD7</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Brussels (Belgium), Luxembourg (Luxembourg), Strasbourg (France)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
      <tr class="ecl-table__row">
        <td class="ecl-table__cell" data-ecl-table-header="Job title">Corporate Support Officer</td>
        <td class="ecl-table__cell" data-ecl-table-header="EFSI finance approved by EIB">FG IV</td>
        <td class="ecl-table__cell" data-ecl-table-header="Location">Prague (Czech Republic)</td>
        <td class="ecl-table__cell" data-ecl-table-header="Organization">European Commission</td>
        <td class="ecl-table__cell" data-ecl-table-header="Type of contract">Permanent official</td>
      </tr>
    </tbody>
  </table>
</div>
