<!-- Default tabs -->
<div class="ecl-tabs" data-ecl-tabs="true" data-ecl-auto-init="Tabs">
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/overview"
          class="ecl-link ecl-tabs__link"
          id="tabs-default-1"
          role="tab"
          tabindex="-1"
          aria-selected="false"
          >Overview</a
        >
      </div>
      <div class="ecl-tabs__item">
        <a
          href="/example/policies"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-default-2"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Policies</a
        >
      </div>
      <div class="ecl-tabs__item">
        <a
          href="/example/events"
          class="ecl-link ecl-tabs__link"
          id="tabs-default-3"
          role="tab"
          tabindex="-1"
          aria-selected="false"
          >Events</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        >
        <span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span>
      </span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true">Previous</span>
        <span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span>
      </span>
    </button>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true">Next</span>
        <span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span>
      </span>
    </button>
  </div>
</div>

<!-- Tabs with content management -->
<div class="ecl-container">
  <div
    class="ecl-tabs"
    data-ecl-tabs="true"
    data-ecl-auto-init="Tabs"
    data-ecl-tabs-with-content
  >
    <div class="ecl-tabs__container">
      <div class="ecl-tabs__list" role="tablist">
        <div class="ecl-tabs__item">
          <a
            href="#tabs-content-1"
            class="ecl-link ecl-tabs__link"
            id="tabs-content-link-1"
            role="tab"
            tabindex="-1"
            aria-selected="false"
            >A first tab</a
          >
        </div>
        <div class="ecl-tabs__item">
          <a
            href="#tabs-content-2"
            class="ecl-link ecl-tabs__link ecl-tabs__link--active"
            id="tabs-content-link-2"
            role="tab"
            tabindex="0"
            aria-selected="true"
            >Second tab</a
          >
        </div>
        <div class="ecl-tabs__item">
          <a
            href="#tabs-content-3"
            class="ecl-link ecl-tabs__link"
            id="tabs-content-link-3"
            role="tab"
            tabindex="-1"
            aria-selected="false"
            >Third tab</a
          >
        </div>
        <div class="ecl-tabs__item ecl-tabs__item--more"></div>
      </div>
      <button
        class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
        type="button"
        tabindex="-1"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Show %d more items</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
    <div class="ecl-tabs__controls">
      <button
        class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
        type="button"
        tabindex="-1"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true">Previous</span>
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
      <button
        class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
        type="button"
        tabindex="-1"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true">Next</span>
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </div>
  </div>

  <div id="tabs-content-1">
    <h2 class="ecl-u-type-heading-2">A first tab content</h2>
    <p class="ecl-u-type-paragraph">
      This panel is visible without JavaScript and is connected by its fragment
      identifier when the tabs runtime initializes.
    </p>
  </div>
  <div id="tabs-content-2">
    <h2 class="ecl-u-type-heading-2">Second tab content</h2>
    <p class="ecl-u-type-paragraph">
      The active tab is marked in the initial HTML; the runtime updates panel
      visibility and ARIA relationships.
    </p>
  </div>
  <div id="tabs-content-3">
    <h2 class="ecl-u-type-heading-2">Third tab content</h2>
    <p class="ecl-u-type-paragraph">
      Keyboard and overflow behavior are handled by the v5.0.1 tabs script.
    </p>
  </div>
</div>

<!-- Extension hooks and custom labels -->
<div
  class="ecl-tabs custom-tabs"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
  data-test="tabs-extension"
  data-demo
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/one"
          class="ecl-link ecl-tabs__link custom-tab-link"
          id="tabs-extension-1"
          role="tab"
          tabindex="-1"
          aria-selected="false"
          >One</a
        >
      </div>
      <div class="ecl-tabs__item">
        <a
          href="/example/two"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active custom-tab-active"
          id="tabs-extension-2"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Two</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true"
          >Display %d additional sections</span
        >
        <span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span>
      </span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true">Back</span>
        <span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span>
      </span>
    </button>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true">Forward</span>
        <span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span>
      </span>
    </button>
  </div>
</div>

<!-- Empty items render no component root; items without a path are skipped. -->

<!-- EC color modes -->
<div
  class="ecl-tabs ecl-color-mode--blue"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/blue"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-blue"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Blue</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--blue-electric"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/blue-electric"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-blue-electric"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Blue electric</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--blue-navy"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/blue-navy"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-blue-navy"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Blue navy</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--blue-ocean"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/blue-ocean"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-blue-ocean"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Blue ocean</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--green"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/green"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-green"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Green</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--green-dark"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/green-dark"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-green-dark"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Green dark</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--green-lemon"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/green-lemon"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-green-lemon"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Green lemon</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--green-pine"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/green-pine"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-green-pine"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Green pine</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--orange"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/orange"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-orange"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Orange</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--purple"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/purple"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-purple"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Purple</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--purple-violet"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/purple-violet"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-purple-violet"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Purple violet</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--red-crayola"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/red-crayola"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-red-crayola"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Red crayola</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--red-tomato"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/red-tomato"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-red-tomato"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Red tomato</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--warm-grey"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/warm-grey"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-warm-grey"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Warm grey</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>

<div
  class="ecl-tabs ecl-color-mode--yellow-gold"
  data-ecl-tabs="true"
  data-ecl-auto-init="Tabs"
>
  <div class="ecl-tabs__container">
    <div class="ecl-tabs__list" role="tablist">
      <div class="ecl-tabs__item">
        <a
          href="/example/yellow-gold"
          class="ecl-link ecl-tabs__link ecl-tabs__link--active"
          id="tabs-yellow-gold"
          role="tab"
          tabindex="0"
          aria-selected="true"
          >Yellow gold</a
        >
      </div>
      <div class="ecl-tabs__item ecl-tabs__item--more"></div>
    </div>
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__toggle"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true"
          >Show %d more items</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--fluid ecl-icon--rotate-180 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
  <div class="ecl-tabs__controls">
    <button
      class="ecl-button ecl-button--tertiary ecl-tabs__prev ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Previous</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span></button
    ><button
      class="ecl-button ecl-button--tertiary ecl-tabs__next ecl-tabs__item--hidden ecl-button--icon-only"
      type="button"
      tabindex="-1"
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Next</span
        ><span
          class="wt-icon--corner-arrow ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon ecl-icon--corner-arrow"
          aria-hidden="true"
          data-ecl-icon
        ></span
      ></span>
    </button>
  </div>
</div>
