<h3 class="ecl-u-type-heading-3">Link Tags</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <a href="#" class="ecl-tag ecl-u-mr-m ecl-u-mb-s">Link tag</a>
    <a href="#" class="ecl-tag ecl-u-mr-m ecl-u-mb-s">Link tag<span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-tag__icon ecl-tag__icon--external" aria-hidden="true"></span></a>
    <a href="#" class="ecl-tag ecl-tag--nowrap ecl-u-mr-m ecl-u-mb-s">Link tag with nowrap</a>
</div>

<h3 class="ecl-u-type-heading-3">Removable Tags</h3>
<div class="ecl-u-d-flex ecl-u-flex-wrap ecl-u-mb-l">
    <button type="button" class="ecl-tag ecl-tag--removable ecl-u-mr-m ecl-u-mb-s" aria-label="Dismiss">Removable tag<span class="ecl-tag__icon"><span class="wt-icon--close-outline ecl-icon ecl-icon--xs ecl-tag__icon-close" aria-hidden="true"></span></span></button>
    <button type="button" class="ecl-tag ecl-tag--removable ecl-u-mr-m ecl-u-mb-s" aria-label="Dismiss">Another removable tag<span class="ecl-tag__icon"><span class="wt-icon--close-outline ecl-icon ecl-icon--xs ecl-tag__icon-close" aria-hidden="true"></span></span></button>
</div>

<h3 class="ecl-u-type-heading-3">Tag Set</h3>
<ul class="ecl-tag-set ecl-u-mb-l">
    <li class="ecl-tag-set__item">
        <a href="#" class="ecl-tag">Link tag</a>
    </li>
    <li class="ecl-tag-set__item">
        <button type="button" class="ecl-tag ecl-tag--removable" aria-label="Dismiss">Removable tag<span class="ecl-tag__icon"><span class="wt-icon--close-outline ecl-icon ecl-icon--xs ecl-tag__icon-close" aria-hidden="true"></span></span></button>
    </li>
    <li class="ecl-tag-set__item">
        <button type="button" class="ecl-tag ecl-tag--removable" aria-label="Dismiss">Another tag<span class="ecl-tag__icon"><span class="wt-icon--close-outline ecl-icon ecl-icon--xs ecl-tag__icon-close" aria-hidden="true"></span></span></button>
    </li>
    <li class="ecl-tag-set__item">
        <a href="#" class="ecl-tag">External link<span class="wt-icon--external ecl-icon ecl-icon--2xs ecl-tag__icon ecl-tag__icon--external" aria-hidden="true"></span></a>
    </li>
</ul>
