<h3 class="ecl-u-type-heading-3">Basic Text Input</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label" for="text-input-basic-1" id="text-input-basic-1-label">Label <span class="ecl-form-label__optional">(optional)</span></label>
    <div class="ecl-help-block" id="text-input-basic-1-helper">
      Optional help text
    </div>
    <input aria-describedby="text-input-basic-1-helper" class="ecl-text-input ecl-text-input--m" id="text-input-basic-1" name="text-input-basic-1" placeholder="Placeholder text" type="text">
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Disabled Text Input</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label ecl-form-label--disabled" for="text-input-disabled-1" id="text-input-disabled-1-label">Label <span class="ecl-form-label__optional">(optional)</span></label>
    <div class="ecl-help-block ecl-help-block--disabled" id="text-input-disabled-1-helper">
      Optional help text
    </div>
    <input aria-describedby="text-input-disabled-1-helper" class="ecl-text-input ecl-text-input--m" disabled id="text-input-disabled-1" name="text-input-disabled-1" placeholder="Placeholder text" type="text">
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Invalid Text Input</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label ecl-form-label--invalid" for="text-input-invalid-1" id="text-input-invalid-1-label">Label <span class="ecl-form-label__optional">(optional)</span></label>
    <div class="ecl-help-block" id="text-input-invalid-1-helper">
      Optional help text
    </div>
    <input aria-describedby="text-input-invalid-1-helper text-input-invalid-1-invalid" aria-invalid="true" class="ecl-text-input ecl-text-input--invalid ecl-text-input--m" id="text-input-invalid-1" name="text-input-invalid-1" placeholder="Placeholder text" type="text">
    <div class="ecl-feedback-message" id="text-input-invalid-1-invalid">
      <span class="wt-icon--error-outline ecl-icon ecl-icon--xs ecl-feedback-message__icon" data-ecl-icon aria-hidden="true"></span>
      Error text
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Required Text Input</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label" for="text-input-required-1" id="text-input-required-1-label">Label <span class="ecl-form-label__required">*</span></label>
    <div class="ecl-help-block" id="text-input-required-1-helper">
      Optional help text
    </div>
    <input aria-describedby="text-input-required-1-helper" class="ecl-text-input ecl-text-input--m" id="text-input-required-1" name="text-input-required-1" placeholder="Placeholder text" required type="text">
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Text Input Sizes</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="text-input-small-1" id="text-input-small-1-label">Small</label>
    <input class="ecl-text-input ecl-text-input--s" id="text-input-small-1" name="text-input-small-1" type="text">
  </div>
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="text-input-medium-1" id="text-input-medium-1-label">Medium</label>
    <input class="ecl-text-input ecl-text-input--m" id="text-input-medium-1" name="text-input-medium-1" type="text">
  </div>
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="text-input-large-1" id="text-input-large-1-label">Large</label>
    <input class="ecl-text-input ecl-text-input--l" id="text-input-large-1" name="text-input-large-1" type="text">
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Text Input Types</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="text-input-text-1" id="text-input-text-1-label">Text</label>
    <input class="ecl-text-input ecl-text-input--m" id="text-input-text-1" name="text-input-text-1" type="text">
  </div>
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="text-input-email-1" id="text-input-email-1-label">Email</label>
    <input class="ecl-text-input ecl-text-input--m" id="text-input-email-1" name="text-input-email-1" type="email">
  </div>
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="text-input-password-1" id="text-input-password-1-label">Password</label>
    <input class="ecl-text-input ecl-text-input--m" id="text-input-password-1" name="text-input-password-1" type="password">
  </div>
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="text-input-number-1" id="text-input-number-1-label">Number</label>
    <input class="ecl-text-input ecl-text-input--m" id="text-input-number-1" name="text-input-number-1" type="number">
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Text Input with Default Value</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label" for="text-input-value-1" id="text-input-value-1-label">Label</label>
    <input class="ecl-text-input ecl-text-input--m" id="text-input-value-1" name="text-input-value-1" type="text" value="Hello world!">
  </div>
</div>
