<h3 class="ecl-u-type-heading-3">Basic Text Area</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label" for="textarea-basic-1" id="textarea-basic-1-label">Label <span class="ecl-form-label__optional">(optional)</span></label>
    <div class="ecl-help-block" id="textarea-basic-1-helper">
      Optional help text
    </div>
    <textarea aria-describedby="textarea-basic-1-helper" class="ecl-text-area ecl-text-area--m" id="textarea-basic-1" placeholder="Placeholder text" rows="4"></textarea>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Disabled Text Area</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label ecl-form-label--disabled" for="textarea-disabled-1" id="textarea-disabled-1-label">Label <span class="ecl-form-label__optional">(optional)</span></label>
    <div class="ecl-help-block ecl-help-block--disabled" id="textarea-disabled-1-helper">
      Optional help text
    </div>
    <textarea aria-describedby="textarea-disabled-1-helper" class="ecl-text-area ecl-text-area--m" disabled id="textarea-disabled-1" placeholder="Placeholder text" rows="4"></textarea>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Invalid Text Area</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label ecl-form-label--invalid" for="textarea-invalid-1" id="textarea-invalid-1-label">Label <span class="ecl-form-label__optional">(optional)</span></label>
    <div class="ecl-help-block" id="textarea-invalid-1-helper">
      Optional help text
    </div>
    <textarea aria-describedby="textarea-invalid-1-helper textarea-invalid-1-invalid" aria-invalid="true" class="ecl-text-area ecl-text-area--invalid ecl-text-area--m" id="textarea-invalid-1" placeholder="Placeholder text" rows="4"></textarea>
    <div class="ecl-feedback-message" id="textarea-invalid-1-invalid">
      <span class="wt-icon--error-outline ecl-icon ecl-icon--xs ecl-feedback-message__icon" data-ecl-icon aria-hidden="true"></span>
      Error text
    </div>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Required Text Area</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label" for="textarea-required-1" id="textarea-required-1-label">Label <span class="ecl-form-label__required">*</span></label>
    <div class="ecl-help-block" id="textarea-required-1-helper">
      Optional help text
    </div>
    <textarea aria-describedby="textarea-required-1-helper" class="ecl-text-area ecl-text-area--m" id="textarea-required-1" placeholder="Placeholder text" required rows="4"></textarea>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Text Area Sizes</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="textarea-small-1" id="textarea-small-1-label">Small</label>
    <textarea class="ecl-text-area ecl-text-area--s" id="textarea-small-1" rows="4"></textarea>
  </div>
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="textarea-medium-1" id="textarea-medium-1-label">Medium</label>
    <textarea class="ecl-text-area ecl-text-area--m" id="textarea-medium-1" rows="4"></textarea>
  </div>
  <div class="ecl-form-group ecl-u-mr-l">
    <label class="ecl-form-label" for="textarea-large-1" id="textarea-large-1-label">Large</label>
    <textarea class="ecl-text-area ecl-text-area--l" id="textarea-large-1" rows="4"></textarea>
  </div>
</div>

<h3 class="ecl-u-type-heading-3">Text Area with Default Value</h3>
<div class="ecl-u-mb-l">
  <div class="ecl-form-group">
    <label class="ecl-form-label" for="textarea-value-1" id="textarea-value-1-label">Label</label>
    <textarea class="ecl-text-area ecl-text-area--m" id="textarea-value-1" rows="4">Hello world!</textarea>
  </div>
</div>
