<!-- Default text input -->
<input
  id="example-input-id-1"
  class="ecl-text-input ecl-text-input--m"
  type="text"
  placeholder="Placeholder text"
/>

<!-- Named text input -->
<input
  id="text-input-named"
  class="ecl-text-input ecl-text-input--m"
  name="email"
  type="email"
  placeholder="name@example.eu"
/>

<!-- Invalid text input -->
<input
  id="text-input-invalid"
  class="ecl-text-input ecl-text-input--invalid ecl-text-input--m"
  name="invalid-example"
  type="text"
  placeholder="Invalid value"
/>

<!-- Disabled text input -->
<input
  id="text-input-disabled"
  class="ecl-text-input ecl-text-input--m"
  name="disabled-example"
  type="text"
  placeholder="Disabled value"
  disabled
/>

<!-- Required text input -->
<input
  id="text-input-required"
  class="ecl-text-input ecl-text-input--m"
  name="required-example"
  type="text"
  placeholder="Required value"
  required
/>

<!-- Readonly text input through extension attributes -->
<input
  id="text-input-readonly"
  class="ecl-text-input ecl-text-input--m"
  name="readonly-example"
  type="text"
  readonly
/>

<!-- Small width -->
<input
  id="text-input-small"
  class="ecl-text-input ecl-text-input--s"
  name="small-example"
  type="text"
/>

<!-- Medium width -->
<input
  id="text-input-medium"
  class="ecl-text-input ecl-text-input--m"
  name="medium-example"
  type="text"
/>

<!-- Large width -->
<input
  id="text-input-large"
  class="ecl-text-input ecl-text-input--l"
  name="large-example"
  type="text"
/>

<!-- Search type -->
<input
  id="text-input-search"
  class="ecl-text-input ecl-text-input--m"
  name="search-example"
  type="search"
  placeholder="Search"
/>

<!-- Number type -->
<input
  id="text-input-number"
  class="ecl-text-input ecl-text-input--m"
  name="number-example"
  type="number"
/>

<!-- Extension classes and attributes -->
<input
  id="text-input-extension"
  class="ecl-text-input ecl-text-input--m custom-class custom-class--test"
  name="extension-example"
  type="text"
  data-test="data-test-value"
  data-valueless
/>

<!-- Value attribute through extension attributes -->
<input
  id="text-input-value"
  class="ecl-text-input ecl-text-input--m"
  name="value-example"
  type="text"
  value="Hello world!"
/>

<!-- Empty optional id, name, type, and placeholder output -->
<input class="ecl-text-input ecl-text-input--m" />

<!-- Color mode: blue -->
<input
  id="text-input-color-blue"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--blue"
  type="text"
/>

<!-- Color mode: blue electric -->
<input
  id="text-input-color-blue-electric"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--blue-electric"
  type="text"
/>

<!-- Color mode: blue navy -->
<input
  id="text-input-color-blue-navy"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--blue-navy"
  type="text"
/>

<!-- Color mode: blue ocean -->
<input
  id="text-input-color-blue-ocean"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--blue-ocean"
  type="text"
/>

<!-- Color mode: green -->
<input
  id="text-input-color-green"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--green"
  type="text"
/>

<!-- Color mode: green dark -->
<input
  id="text-input-color-green-dark"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--green-dark"
  type="text"
/>

<!-- Color mode: green lemon -->
<input
  id="text-input-color-green-lemon"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--green-lemon"
  type="text"
/>

<!-- Color mode: green pine -->
<input
  id="text-input-color-green-pine"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--green-pine"
  type="text"
/>

<!-- Color mode: orange -->
<input
  id="text-input-color-orange"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--orange"
  type="text"
/>

<!-- Color mode: purple -->
<input
  id="text-input-color-purple"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--purple"
  type="text"
/>

<!-- Color mode: purple violet -->
<input
  id="text-input-color-purple-violet"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--purple-violet"
  type="text"
/>

<!-- Color mode: red crayola -->
<input
  id="text-input-color-red-crayola"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--red-crayola"
  type="text"
/>

<!-- Color mode: red tomato -->
<input
  id="text-input-color-red-tomato"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--red-tomato"
  type="text"
/>

<!-- Color mode: warm grey -->
<input
  id="text-input-color-warm-grey"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--warm-grey"
  type="text"
/>

<!-- Color mode: yellow gold -->
<input
  id="text-input-color-yellow-gold"
  class="ecl-text-input ecl-text-input--m ecl-color-mode--yellow-gold"
  type="text"
/>
