<h3 class="ecl-u-type-heading-3 ecl-u-mb-m">Timeline without hidden items</h3>
<div class="ecl-u-mb-2xl">
  <ol class="ecl-timeline" data-ecl-auto-init="Timeline" data-ecl-timeline>
    <li class="ecl-timeline__item" id="timeline-basic-1">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">13 September 2017</div>
        <div class="ecl-timeline__title">State of the Union speech</div>
        <div class="ecl-timeline__content">
          <a class="ecl-link" href="/example">President Juncker's speech</a>
        </div>
      </div>
    </li>
    <li class="ecl-timeline__item" id="timeline-basic-2">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">14 September 2017</div>
        <div class="ecl-timeline__content">
          Timeline item with a label and content, but no title.
        </div>
      </div>
    </li>
    <li class="ecl-timeline__item" id="timeline-basic-3">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__title">Publication</div>
      </div>
    </li>
  </ol>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-m">
  Timeline with headline and collapsed middle items
</h3>
<div class="ecl-u-mb-2xl">
  <ol
    class="ecl-timeline ecl-timeline--has-headline custom-class custom-class--test"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
    data-test="timeline-value"
    data-test-flag
  >
    <li class="ecl-timeline__item ecl-timeline__item--headline">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">2025</div>
        <div class="ecl-timeline__title">Headline title</div>
        <div class="ecl-timeline__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </div>
    </li>
    <li class="ecl-timeline__item" id="timeline-collapsed-1">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Item 1 label</div>
        <div class="ecl-timeline__title">Item 1 title</div>
        <div class="ecl-timeline__content">Nulla vel mattis justo</div>
      </div>
    </li>
    <li class="ecl-timeline__item" id="timeline-collapsed-2">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Item 2 label</div>
        <div class="ecl-timeline__title">Item 2 title</div>
        <div class="ecl-timeline__content">
          Etiam tempus augue mi, in tincidunt dolor tincidunt id.
        </div>
      </div>
    </li>
    <li
      class="ecl-timeline__item ecl-timeline__item--collapsed"
      id="timeline-collapsed-3"
    >
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Item 3 label</div>
        <div class="ecl-timeline__content">
          This item starts in the collapsed middle range.
        </div>
      </div>
    </li>
    <li
      class="ecl-timeline__item ecl-timeline__item--collapsed"
      id="timeline-collapsed-4"
    >
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__title">Item 4 title</div>
      </div>
    </li>
    <li class="ecl-timeline__item ecl-timeline__item--toggle">
      <button
        class="ecl-button ecl-button--secondary ecl-timeline__toggle"
        type="button"
        data-ecl-timeline-button
        data-ecl-label-collapsed="Show 2 more items"
        data-ecl-label-expanded="Show less"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Show 2 more items</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--corner-arrow ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </li>
    <li class="ecl-timeline__item" id="timeline-collapsed-5">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Item 5 label</div>
        <div class="ecl-timeline__content">Bottom item after the toggle.</div>
      </div>
    </li>
  </ol>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-m">
  Timeline with positive hide boundary
</h3>
<div class="ecl-u-mb-2xl">
  <ol class="ecl-timeline" data-ecl-auto-init="Timeline" data-ecl-timeline>
    <li class="ecl-timeline__item" id="timeline-positive-1">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Step 1</div>
      </div>
    </li>
    <li
      class="ecl-timeline__item ecl-timeline__item--collapsed"
      id="timeline-positive-2"
    >
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__title">Hidden middle item</div>
      </div>
    </li>
    <li class="ecl-timeline__item ecl-timeline__item--toggle">
      <button
        class="ecl-button ecl-button--secondary ecl-timeline__toggle"
        type="button"
        data-ecl-timeline-button
        data-ecl-label-collapsed="Show 1 more item"
        data-ecl-label-expanded="Show less"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Show 1 more item</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--corner-arrow ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </li>
    <li class="ecl-timeline__item" id="timeline-positive-3">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__content">
          Visible item after a positive to value.
        </div>
      </div>
    </li>
  </ol>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-m">Timeline with no bottom items</h3>
<div class="ecl-u-mb-2xl">
  <ol class="ecl-timeline" data-ecl-auto-init="Timeline" data-ecl-timeline>
    <li class="ecl-timeline__item" id="timeline-no-bottom-1">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Visible item</div>
      </div>
    </li>
    <li
      class="ecl-timeline__item ecl-timeline__item--collapsed"
      id="timeline-no-bottom-2"
    >
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__content">Collapsed final item.</div>
      </div>
    </li>
    <li class="ecl-timeline__item ecl-timeline__item--toggle">
      <button
        class="ecl-button ecl-button--secondary ecl-timeline__toggle"
        type="button"
        data-ecl-timeline-button
        data-ecl-label-collapsed="Show 1 more item"
        data-ecl-label-expanded="Show less"
      >
        <span class="ecl-button__container">
          <span class="ecl-button__label" data-ecl-label="true"
            >Show 1 more item</span
          >
          <span
            class="wt-icon--corner-arrow ecl-icon ecl-icon--corner-arrow ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon"
            aria-hidden="true"
            data-ecl-icon
          ></span>
        </span>
      </button>
    </li>
  </ol>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-m">Timeline set</h3>
<div class="ecl-u-mb-2xl">
  <div
    class="ecl-timeline-set timeline-set-extra"
    data-set="example"
    data-set-flag
  >
    <ol
      class="ecl-timeline ecl-color-mode--blue ecl-timeline--has-headline"
      data-ecl-auto-init="Timeline"
      data-ecl-timeline
    >
      <li class="ecl-timeline__item ecl-timeline__item--headline">
        <div class="ecl-timeline__tooltip">
          <div class="ecl-timeline__tooltip-arrow"></div>
          <div class="ecl-timeline__label">2025</div>
          <div class="ecl-timeline__title">First timeline</div>
        </div>
      </li>
      <li class="ecl-timeline__item" id="timeline-set-1-1">
        <div class="ecl-timeline__tooltip">
          <div class="ecl-timeline__tooltip-arrow"></div>
          <div class="ecl-timeline__label">First item</div>
        </div>
      </li>
    </ol>
    <ol
      class="ecl-timeline ecl-color-mode--green"
      data-ecl-auto-init="Timeline"
      data-ecl-timeline
    >
      <li class="ecl-timeline__item" id="timeline-set-2-1">
        <div class="ecl-timeline__tooltip">
          <div class="ecl-timeline__tooltip-arrow"></div>
          <div class="ecl-timeline__title">Second timeline</div>
        </div>
      </li>
    </ol>
  </div>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-m">Root-only edge case</h3>
<div class="ecl-u-mb-2xl">
  <ol
    class="ecl-timeline root-only-example"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  ></ol>
</div>

<h3 class="ecl-u-type-heading-3 ecl-u-mb-m">Color modes</h3>
<div class="ecl-u-mb-2xl">
  <ol
    class="ecl-timeline ecl-color-mode--blue-electric"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-blue-electric">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Blue electric</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--blue-navy"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-blue-navy">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Blue navy</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--blue-ocean"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-blue-ocean">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Blue ocean</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--green-dark"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-green-dark">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Green dark</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--green-lemon"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-green-lemon">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Green lemon</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--green-pine"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-green-pine">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Green pine</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--orange"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-orange">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Orange</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--purple"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-purple">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Purple</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--purple-violet"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-purple-violet">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Purple violet</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--red-crayola"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-red-crayola">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Red crayola</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--red-tomato"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-red-tomato">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Red tomato</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--warm-grey"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-warm-grey">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Warm grey</div>
      </div>
    </li>
  </ol>
  <ol
    class="ecl-timeline ecl-color-mode--yellow-gold"
    data-ecl-auto-init="Timeline"
    data-ecl-timeline
  >
    <li class="ecl-timeline__item" id="timeline-yellow-gold">
      <div class="ecl-timeline__tooltip">
        <div class="ecl-timeline__tooltip-arrow"></div>
        <div class="ecl-timeline__label">Yellow gold</div>
      </div>
    </li>
  </ol>
</div>
