<ol class="ecl-timeline ecl-timeline--has-headline" data-ecl-auto-init="Timeline" data-ecl-timeline>
  <li class="ecl-timeline__item ecl-timeline__item--headline">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Headline</div>
      <div class="ecl-timeline__title">Headline title</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu metus risus.</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item" id="ecl-timeline-item-1">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 1 label</div>
      <div class="ecl-timeline__title">Item 1 title</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Nulla vel mattis justo</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item" id="ecl-timeline-item-2">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 2 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Etiam tempus augue mi, in tincidunt dolor tincidunt id</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item" id="ecl-timeline-item-3">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 3 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Suspendisse venenatis condimentum turpis, in lobortis ante finibus nec. Morbi consequat purus in nulla facilisis lacinia.</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item" id="ecl-timeline-item-4">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__title">Item 4 title</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m"><a href="/example" class="ecl-link">Nulla finibus eleifend felis</a></p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item" id="ecl-timeline-item-5">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Suspendisse varius neque at nunc auctor, vel dictum purus pellentesque. Etiam ac ex mi. Fusce sed posuere ligula, sed malesuada nisl. Nulla elementum condimentum nunc at bibendum</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item ecl-timeline__item--collapsed" id="ecl-timeline-item-6">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 6 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item ecl-timeline__item--collapsed" id="ecl-timeline-item-7">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 7 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item ecl-timeline__item--collapsed" id="ecl-timeline-item-8">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 8 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item ecl-timeline__item--collapsed" id="ecl-timeline-item-9">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 9 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item ecl-timeline__item--collapsed" id="ecl-timeline-item-10">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 10 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item ecl-timeline__item--collapsed" id="ecl-timeline-item-11">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 11 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item ecl-timeline__item--collapsed" id="ecl-timeline-item-12">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 12 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item ecl-timeline__item--collapsed" id="ecl-timeline-item-13">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 13 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item ecl-timeline__item--toggle">
    <button class="ecl-button ecl-button--secondary ecl-timeline__toggle" type="button" data-ecl-timeline-button data-ecl-label-collapsed="Show 8 more items" data-ecl-label-expanded="Show less">
      <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true">Show 8 more items</span>
        <span class="ecl-button__icon-container">
          <span class="wt-icon--corner-arrow ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon></span>
        </span>
      </span>
    </button>
  </li>
  <li class="ecl-timeline__item" id="ecl-timeline-item-14">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 14 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </li>
  <li class="ecl-timeline__item" id="ecl-timeline-item-15">
    <div class="ecl-timeline__tooltip">
      <div class="ecl-timeline__tooltip-arrow"></div>
      <div class="ecl-timeline__label">Item 15 label</div>
      <div class="ecl-timeline__content">
        <p class="ecl-u-type-paragraph-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros est, sodales eu eleifend sit amet, luctus eu arcu. Aenean tincidunt nulla at ante mollis, ut vulputate purus volutpat.</p>
      </div>
    </div>
  </li>
</ol>
