<h3 class="ecl-u-type-heading-3">Basic Unordered List</h3>
<ul class="ecl-unordered-list ecl-u-mb-l">
  <li class="ecl-unordered-list__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
  <li class="ecl-unordered-list__item">Nam dignissim condimentum pulvinar. Nullam volutpat tortor vel turpis iaculis feugiat</li>
  <li class="ecl-unordered-list__item">Vestibulum sed accumsan ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae</li>
</ul>

<h3 class="ecl-u-type-heading-3">Nested Unordered List</h3>
<ul class="ecl-unordered-list ecl-u-mb-l">
  <li class="ecl-unordered-list__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">Duis commodo nibh eget magna tincidunt, in volutpat diam consequat</li>
      <li class="ecl-unordered-list__item">Phasellus suscipit eu augue nec suscipit</li>
    </ul>
  </li>
  <li class="ecl-unordered-list__item">Nam dignissim condimentum pulvinar. Nullam volutpat tortor vel turpis iaculis feugiat. Vivamus eget turpis a est lacinia blandit</li>
  <li class="ecl-unordered-list__item">Vestibulum sed accumsan ipsum
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">Morbi vitae tortor accumsan</li>
      <li class="ecl-unordered-list__item">Nulla facilisi</li>
      <li class="ecl-unordered-list__item">Phasellus in metus et libero scelerisque sagittis sollicitudin at lectus</li>
    </ul>
  </li>
</ul>

<h3 class="ecl-u-type-heading-3">Unordered List with Links</h3>
<ul class="ecl-unordered-list ecl-u-mb-l">
  <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Duis commodo nibh eget magna</a></li>
      <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Phasellus suscipit</a></li>
    </ul>
  </li>
  <li class="ecl-unordered-list__item">Nam dignissim condimentum pulvinar. Nullam volutpat tortor vel turpis iaculis feugiat. Vivamus eget turpis a est lacinia blandit</li>
  <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Vestibulum sed accumsan ipsum</a>
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Morbi vitae tortor accumsan</a></li>
      <li class="ecl-unordered-list__item">Nulla facilisi</li>
      <li class="ecl-unordered-list__item">Phasellus in metus et libero scelerisque sagittis sollicitudin at lectus</li>
    </ul>
  </li>
</ul>

<h3 class="ecl-u-type-heading-3">Unordered List with Divider</h3>
<ul class="ecl-unordered-list ecl-unordered-list--divider ecl-u-mb-l">
  <li class="ecl-unordered-list__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit
    <ul class="ecl-unordered-list ecl-unordered-list--divider">
      <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Duis commodo nibh eget magna</a></li>
      <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Phasellus suscipit</a></li>
    </ul>
  </li>
  <li class="ecl-unordered-list__item">Nam dignissim condimentum pulvinar. Nullam volutpat tortor vel turpis iaculis feugiat. Vivamus eget turpis a est lacinia blandit</li>
  <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Vestibulum sed accumsan ipsum</a>
    <ul class="ecl-unordered-list ecl-unordered-list--divider">
      <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Morbi vitae tortor accumsan</a></li>
      <li class="ecl-unordered-list__item">Nulla facilisi</li>
      <li class="ecl-unordered-list__item">Phasellus in metus et libero scelerisque sagittis sollicitudin at lectus</li>
    </ul>
  </li>
</ul>

<h3 class="ecl-u-type-heading-3">Unordered List without Markers</h3>
<ul class="ecl-unordered-list ecl-unordered-list--no-marker ecl-u-mb-l">
  <li class="ecl-unordered-list__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit
    <ul class="ecl-unordered-list ecl-unordered-list--no-marker">
      <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Duis commodo nibh eget magna</a></li>
      <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Phasellus suscipit</a></li>
    </ul>
  </li>
  <li class="ecl-unordered-list__item">Nam dignissim condimentum pulvinar. Nullam volutpat tortor vel turpis iaculis feugiat. Vivamus eget turpis a est lacinia blandit</li>
  <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Vestibulum sed accumsan ipsum</a>
    <ul class="ecl-unordered-list ecl-unordered-list--no-marker">
      <li class="ecl-unordered-list__item"><a class="ecl-link" href="/example">Morbi vitae tortor accumsan</a></li>
      <li class="ecl-unordered-list__item">Nulla facilisi</li>
      <li class="ecl-unordered-list__item">Phasellus in metus et libero scelerisque sagittis sollicitudin at lectus</li>
    </ul>
  </li>
</ul>
