<!-- Default text list with nested lists -->
<ul class="ecl-unordered-list">
  <li class="ecl-unordered-list__item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">
        Duis commodo nibh eget magna tincidunt, in volutpat diam consequat.
        Nulla in blandit leo. Quisque ultricies molestie porta
      </li>
      <li class="ecl-unordered-list__item">
        Phasellus suscipit eu augue nec suscipit
      </li>
    </ul>
  </li>
  <li class="ecl-unordered-list__item">
    Nam dignissim condimentum pulvinar. Nullam volutpat tortor vel turpis
    iaculis feugiat. Vivamus eget turpis a est lacinia blandit. Suspendisse
    tellus lorem, aliquam at ante quis, dignissim iaculis lectus. Duis
    pellentesque neque faucibus convallis scelerisque
  </li>
  <li class="ecl-unordered-list__item">
    Vestibulum sed accumsan ipsum. Vestibulum ante ipsum primis in faucibus orci
    luctus et ultrices posuere cubilia curae
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">Morbi vitae tortor accumsan</li>
      <li class="ecl-unordered-list__item">Nulla facilisi</li>
      <li class="ecl-unordered-list__item">
        Phasellus in metus et libero scelerisque sagittis sollicitudin at lectus
      </li>
    </ul>
  </li>
</ul>

<!-- Link labels -->
<ul class="ecl-unordered-list">
  <li class="ecl-unordered-list__item">
    <a class="ecl-link" href="/example"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit</a
    >
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Duis commodo nibh eget magna</a>
      </li>
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Phasellus suscipit</a>
      </li>
    </ul>
  </li>
  <li class="ecl-unordered-list__item">
    <a class="ecl-link" href="/example"
      >Nam dignissim condimentum pulvinar. Nullam volutpat tortor vel turpis
      iaculis feugiat. Vivamus eget turpis a est lacinia blandit</a
    >
  </li>
  <li class="ecl-unordered-list__item">
    <a class="ecl-link" href="/example">Vestibulum sed accumsan ipsum</a>
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Morbi vitae tortor accumsan</a>
      </li>
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Nulla facilisi</a>
      </li>
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example"
          >Phasellus in metus et libero scelerisque sagittis sollicitudin at
          lectus</a
        >
      </li>
    </ul>
  </li>
</ul>

<!-- Divider variant; nested lists remain plain in tagged Twig output -->
<ul class="ecl-unordered-list ecl-unordered-list--divider">
  <li class="ecl-unordered-list__item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Duis commodo nibh eget magna</a>
      </li>
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Phasellus suscipit</a>
      </li>
    </ul>
  </li>
  <li class="ecl-unordered-list__item">
    Nam dignissim condimentum pulvinar. Nullam volutpat tortor vel turpis
    iaculis feugiat. Vivamus eget turpis a est lacinia blandit
  </li>
  <li class="ecl-unordered-list__item">
    <a class="ecl-link" href="/example">Vestibulum sed accumsan ipsum</a>
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Morbi vitae tortor accumsan</a>
      </li>
      <li class="ecl-unordered-list__item">Nulla facilisi</li>
      <li class="ecl-unordered-list__item">
        Phasellus in metus et libero scelerisque sagittis sollicitudin at lectus
      </li>
    </ul>
  </li>
</ul>

<!-- No-marker variant; nested lists remain plain in tagged Twig output -->
<ul class="ecl-unordered-list ecl-unordered-list--no-marker">
  <li class="ecl-unordered-list__item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Duis commodo nibh eget magna</a>
      </li>
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Phasellus suscipit</a>
      </li>
    </ul>
  </li>
  <li class="ecl-unordered-list__item">
    Nam dignissim condimentum pulvinar. Nullam volutpat tortor vel turpis
    iaculis feugiat. Vivamus eget turpis a est lacinia blandit
  </li>
  <li class="ecl-unordered-list__item">
    <a class="ecl-link" href="/example">Vestibulum sed accumsan ipsum</a>
    <ul class="ecl-unordered-list">
      <li class="ecl-unordered-list__item">
        <a class="ecl-link" href="/example">Morbi vitae tortor accumsan</a>
      </li>
      <li class="ecl-unordered-list__item">Nulla facilisi</li>
      <li class="ecl-unordered-list__item">
        Phasellus in metus et libero scelerisque sagittis sollicitudin at lectus
      </li>
    </ul>
  </li>
</ul>

<!-- Extension hooks -->
<ul
  class="ecl-unordered-list custom-class custom-class--test"
  data-test="data-test-value"
  data-test-flag
>
  <li class="ecl-unordered-list__item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
  </li>
</ul>

<!-- Empty items render no markup in tagged Twig output. -->

<!-- Color modes -->
<ul class="ecl-unordered-list ecl-color-mode--blue">
  <li class="ecl-unordered-list__item">Blue color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--blue-electric">
  <li class="ecl-unordered-list__item">Blue electric color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--blue-navy">
  <li class="ecl-unordered-list__item">Blue navy color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--blue-ocean">
  <li class="ecl-unordered-list__item">Blue ocean color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--green">
  <li class="ecl-unordered-list__item">Green color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--green-dark">
  <li class="ecl-unordered-list__item">Green dark color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--green-lemon">
  <li class="ecl-unordered-list__item">Green lemon color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--green-pine">
  <li class="ecl-unordered-list__item">Green pine color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--orange">
  <li class="ecl-unordered-list__item">Orange color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--purple">
  <li class="ecl-unordered-list__item">Purple color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--purple-violet">
  <li class="ecl-unordered-list__item">Purple violet color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--red-crayola">
  <li class="ecl-unordered-list__item">Red crayola color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--red-tomato">
  <li class="ecl-unordered-list__item">Red tomato color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--warm-grey">
  <li class="ecl-unordered-list__item">Warm grey color mode</li>
</ul>
<ul class="ecl-unordered-list ecl-color-mode--yellow-gold">
  <li class="ecl-unordered-list__item">Yellow gold color mode</li>
</ul>
